@import "mixins.scss";
#PumpVisual_Ellipse1 {	@include elemTop(0);
}
#PumpVisual_Ellipse1 {	@include elemLeft(20);
}
#PumpVisual_Ellipse1 {	@include elemWidth(50);
}
#PumpVisual_Ellipse1 {	@include elemHeight(50);
}
#PumpVisual_Ellipse1 {	z-index: 2;
}
#PumpVisual_Ellipse1 {	background-color: rgba(211, 211, 211, 1);
}
#PumpVisual_Rectangle1 {	@include elemTop(0);
}
#PumpVisual_Rectangle1 {	@include elemLeft(50);
}
#PumpVisual_Rectangle1 {	@include elemWidth(30);
}
#PumpVisual_Rectangle1 {	@include elemHeight(12);
}
#PumpVisual_Rectangle1 {	z-index: 0;
}
#PumpVisual_Rectangle1 {	background-color: rgba(211, 211, 211, 1);
}
#PumpVisual_Rectangle2 {	@include elemTop(40);
}
#PumpVisual_Rectangle2 {	@include elemLeft(10);
}
#PumpVisual_Rectangle2 {	@include elemWidth(30);
}
#PumpVisual_Rectangle2 {	@include elemHeight(10);
}
#PumpVisual_Rectangle2 {	z-index: 1;
}
#PumpVisual_Rectangle2 {	background-color: rgba(211, 211, 211, 1);
}
#PumpVisual_Ellipse2 {	@include elemTop(20);
}
#PumpVisual_Ellipse2 {	@include elemLeft(40);
}
#PumpVisual_Ellipse2 {	@include elemWidth(10);
}
#PumpVisual_Ellipse2 {	@include elemHeight(10);
}
#PumpVisual_Ellipse2 {	z-index: 3;
}
#PumpVisual_TextOutput1 {	@include elemTop(50);
}
#PumpVisual_TextOutput1 {	@include elemLeft(10);
}
#PumpVisual_TextOutput1 {	@include elemAutoWidth(70);
}
#PumpVisual_TextOutput1 {	z-index: 4;
}
#PumpVisual_TextOutput1 {	@include text-alignment-all('center');
}
#PumpVisual_TextOutput1 {	@include elemAutoHeight(30);
}
#PumpVisual_NumericOutput1 {	@include elemTop(70);
}
#PumpVisual_NumericOutput1 {	@include elemLeft(0);
}
#PumpVisual_NumericOutput1 {	@include elemAutoWidth(80);
}
#PumpVisual_NumericOutput1 {	z-index: 5;
}
#PumpVisual_NumericOutput1 {	@include elemAutoHeight(30);
}
#PumpVisual_TextOutput2 {	@include elemTop(-5);
}
#PumpVisual_TextOutput2 {	@include elemLeft(-10);
}
#PumpVisual_TextOutput2 {	@include elemAutoWidth(30);
}
#PumpVisual_TextOutput2 {	z-index: 6;
}
#PumpVisual_TextOutput2 {	@include elemAutoHeight(30);
}
