@import "mixins.scss";
#DosingInformation_Rectangle1 {	@include elemTop(10);
}
#DosingInformation_Rectangle1 {	@include elemLeft(50);
}
#DosingInformation_Rectangle1 {	@include elemWidth(230);
}
#DosingInformation_Rectangle1 {	@include elemHeight(570);
}
#DosingInformation_Rectangle1 {	z-index: 0;
}
#DosingInformation_TextOutput3 {	@include elemTop(20);
}
#DosingInformation_TextOutput3 {	@include elemLeft(80);
}
#DosingInformation_TextOutput3 {	@include elemAutoWidth(130);
}
#DosingInformation_TextOutput3 {	z-index: 1;
}
#DosingInformation_TextOutput3 {	@include text-alignment-all('center');
}
#DosingInformation_TextOutput3 {	font-size: 14px;
}
#DosingInformation_TextOutput3 {	@include elemAutoHeight(30);
}
#DosingInformation_TextOutput4 {	@include elemTop(70);
}
#DosingInformation_TextOutput4 {	@include elemLeft(60);
}
#DosingInformation_TextOutput4 {	@include elemAutoWidth(130);
}
#DosingInformation_TextOutput4 {	z-index: 2;
}
#DosingInformation_TextOutput4 {	@include text-alignment-all('left');
}
#DosingInformation_TextOutput4 {	font-size: 12px;
}
#DosingInformation_TextOutput4 {	@include elemAutoHeight(30);
}
#DosingInformation_TextOutput5 {	@include elemTop(110);
}
#DosingInformation_TextOutput5 {	@include elemLeft(60);
}
#DosingInformation_TextOutput5 {	@include elemAutoWidth(130);
}
#DosingInformation_TextOutput5 {	z-index: 3;
}
#DosingInformation_TextOutput5 {	@include text-alignment-all('left');
}
#DosingInformation_TextOutput5 {	font-size: 12px;
}
#DosingInformation_TextOutput5 {	@include elemAutoHeight(30);
}
#DosingInformation_ProgressBar1 {	@include elemTop(310);
}
#DosingInformation_ProgressBar1 {	@include elemLeft(70);
}
#DosingInformation_ProgressBar1 {	@include elemWidth(40);
}
#DosingInformation_ProgressBar1 {	@include elemHeight(240);
}
#DosingInformation_ProgressBar1 {	z-index: 6;
}
#DosingInformation_ProgressBar1 {	.pb-progress {
		background-color: rgba(0, 204, 204, 1);
	}
}
#DosingInformation_Line2 {	z-index: 5;
}
#DosingInformation_Line3 {	z-index: 4;
}
#DosingInformation_TextOutput6 {	@include elemTop(340);
}
#DosingInformation_TextOutput6 {	@include elemLeft(100);
}
#DosingInformation_TextOutput6 {	@include elemAutoWidth(45);
}
#DosingInformation_TextOutput6 {	z-index: 7;
}
#DosingInformation_TextOutput6 {	@include text-alignment-all('left');
}
#DosingInformation_TextOutput6 {	font-size: 12px;
}
#DosingInformation_TextOutput6 {	@include elemAutoHeight(30);
}
#DosingInformation_TextOutput7 {	@include elemTop(420);
}
#DosingInformation_TextOutput7 {	@include elemLeft(100);
}
#DosingInformation_TextOutput7 {	@include elemAutoWidth(45);
}
#DosingInformation_TextOutput7 {	z-index: 8;
}
#DosingInformation_TextOutput7 {	@include text-alignment-all('left');
}
#DosingInformation_TextOutput7 {	font-size: 12px;
}
#DosingInformation_TextOutput7 {	@include elemAutoHeight(30);
}
#DosingInformation_ProgressBar2 {	@include elemTop(310);
}
#DosingInformation_ProgressBar2 {	@include elemLeft(180);
}
#DosingInformation_ProgressBar2 {	@include elemWidth(40);
}
#DosingInformation_ProgressBar2 {	@include elemHeight(240);
}
#DosingInformation_ProgressBar2 {	z-index: 11;
}
#DosingInformation_ProgressBar2 {	.pb-progress {
		background-color: rgba(0, 204, 204, 1);
	}
}
#DosingInformation_Line4 {	z-index: 10;
}
#DosingInformation_Line5 {	z-index: 9;
}
#DosingInformation_TextOutput8 {	@include elemTop(340);
}
#DosingInformation_TextOutput8 {	@include elemLeft(210);
}
#DosingInformation_TextOutput8 {	@include elemAutoWidth(45);
}
#DosingInformation_TextOutput8 {	z-index: 12;
}
#DosingInformation_TextOutput8 {	@include text-alignment-all('left');
}
#DosingInformation_TextOutput8 {	font-size: 12px;
}
#DosingInformation_TextOutput8 {	@include elemAutoHeight(30);
}
#DosingInformation_TextOutput9 {	@include elemTop(420);
}
#DosingInformation_TextOutput9 {	@include elemLeft(210);
}
#DosingInformation_TextOutput9 {	@include elemAutoWidth(45);
}
#DosingInformation_TextOutput9 {	z-index: 13;
}
#DosingInformation_TextOutput9 {	@include text-alignment-all('left');
}
#DosingInformation_TextOutput9 {	font-size: 12px;
}
#DosingInformation_TextOutput9 {	@include elemAutoHeight(30);
}
#DosingInformation_NumericOutput1 {	@include elemTop(280);
}
#DosingInformation_NumericOutput1 {	@include elemLeft(45);
}
#DosingInformation_NumericOutput1 {	@include elemAutoWidth(90);
}
#DosingInformation_NumericOutput1 {	z-index: 14;
}
#DosingInformation_NumericOutput1 {	@include elemAutoHeight(30);
}
#DosingInformation_NumericOutput2 {	@include elemTop(280);
}
#DosingInformation_NumericOutput2 {	@include elemLeft(160);
}
#DosingInformation_NumericOutput2 {	@include elemAutoWidth(90);
}
#DosingInformation_NumericOutput2 {	z-index: 15;
}
#DosingInformation_NumericOutput2 {	@include elemAutoHeight(30);
}
#DosingInformation_NumericOutput3 {	@include elemTop(110);
}
#DosingInformation_NumericOutput3 {	@include elemLeft(105);
}
#DosingInformation_NumericOutput3 {	z-index: 16;
}
#DosingInformation_NumericOutput3 {	@include elemAutoWidth(100);
}
#DosingInformation_NumericOutput3 {	@include elemAutoHeight(30);
}
#DosingInformation_NumericInput1 {	@include elemTop(70);
}
#DosingInformation_NumericInput1 {	@include elemLeft(135);
}
#DosingInformation_NumericInput1 {	@include elemAutoWidth(65);
}
#DosingInformation_NumericInput1 {	z-index: 17;
}
#DosingInformation_NumericInput1 {	&:not(.disabled):not(.active) {
		border-color: rgba(0, 204, 204, 1);
	}
}
#DosingInformation_NumericInput1 {	@include box-shadow(4px 1px 3px rgba(0, 204, 204, 0.75));
}
#DosingInformation_NumericInput1 {	@include elemAutoHeight(30);
}
