@import "mixins.scss";
@mixin widgets_brease_XYChart_YAxis_base {
	&:not(.disabled) {
		color: #000000;
	}
	&.disabled {
		color: #808080;
	}
	background-color: #000000;
	border-color: #DBDBDB;
	font-size: 12px;
	font-family: Arial;
	& span {
		color: #000000;
	}
	& span {
		font-size: 12px;
	}
	& span {
		font-family: Arial;
	}

}

.widgets_brease_XYChart_YAxis_style_default {
@include widgets_brease_XYChart_YAxis_base
}
