@import "mixins.scss";
@mixin widgets_brease_XYChart_base {
	@include elemWidth(720);
	@include elemHeight(440);
	@include elemMinWidth(0);
	@include elemMaxWidth(0);
	@include elemMinHeight(0);
	@include elemMaxHeight(0);
	border-width: 0px;
	border-color: #000000;
	border-style: solid;
	background-color: #DBDBDB;
	.chart {
		background-color: #DBDBDB;
	}
	&:not(.disabled) .chart {
		color: #FFFFFF;
	}
	&.disabled .chart {
		color: #F0F0F0;
	}
	.cursorTable table {
		background-color: #DBDBDB;
	}
	.cursorTable table {
		border-color: #000000;
	}
	.cursorTable table th {
		border-color: #000000;
	}
	.cursorTable table td {
		border-color: #000000;
	}
	.cursorTable table tr {
		font-family: Arial;
	}
	.cursorTable table tr {
		font-size: 12px;
	}

}

.widgets_brease_XYChart_style_default {
@include widgets_brease_XYChart_base
}
