@import "mixins.scss";
@mixin widgets_brease_XYChart_XAxis_base {
	border-color: #DBDBDB;
	background-color: #000000;
	&:not(.disabled) {
		color: #000000;
	}
	&.disabled {
		color: #808080;
	}
	font-family: Arial;
	font-size: 12px;
	@include rotate(0deg);
	& span {
		color: #000000;
	}
	& span {
		font-size: 12px;
	}
	& span {
		font-family: Arial;
	}

}

