@import '../../../../css/libs/variables.scss';
@import '../../../../css/libs/mixins.scss';

.breaseXYChart {
    box-sizing: border-box;
    width: 720px;
    height: 440px;
    border-width: 0px;
    border-color: #000000;
    border-style: solid;
    background-color: #DBDBDB;

    .chartWrapper {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        canvas {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            /* used to allow click events while the chart redraws */
            pointer-events: none;
            z-index: -1;
        }
    }

    .interactionWrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        .cursorWrapper {
            position: relative;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            width: 100%;
            height: 100%;
            pointer-events: none;
            overflow: hidden;

            .crosshair {
                width: 10px;
                height: 10px;
                position: absolute;
                transform: translate(-50%, -50%);
                border-width: 4px;
                border-style: solid;
                border-radius: 50%;
                background-color: #fff;

                &:before, &:after {
                    display: inline-block;
                    margin-left: 200%;
                    padding: 4px;
                    white-space: nowrap;
                    background-color: inherit;
                    border-color: inherit;
                    border-style: solid;
                }

                &:before {
                    /*content: 'X: ' attr(data-value-x);*/
                }

                &:after {
                    /*content: 'Y: ' attr(data-value-y);*/
                }
            }
        }

        .toolbar {
            margin: 8px;
            text-align: right;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            padding-top: inherit;
            padding-right: inherit;

            .button {
                position: relative;
                display: inline-block;
                height: 32px;
                width: 32px;
                box-sizing: border-box;
                border-radius: 5px;
                vertical-align: middle;
                margin: 0 4px;
                background-color: #b7b7b7;
            }

            .button.reset {
                background-image: url(../widgets/brease/XYChart/assets/zoom_reset.svg);
                background-repeat: no-repeat;
                background-position: center center;
            }

            .button.cursorTable {
                background-image: url(../widgets/brease/XYChart/assets/table.svg);
                background-repeat: no-repeat;
                background-position: center center;
            }


            .button.active, .button:active {
                background-color: #14B9FF;
            }

            .button.cursor:before, .button.cursor:after {
                display: block;
                position: absolute;
                color: #fff;
                border-color: inherit;
                border-width: 3px;
                border-style: solid;
            }

            .button.cursor:before {
                content: "";
                border-top-style: none;
                border-bottom-style: none;
                border-right-style: none;
                top: 5px;
                right: 50%;
                bottom: 5px;
                left: 50%;
                transform: translate(-50%, 0);
            }

            .button.cursor:after {
                content: attr(data-index);
                border-bottom-style: none;
                border-right-style: none;
                border-left-style: none;
                top: 50%;
                right: 5px;
                bottom: 50%;
                left: 5px;
                transform: translate(0, -50%);
            }
        }

        > .cursorTable {
            margin: 8px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            padding: inherit;

            table {
                border-collapse: collapse;
                border-width: 1px;
                border-style: solid;

                tr:first-of-type {
                    background-color: #b7b7b7;
                    color: #fff;

                    th.active {
                        background-color: #14B9FF;
                    }
                }

                th, td {
                    border-width: 1px;
                    border-style: solid;
                    padding: 2px 5px;
                }

                th:first-of-type {
                    text-align: left;
                }

                td {
                    text-align: right;
                }
            }
        }
    }

    .styleElemWrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        overflow: hidden;

        .graph, .xAxis, .yAxis {
            border-style: solid;
        }
    }
    /* A&P 683955: OnlineChart HDA: with content zoom, 
     cursor and value trackball are hidden behind the graph area (chromium bug 1068474) */
    .trackball, .trackballLabel,
    div[id$="_ResetZoom"], div[id$="_PanBtn"], div[id$="_ZoomBtn"],
    div[id$="_CrosshairVertical"], div[id$="_CrosshairHorizontal"] {
        will-change: top;
    }
}
