@import "mixins.scss";
#HA_IO_Analog_Scaling_Labels_Label_Raw {	@include elemTop(0);
}
#HA_IO_Analog_Scaling_Labels_Label_Raw {	@include elemLeft(125);
}
#HA_IO_Analog_Scaling_Labels_Label_Raw {	@include elemAutoWidth(105);
}
#HA_IO_Analog_Scaling_Labels_Label_Raw {	@include elemAutoHeight(35);
}
#HA_IO_Analog_Scaling_Labels_Label_Raw {	z-index: 0;
}
#HA_IO_Analog_Scaling_Labels_Label_Raw {	@include text-alignment-all('center bottom');
}
#HA_IO_Analog_Scaling_Labels_Label_Raw {	font-size: 12px;
}
#HA_IO_Analog_Scaling_Labels_Label_Raw {	span {
		padding: 0px;
	}
}
#HA_IO_Analog_Scaling_Labels_Label_App {	@include elemTop(0);
}
#HA_IO_Analog_Scaling_Labels_Label_App {	@include elemLeft(240);
}
#HA_IO_Analog_Scaling_Labels_Label_App {	@include elemAutoWidth(105);
}
#HA_IO_Analog_Scaling_Labels_Label_App {	@include elemAutoHeight(35);
}
#HA_IO_Analog_Scaling_Labels_Label_App {	z-index: 2;
}
#HA_IO_Analog_Scaling_Labels_Label_App {	@include text-alignment-all('center bottom');
}
#HA_IO_Analog_Scaling_Labels_Label_App {	font-size: 12px;
}
#HA_IO_Analog_Scaling_Labels_Label_App {	span {
		padding: 0px;
	}
}
#HA_IO_Analog_Scaling_Labels_Label_Slope {	@include elemTop(0);
}
#HA_IO_Analog_Scaling_Labels_Label_Slope {	@include elemLeft(350);
}
#HA_IO_Analog_Scaling_Labels_Label_Slope {	@include elemAutoWidth(105);
}
#HA_IO_Analog_Scaling_Labels_Label_Slope {	@include elemAutoHeight(35);
}
#HA_IO_Analog_Scaling_Labels_Label_Slope {	z-index: 3;
}
#HA_IO_Analog_Scaling_Labels_Label_Slope {	@include text-alignment-all('center bottom');
}
#HA_IO_Analog_Scaling_Labels_Label_Slope {	font-size: 12px;
}
#HA_IO_Analog_Scaling_Labels_Label_Slope {	span {
		padding: 0px;
	}
}
#HA_IO_Analog_Scaling_Labels_Label_Intercept {	@include elemTop(0);
}
#HA_IO_Analog_Scaling_Labels_Label_Intercept {	@include elemLeft(460);
}
#HA_IO_Analog_Scaling_Labels_Label_Intercept {	@include elemAutoWidth(105);
}
#HA_IO_Analog_Scaling_Labels_Label_Intercept {	@include elemAutoHeight(35);
}
#HA_IO_Analog_Scaling_Labels_Label_Intercept {	z-index: 4;
}
#HA_IO_Analog_Scaling_Labels_Label_Intercept {	@include text-alignment-all('center bottom');
}
#HA_IO_Analog_Scaling_Labels_Label_Intercept {	font-size: 12px;
}
#HA_IO_Analog_Scaling_Labels_Label_Intercept {	span {
		padding: 0px;
	}
}
#HA_IO_Analog_Scaling_Labels_Label_Filter {	@include elemTop(0);
}
#HA_IO_Analog_Scaling_Labels_Label_Filter {	@include elemLeft(570);
}
#HA_IO_Analog_Scaling_Labels_Label_Filter {	@include elemAutoWidth(105);
}
#HA_IO_Analog_Scaling_Labels_Label_Filter {	@include elemAutoHeight(35);
}
#HA_IO_Analog_Scaling_Labels_Label_Filter {	z-index: 5;
}
#HA_IO_Analog_Scaling_Labels_Label_Filter {	@include text-alignment-all('center bottom');
}
#HA_IO_Analog_Scaling_Labels_Label_Filter {	font-size: 12px;
}
#HA_IO_Analog_Scaling_Labels_Label_Filter {	span {
		padding: 0px;
	}
}
#HA_IO_Analog_Scaling_Labels_Label_Max {	@include elemTop(0);
}
#HA_IO_Analog_Scaling_Labels_Label_Max {	@include elemLeft(790);
}
#HA_IO_Analog_Scaling_Labels_Label_Max {	@include elemAutoWidth(105);
}
#HA_IO_Analog_Scaling_Labels_Label_Max {	@include elemAutoHeight(35);
}
#HA_IO_Analog_Scaling_Labels_Label_Max {	z-index: 6;
}
#HA_IO_Analog_Scaling_Labels_Label_Max {	@include text-alignment-all('center bottom');
}
#HA_IO_Analog_Scaling_Labels_Label_Max {	font-size: 12px;
}
#HA_IO_Analog_Scaling_Labels_Label_Max {	span {
		padding: 0px;
	}
}
#HA_IO_Analog_Scaling_Labels_Label_Min {	@include elemTop(0);
}
#HA_IO_Analog_Scaling_Labels_Label_Min {	@include elemLeft(680);
}
#HA_IO_Analog_Scaling_Labels_Label_Min {	@include elemAutoWidth(105);
}
#HA_IO_Analog_Scaling_Labels_Label_Min {	@include elemAutoHeight(35);
}
#HA_IO_Analog_Scaling_Labels_Label_Min {	z-index: 7;
}
#HA_IO_Analog_Scaling_Labels_Label_Min {	@include text-alignment-all('center bottom');
}
#HA_IO_Analog_Scaling_Labels_Label_Min {	font-size: 12px;
}
#HA_IO_Analog_Scaling_Labels_Label_Min {	span {
		padding: 0px;
	}
}
#HA_IO_Analog_Scaling_Labels_Line_Underline {	z-index: 8;
}
