@import "mixins.scss";
#Alarms_History_Alarms_History_Table {	@include elemTop(0);
}
#Alarms_History_Alarms_History_Table {	@include elemLeft(0);
}
#Alarms_History_Alarms_History_Table {	@include elemWidth(1160);
}
#Alarms_History_Alarms_History_Table {	@include elemHeight(520);
}
#Alarms_History_Alarms_History_Table {	z-index: 0;
}
#Alarms_History_Alarms_History_Table {	&.breaseTable .horizontalOrientation .dataTables_scrollBody .tableCells tbody tr td:not(.override) {
		padding: 5px;
	}
}
#Alarms_History_Alarms_History_Table {	&.breaseTable .verticalOrientation .dataTables_scrollBody .tableCells tbody tr td:not(.override) {
		padding: 5px;
	}
}
#Alarms_History_Alarms_History_Table {	.tableCells tbody tr td:not(.override) {
		font-size: 14px;
	}
}
#Alarms_History_Alarms_History_Table {	.tableHeader div:not(.override) {
		font-size: 16px;
	}
}
#Alarms_History_Alarms_History_Table_TableItem_Timestamp {	z-index: 2;
}
#Alarms_History_Alarms_History_Table_TableItem_Timestamp {	&:not(.headerElement):not(.disabled).override {
		@include importantBoldText(false);
	}
}
#Alarms_History_Alarms_History_Table_TableItem_Timestamp {	&:not(.headerElement).override.disabled {
		@include importantBoldText(false);
	}
}
#Alarms_History_Alarms_History_Table_TableItem_Code {	z-index: 0;
}
#Alarms_History_Alarms_History_Table_TableItem_Code {	&:not(.headerElement):not(.disabled).override {
		@include importantBoldText(false);
	}
}
#Alarms_History_Alarms_History_Table_TableItem_Code {	&:not(.headerElement).override.disabled {
		@include importantBoldText(false);
	}
}
#Alarms_History_Alarms_History_Table_TableItem_Severity {	z-index: 3;
}
#Alarms_History_Alarms_History_Table_TableItem_Severity {	&:not(.headerElement):not(.disabled).override {
		@include importantBoldText(false);
	}
}
#Alarms_History_Alarms_History_Table_TableItem_Severity {	&:not(.headerElement).override.disabled {
		@include importantBoldText(false);
	}
}
#Alarms_History_Alarms_History_Table_TableItem_Description {	z-index: 1;
}
#Alarms_History_Alarms_History_Table_TableItem_Description {	&:not(.headerElement):not(.disabled).override {
		@include importantBoldText(false);
	}
}
#Alarms_History_Alarms_History_Table_TableItem_Description {	&:not(.headerElement).override.disabled {
		@include importantBoldText(false);
	}
}
#Alarms_History_Alarms_History_PushButton_Clear {	@include elemTop(520);
}
#Alarms_History_Alarms_History_PushButton_Clear {	@include elemLeft(0);
}
#Alarms_History_Alarms_History_PushButton_Clear {	@include elemAutoWidth(160);
}
#Alarms_History_Alarms_History_PushButton_Clear {	@include elemAutoHeight(80);
}
#Alarms_History_Alarms_History_PushButton_Clear {	z-index: 4;
}
#Alarms_History_Alarms_History_PushButton_Export {	@include elemTop(520);
}
#Alarms_History_Alarms_History_PushButton_Export {	@include elemLeft(160);
}
#Alarms_History_Alarms_History_PushButton_Export {	@include elemAutoWidth(160);
}
#Alarms_History_Alarms_History_PushButton_Export {	@include elemAutoHeight(80);
}
#Alarms_History_Alarms_History_PushButton_Export {	z-index: 5;
}
#Alarms_History_Alarms_History_PushButton_Down {	@include elemTop(520);
}
#Alarms_History_Alarms_History_PushButton_Down {	@include elemLeft(956);
}
#Alarms_History_Alarms_History_PushButton_Down {	@include elemAutoWidth(160);
}
#Alarms_History_Alarms_History_PushButton_Down {	@include elemAutoHeight(80);
}
#Alarms_History_Alarms_History_PushButton_Down {	z-index: 6;
}
#Alarms_History_Alarms_History_PushButton_Up {	@include elemTop(520);
}
#Alarms_History_Alarms_History_PushButton_Up {	@include elemLeft(796);
}
#Alarms_History_Alarms_History_PushButton_Up {	@include elemAutoWidth(160);
}
#Alarms_History_Alarms_History_PushButton_Up {	@include elemAutoHeight(80);
}
#Alarms_History_Alarms_History_PushButton_Up {	z-index: 7;
}
#Alarms_History_Alarms_History_Flyout_AlarmData {	&.right {
		@include elemTop(0);
	}
}
#Alarms_History_Alarms_History_Flyout_AlarmData {	&.left {
		@include elemTop(0);
	}
}
#Alarms_History_Alarms_History_Flyout_AlarmData {	&.top {
		@include elemLeft(0);
	}
}
#Alarms_History_Alarms_History_Flyout_AlarmData {	&.bottom {
		@include elemLeft(0);
	}
}
#Alarms_History_Alarms_History_Flyout_AlarmData_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .container {
		@include elemWidth(1114);
	}
}
#Alarms_History_Alarms_History_Flyout_AlarmData_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .container {
		@include elemHeight(300);
	}
}
#Alarms_History_Alarms_History_Flyout_AlarmData {	z-index: 8;
}
#Alarms_History_Alarms_History_Flyout_AlarmData_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .flyoutButton {
		@include elemHeight(80);
	}
}
#Alarms_History_Alarms_History_Flyout_AlarmData {	@include elemHeight(80);
}
#Alarms_History_Alarms_History_Flyout_AlarmData_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .flyoutButton {
		@include elemWidth(160);
	}
}
#Alarms_History_Alarms_History_Flyout_AlarmData {	@include elemWidth(160);
}
#Alarms_History_Alarms_History_Flyout_AlarmData_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .flyoutButton {
		@include border-radius(15px);
	}
}
#Alarms_History_Alarms_History_Flyout_AlarmData_breaseFlyOutWrapper {	:not(.disabled):not(.active):not(.checked).breaseFlyOutWrapper > .flyoutButton {
		@include backGroundGradient('linear-gradient(to right,#555555 0%,#FFFFFF 100%)');
	}
}
#Alarms_History_Alarms_History_Flyout_AlarmData_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .container {
		background-color: rgba(17, 17, 17, 1);
	}
}
#Alarms_History_Alarms_History_Flyout_AlarmData_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .flyoutButton span {
		font-size: 16px;
	}
}
#Alarms_History_Alarms_History_Table_AlarmData {	@include elemHeight(300);
}
#Alarms_History_Alarms_History_Table_AlarmData {	@include elemTop(0);
}
#Alarms_History_Alarms_History_Table_AlarmData {	@include elemLeft(0);
}
#Alarms_History_Alarms_History_Table_AlarmData {	@include elemWidth(1114);
}
#Alarms_History_Alarms_History_Table_AlarmData {	z-index: 0;
}
#Alarms_History_Alarms_History_Table_AlarmData {	&.breaseTable .horizontalOrientation .dataTables_scrollBody .tableCells tbody tr td:not(.override) {
		padding: 5px;
	}
}
#Alarms_History_Alarms_History_Table_AlarmData {	&.breaseTable .verticalOrientation .dataTables_scrollBody .tableCells tbody tr td:not(.override) {
		padding: 5px;
	}
}
#Alarms_History_Alarms_History_Table_AlarmData {	.tableCells tbody tr td:not(.override) {
		font-size: 14px;
	}
}
#Alarms_History_Alarms_History_Table_AlarmData {	.tableHeader div:not(.override) {
		font-size: 16px;
	}
}
#Alarms_History_Alarms_History_Flyout_AlarmData_Table_TableItem_Value {	z-index: 1;
}
#Alarms_History_Alarms_History_Flyout_AlarmData_Table_TableItem_Value {	&:not(.headerElement):not(.disabled).override {
		@include importantBoldText(false);
	}
}
#Alarms_History_Alarms_History_Flyout_AlarmData_Table_TableItem_Value {	&:not(.headerElement).override.disabled {
		@include importantBoldText(false);
	}
}
#Alarms_History_Alarms_History_Flyout_AlarmData_Table_TableItem_Description {	z-index: 0;
}
#Alarms_History_Alarms_History_Flyout_AlarmData_Table_TableItem_Description {	&:not(.headerElement):not(.disabled).override {
		@include importantBoldText(false);
	}
}
#Alarms_History_Alarms_History_Flyout_AlarmData_Table_TableItem_Description {	&:not(.headerElement).override.disabled {
		@include importantBoldText(false);
	}
}
