@import "mixins.scss";
#content_8_TextOutput5 {	@include elemAutoHeight(30);
}
#content_8_TextOutput5 {	@include elemTop(8);
}
#content_8_TextOutput5 {	@include elemLeft(5);
}
#content_8_TextOutput5 {	@include elemAutoWidth(75);
}
#content_8_TextOutput5 {	z-index: 2;
}
#content_8_Rectangle1 {	@include elemTop(10);
}
#content_8_Rectangle1 {	@include elemLeft(10);
}
#content_8_Rectangle1 {	@include elemWidth(75);
}
#content_8_Rectangle1 {	@include elemHeight(25);
}
#content_8_Rectangle1 {	z-index: 0;
}
#content_8_Rectangle1 {	background-color: rgba(224, 224, 224, 1);
}
#content_8_TextOutput6 {	@include elemAutoHeight(30);
}
#content_8_TextOutput6 {	@include elemTop(8);
}
#content_8_TextOutput6 {	@include elemLeft(160);
}
#content_8_TextOutput6 {	@include elemAutoWidth(75);
}
#content_8_TextOutput6 {	z-index: 4;
}
#content_8_Rectangle3 {	@include elemTop(12);
}
#content_8_Rectangle3 {	@include elemLeft(160);
}
#content_8_Rectangle3 {	@include elemWidth(75);
}
#content_8_Rectangle3 {	@include elemHeight(25);
}
#content_8_Rectangle3 {	z-index: 3;
}
#content_8_Rectangle3 {	background-color: rgba(224, 224, 224, 1);
}
#content_8_Rectangle4 {	@include elemTop(16);
}
#content_8_Rectangle4 {	@include elemLeft(151);
}
#content_8_Rectangle4 {	@include elemWidth(18);
}
#content_8_Rectangle4 {	@include elemHeight(16);
}
#content_8_Rectangle4 {	z-index: 1;
}
#content_8_Rectangle4 {	background-color: rgba(224, 224, 224, 1);
}
#content_8_Rectangle4 {	@include rotate(45deg);
}
