@import "mixins.scss";
#content_2_TextOutput1 {	@include elemTop(4);
}
#content_2_TextOutput1 {	@include elemLeft(4);
}
#content_2_TextOutput1 {	@include elemAutoWidth(72);
}
#content_2_TextOutput1 {	@include elemAutoHeight(18);
}
#content_2_TextOutput1 {	z-index: 14;
}
#content_2_TextOutput1 {	@include text-alignment-all('center');
}
#content_2_NumericOutput1 {	@include elemAutoHeight(30);
}
#content_2_NumericOutput1 {	@include elemTop(80);
}
#content_2_NumericOutput1 {	@include elemLeft(0);
}
#content_2_NumericOutput1 {	@include elemAutoWidth(80);
}
#content_2_NumericOutput1 {	z-index: 3;
}
#content_2_TextOutput2 {	@include elemAutoHeight(30);
}
#content_2_TextOutput2 {	@include elemTop(36);
}
#content_2_TextOutput2 {	@include elemLeft(80);
}
#content_2_TextOutput2 {	@include elemAutoWidth(30);
}
#content_2_TextOutput2 {	z-index: 4;
}
#content_2_Rectangle1 {	@include elemTop(60);
}
#content_2_Rectangle1 {	@include elemLeft(108);
}
#content_2_Rectangle1 {	@include elemWidth(68);
}
#content_2_Rectangle1 {	@include elemHeight(84);
}
#content_2_Rectangle1 {	z-index: 5;
}
#content_2_Rectangle1 {	background-color: rgba(200, 200, 211, 1);
}
#content_2_Rectangle2 {	@include elemTop(68);
}
#content_2_Rectangle2 {	@include elemLeft(96);
}
#content_2_Rectangle2 {	@include elemWidth(26);
}
#content_2_Rectangle2 {	@include elemHeight(76);
}
#content_2_Rectangle2 {	z-index: 6;
}
#content_2_Rectangle2 {	background-color: rgba(200, 200, 211, 1);
}
#content_2_Rectangle3 {	@include elemTop(106);
}
#content_2_Rectangle3 {	@include elemLeft(134);
}
#content_2_Rectangle3 {	@include elemWidth(4);
}
#content_2_Rectangle3 {	@include elemHeight(80);
}
#content_2_Rectangle3 {	z-index: 7;
}
#content_2_Rectangle3 {	background-color: rgba(71, 71, 71, 1);
}
#content_2_Rectangle3 {	@include rotate(90deg);
}
#content_2_Rectangle4 {	@include elemTop(40);
}
#content_2_Rectangle4 {	@include elemLeft(146);
}
#content_2_Rectangle4 {	@include elemWidth(26);
}
#content_2_Rectangle4 {	@include elemHeight(53);
}
#content_2_Rectangle4 {	z-index: 2;
}
#content_2_Rectangle4 {	background-color: rgba(200, 200, 211, 1);
}
#content_2_Rectangle4 {	@include rotate(75deg);
}
#content_2_Rectangle5 {	@include elemTop(79);
}
#content_2_Rectangle5 {	@include elemLeft(83);
}
#content_2_Rectangle5 {	@include elemWidth(15);
}
#content_2_Rectangle5 {	@include elemHeight(32);
}
#content_2_Rectangle5 {	z-index: 8;
}
#content_2_Rectangle5 {	background-color: rgba(211, 211, 211, 1);
}
#content_2_Rectangle6 {	@include elemTop(116);
}
#content_2_Rectangle6 {	@include elemLeft(176);
}
#content_2_Rectangle6 {	@include elemWidth(6);
}
#content_2_Rectangle6 {	@include elemHeight(8);
}
#content_2_Rectangle6 {	z-index: 9;
}
#content_2_Rectangle6 {	background-color: rgba(71, 71, 71, 1);
}
#content_2_Rectangle6 {	@include rotate(0deg);
}
#content_2_Rectangle7 {	@include elemTop(128);
}
#content_2_Rectangle7 {	@include elemLeft(176);
}
#content_2_Rectangle7 {	@include elemWidth(6);
}
#content_2_Rectangle7 {	@include elemHeight(8);
}
#content_2_Rectangle7 {	z-index: 10;
}
#content_2_Rectangle7 {	background-color: rgba(71, 71, 71, 1);
}
#content_2_Rectangle7 {	@include rotate(0deg);
}
#content_2_Rectangle8 {	@include elemTop(84);
}
#content_2_Rectangle8 {	@include elemLeft(78);
}
#content_2_Rectangle8 {	@include elemWidth(6);
}
#content_2_Rectangle8 {	@include elemHeight(8);
}
#content_2_Rectangle8 {	z-index: 11;
}
#content_2_Rectangle8 {	background-color: rgba(71, 71, 71, 1);
}
#content_2_Rectangle8 {	@include rotate(0deg);
}
#content_2_Line1 {	z-index: 1;
}
#content_2_Line1 {	line {
		stroke-width: 2px;
	}
}
#content_2_Line2 {	z-index: 12;
}
#content_2_Line2 {	line {
		stroke-width: 2px;
	}
}
#content_2_Ellipse1 {	@include elemTop(72);
}
#content_2_Ellipse1 {	@include elemLeft(101);
}
#content_2_Ellipse1 {	@include elemWidth(16);
}
#content_2_Ellipse1 {	@include elemHeight(16);
}
#content_2_Ellipse1 {	z-index: 13;
}
#content_2_Ellipse1 {	background-color: rgba(0, 255, 0, 1);
}
#content_2_TextOutput3 {	@include elemTop(160);
}
#content_2_TextOutput3 {	@include elemLeft(-4);
}
#content_2_TextOutput3 {	@include elemAutoWidth(72);
}
#content_2_TextOutput3 {	@include elemAutoHeight(18);
}
#content_2_TextOutput3 {	z-index: 15;
}
#content_2_TextOutput3 {	@include text-alignment-all('center');
}
#content_2_Rectangle9 {	@include elemTop(152);
}
#content_2_Rectangle9 {	@include elemLeft(2);
}
#content_2_Rectangle9 {	@include elemWidth(72);
}
#content_2_Rectangle9 {	@include elemHeight(32);
}
#content_2_Rectangle9 {	z-index: 0;
}
#content_2_Rectangle9 {	background-color: rgba(200, 200, 211, 1);
}
#content_2_Line3 {	z-index: 16;
}
#content_2_Line3 {	line {
		stroke-width: 2px;
	}
}
