@import "mixins.scss";
#content_12_CheckBox1 {	@include elemAutoWidth(150);
}
#content_12_CheckBox1 {	@include elemAutoHeight(30);
}
#content_12_CheckBox1 {	@include elemTop(30);
}
#content_12_CheckBox1 {	@include elemLeft(35);
}
#content_12_CheckBox1 {	z-index: 0;
}
#content_12_CheckBox2 {	@include elemAutoWidth(150);
}
#content_12_CheckBox2 {	@include elemAutoHeight(30);
}
#content_12_CheckBox2 {	@include elemTop(70);
}
#content_12_CheckBox2 {	@include elemLeft(35);
}
#content_12_CheckBox2 {	z-index: 1;
}
#content_12_CheckBox3 {	@include elemAutoHeight(30);
}
#content_12_CheckBox3 {	@include elemTop(110);
}
#content_12_CheckBox3 {	@include elemLeft(35);
}
#content_12_CheckBox3 {	@include elemAutoWidth(190);
}
#content_12_CheckBox3 {	z-index: 2;
}
#content_12_CheckBox4 {	@include elemAutoHeight(30);
}
#content_12_CheckBox4 {	@include elemTop(150);
}
#content_12_CheckBox4 {	@include elemLeft(35);
}
#content_12_CheckBox4 {	@include elemAutoWidth(185);
}
#content_12_CheckBox4 {	z-index: 3;
}
#content_12_CheckBox5 {	@include elemAutoHeight(30);
}
#content_12_CheckBox5 {	@include elemTop(190);
}
#content_12_CheckBox5 {	@include elemLeft(35);
}
#content_12_CheckBox5 {	@include elemAutoWidth(185);
}
#content_12_CheckBox5 {	z-index: 4;
}
#content_12_ButtonBar1 {	@include elemHeight(30);
}
#content_12_ButtonBar1 {	@include elemTop(460);
}
#content_12_ButtonBar1 {	@include elemLeft(200);
}
#content_12_ButtonBar1 {	@include elemWidth(400);
}
#content_12_ButtonBar1 {	z-index: 5;
}
#content_12_ToggleButton1 {	@include elemAutoWidth(100);
}
#content_12_ToggleButton1 {	@include elemAutoHeight(30);
}
#content_12_ToggleButton1 {	@include elemTop(0);
}
#content_12_ToggleButton1 {	@include elemLeft(20);
}
#content_12_ToggleButton1 {	z-index: 0;
}
#content_12_ToggleButton2 {	@include elemAutoWidth(100);
}
#content_12_ToggleButton2 {	@include elemAutoHeight(30);
}
#content_12_ToggleButton2 {	@include elemTop(0);
}
#content_12_ToggleButton2 {	@include elemLeft(140);
}
#content_12_ToggleButton2 {	z-index: 1;
}
