@import "mixins.scss";
#Footer_Footer_TextOutput_Config {	@include elemTop(7);
}
#Footer_Footer_TextOutput_Config {	@include elemLeft(865);
}
#Footer_Footer_TextOutput_Config {	@include elemAutoWidth(175);
}
#Footer_Footer_TextOutput_Config {	@include elemAutoHeight(20);
}
#Footer_Footer_TextOutput_Config {	z-index: 0;
}
#Footer_Footer_TextOutput_Config {	@include text-alignment-all('right');
}
#Footer_Footer_TextOutput_Config {	span {
		padding: 0px 0px 0px 0px;
	}
}
#Footer_Footer_DateTimeOutput {	@include elemTop(32);
}
#Footer_Footer_DateTimeOutput {	@include elemLeft(873);
}
#Footer_Footer_DateTimeOutput {	@include elemAutoWidth(167);
}
#Footer_Footer_DateTimeOutput {	@include elemAutoHeight(20);
}
#Footer_Footer_DateTimeOutput {	z-index: 2;
}
#Footer_Footer_DateTimeOutput {	@include text-alignment(right);
}
#Footer_Footer_DateTimeOutput {	padding: 0px 0px 0px 0px;
}
#Footer_Footer_DateTimeInput {	@include elemTop(30);
}
#Footer_Footer_DateTimeInput {	@include elemLeft(880);
}
#Footer_Footer_DateTimeInput {	@include elemAutoWidth(161);
}
#Footer_Footer_DateTimeInput {	@include elemAutoHeight(20);
}
#Footer_Footer_DateTimeInput {	z-index: 3;
}
#Footer_Footer_DateTimeInput {	padding: 0px 0px 0px 0px;
}
#Footer_Footer_FlyOut_Modified {	&.right {
		@include elemTop(0);
	}
}
#Footer_Footer_FlyOut_Modified {	&.left {
		@include elemTop(0);
	}
}
#Footer_Footer_FlyOut_Modified {	&.top {
		@include elemLeft(200);
	}
}
#Footer_Footer_FlyOut_Modified {	&.bottom {
		@include elemLeft(200);
	}
}
#Footer_Footer_FlyOut_Modified_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .container {
		@include elemWidth(180);
	}
}
#Footer_Footer_FlyOut_Modified_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .container {
		@include elemHeight(150);
	}
}
#Footer_Footer_FlyOut_Modified {	z-index: 1;
}
#Footer_Footer_FlyOut_Modified_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .flyoutButton {
		@include elemHeight(60);
	}
}
#Footer_Footer_FlyOut_Modified {	@include elemHeight(60);
}
#Footer_Footer_FlyOut_Modified_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .flyoutButton {
		@include elemWidth(180);
	}
}
#Footer_Footer_FlyOut_Modified {	@include elemWidth(180);
}
#Footer_Footer_FlyOut_Modified_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .flyoutButton svg {
		fill: rgba(17, 17, 17, 1);
	}
}
#Footer_Footer_FlyOut_Modified_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .flyoutButton {
		border-style: outset;
	}
}
#Footer_Footer_FlyOut_Modified_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .flyoutButton {
		@include importantBorderColor(rgba(136, 136, 136, 1));
	}
}
#Footer_Footer_FlyOut_Modified_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .flyoutButton {
		border-width: 2px;
	}
}
#Footer_Footer_FlyOut_Modified_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .flyoutButton {
		@include border-radius(15px);
	}
}
#Footer_Footer_FlyOut_Modified_breaseFlyOutWrapper {	:not(.disabled):not(.active):not(.checked).breaseFlyOutWrapper > .flyoutButton {
		background-color: rgba(255, 0, 255, 1);
	}
}
#Footer_Footer_FlyOut_Modified_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .container {
		@include border-radius(15px);
	}
}
#Footer_Footer_FlyOut_Modified_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .container {
		background-color: rgba(17, 17, 17, 1);
	}
}
#Footer_Footer_FlyOut_Modified_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .flyoutButton span {
		color: rgba(17, 17, 17, 1);
	}
}
#Footer_Footer_FlyOut_Modified_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .flyoutButton {
		@include text-alignment(center);
	}
}
#Footer_Footer_FlyOut_Modified_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .flyoutButton {
		@include writing-mode(horizontal);
	}
}
#Footer_Footer_FlyOut_Modified_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .flyoutButton span {
		font-size: 16px;
	}
}
#Footer_Footer_FlyOut_Modified_PushButton_Save {	@include elemTop(10);
}
#Footer_Footer_FlyOut_Modified_PushButton_Save {	@include elemLeft(10);
}
#Footer_Footer_FlyOut_Modified_PushButton_Save {	@include elemAutoWidth(160);
}
#Footer_Footer_FlyOut_Modified_PushButton_Save {	@include elemAutoHeight(60);
}
#Footer_Footer_FlyOut_Modified_PushButton_Save {	z-index: 0;
}
#Footer_Footer_FlyOut_Modified_PushButton_Save {	img {
		@include imageHeight(30);
	}
}
#Footer_Footer_FlyOut_Modified_PushButton_Save {	svg {
		@include imageHeight(30);
	}
}
#Footer_Footer_FlyOut_Modified_PushButton_Save {	img {
		@include imageWidth(30);
	}
}
#Footer_Footer_FlyOut_Modified_PushButton_Save {	svg {
		@include imageWidth(30);
	}
}
#Footer_Footer_FlyOut_Modified_PushButton_Save {	&.active:not(.disabled) {
		@include backGroundGradient('linear-gradient(to right,#555555 0%,#00FFFF 100%)');
	}
}
#Footer_Footer_FlyOut_Modified_PushButton_Save {	&.checked:not(.disabled) {
		@include backGroundGradient('linear-gradient(to right,#555555 0%,#00FFFF 100%)');
	}
}
#Footer_Footer_FlyOut_Modified_PushButton_Save {	@include text-alignment(center);
}
#Footer_Footer_FlyOut_Modified_PushButton_Save {	span {
		font-size: 16px;
	}
}
#Footer_Footer_FlyOut_Modified_PushButton_Discard {	@include elemTop(80);
}
#Footer_Footer_FlyOut_Modified_PushButton_Discard {	@include elemLeft(10);
}
#Footer_Footer_FlyOut_Modified_PushButton_Discard {	@include elemAutoWidth(160);
}
#Footer_Footer_FlyOut_Modified_PushButton_Discard {	@include elemAutoHeight(60);
}
#Footer_Footer_FlyOut_Modified_PushButton_Discard {	z-index: 1;
}
#Footer_Footer_FlyOut_Modified_PushButton_Discard {	img {
		@include imageHeight(30);
	}
}
#Footer_Footer_FlyOut_Modified_PushButton_Discard {	svg {
		@include imageHeight(30);
	}
}
#Footer_Footer_FlyOut_Modified_PushButton_Discard {	img {
		@include imageWidth(30);
	}
}
#Footer_Footer_FlyOut_Modified_PushButton_Discard {	svg {
		@include imageWidth(30);
	}
}
#Footer_Footer_FlyOut_Modified_PushButton_Discard {	&.active:not(.disabled) {
		@include backGroundGradient('linear-gradient(to right,#555555 0%,#00FFFF 100%)');
	}
}
#Footer_Footer_FlyOut_Modified_PushButton_Discard {	&.checked:not(.disabled) {
		@include backGroundGradient('linear-gradient(to right,#555555 0%,#00FFFF 100%)');
	}
}
#Footer_Footer_FlyOut_Modified_PushButton_Discard {	@include text-alignment(center);
}
#Footer_Footer_FlyOut_Modified_PushButton_Discard {	span {
		font-size: 16px;
	}
}
#Footer_Footer_FlyOut_User {	&.right {
		@include elemTop(0);
	}
}
#Footer_Footer_FlyOut_User {	&.left {
		@include elemTop(0);
	}
}
#Footer_Footer_FlyOut_User {	&.top {
		@include elemLeft(10);
	}
}
#Footer_Footer_FlyOut_User {	&.bottom {
		@include elemLeft(10);
	}
}
#Footer_Footer_FlyOut_User_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .container {
		@include elemWidth(180);
	}
}
#Footer_Footer_FlyOut_User_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .container {
		@include elemHeight(300);
	}
}
#Footer_Footer_FlyOut_User {	z-index: 4;
}
#Footer_Footer_FlyOut_User_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .flyoutButton {
		@include elemHeight(60);
	}
}
#Footer_Footer_FlyOut_User {	@include elemHeight(60);
}
#Footer_Footer_FlyOut_User_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .flyoutButton {
		@include elemWidth(180);
	}
}
#Footer_Footer_FlyOut_User {	@include elemWidth(180);
}
#Footer_Footer_FlyOut_User_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .flyoutButton {
		border-style: outset;
	}
}
#Footer_Footer_FlyOut_User_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .flyoutButton {
		@include importantBorderColor(rgba(136, 136, 136, 1));
	}
}
#Footer_Footer_FlyOut_User_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .flyoutButton {
		border-width: 2px;
	}
}
#Footer_Footer_FlyOut_User_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .flyoutButton {
		@include border-radius(15px);
	}
}
#Footer_Footer_FlyOut_User_breaseFlyOutWrapper {	:not(.disabled):not(.active):not(.checked).breaseFlyOutWrapper > .flyoutButton {
		background-color: rgba(17, 17, 17, 1);
	}
}
#Footer_Footer_FlyOut_User_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .container {
		@include border-radius(15px);
	}
}
#Footer_Footer_FlyOut_User_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .container {
		background-color: rgba(17, 17, 17, 1);
	}
}
#Footer_Footer_FlyOut_User_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .flyoutButton {
		@include text-alignment(center);
	}
}
#Footer_Footer_FlyOut_User_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .flyoutButton span {
		font-size: 16px;
	}
}
#Footer_Footer_FlyOut_User_LoginButton {	@include elemTop(160);
}
#Footer_Footer_FlyOut_User_LoginButton {	@include elemLeft(10);
}
#Footer_Footer_FlyOut_User_LoginButton {	@include elemAutoWidth(160);
}
#Footer_Footer_FlyOut_User_LoginButton {	@include elemAutoHeight(60);
}
#Footer_Footer_FlyOut_User_LoginButton {	z-index: 0;
}
#Footer_Footer_FlyOut_User_LoginButton {	@include text-alignment(center);
}
#Footer_Footer_FlyOut_User_LoginButton {	span {
		font-size: 16px;
	}
}
#Footer_Footer_FlyOut_User_LogoutButton {	@include elemTop(230);
}
#Footer_Footer_FlyOut_User_LogoutButton {	@include elemLeft(10);
}
#Footer_Footer_FlyOut_User_LogoutButton {	@include elemAutoWidth(160);
}
#Footer_Footer_FlyOut_User_LogoutButton {	@include elemAutoHeight(60);
}
#Footer_Footer_FlyOut_User_LogoutButton {	z-index: 4;
}
#Footer_Footer_FlyOut_User_LogoutButton {	@include text-alignment(center);
}
#Footer_Footer_FlyOut_User_LogoutButton {	span {
		font-size: 16px;
	}
}
#Footer_Footer_FlyOut_User_Label_User {	@include elemTop(-5);
}
#Footer_Footer_FlyOut_User_Label_User {	@include elemLeft(10);
}
#Footer_Footer_FlyOut_User_Label_User {	@include elemAutoWidth(160);
}
#Footer_Footer_FlyOut_User_Label_User {	@include elemAutoHeight(40);
}
#Footer_Footer_FlyOut_User_Label_User {	z-index: 2;
}
#Footer_Footer_FlyOut_User_Label_User {	@include text-alignment-all('center bottom');
}
#Footer_Footer_FlyOut_User_Label_User {	@include font-weight-bold(true);
}
#Footer_Footer_FlyOut_User_TextInput_User {	@include elemTop(34);
}
#Footer_Footer_FlyOut_User_TextInput_User {	@include elemLeft(10);
}
#Footer_Footer_FlyOut_User_TextInput_User {	@include elemAutoWidth(160);
}
#Footer_Footer_FlyOut_User_TextInput_User {	@include elemAutoHeight(40);
}
#Footer_Footer_FlyOut_User_TextInput_User {	z-index: 5;
}
#Footer_Footer_FlyOut_User_TextInput_User {	input {
		@include text-alignment(center);
	}
}
#Footer_Footer_FlyOut_User_TextInput_User {	input {
		font-size: 12px;
	}
}
#Footer_Footer_FlyOut_User_Label_Password {	@include elemTop(68);
}
#Footer_Footer_FlyOut_User_Label_Password {	@include elemLeft(10);
}
#Footer_Footer_FlyOut_User_Label_Password {	@include elemAutoWidth(160);
}
#Footer_Footer_FlyOut_User_Label_Password {	@include elemAutoHeight(40);
}
#Footer_Footer_FlyOut_User_Label_Password {	z-index: 3;
}
#Footer_Footer_FlyOut_User_Label_Password {	@include text-alignment-all('center bottom');
}
#Footer_Footer_FlyOut_User_Label_Password {	@include font-weight-bold(true);
}
#Footer_Footer_FlyOut_User_Password_Password {	@include elemTop(107);
}
#Footer_Footer_FlyOut_User_Password_Password {	@include elemLeft(10);
}
#Footer_Footer_FlyOut_User_Password_Password {	@include elemAutoWidth(160);
}
#Footer_Footer_FlyOut_User_Password_Password {	@include elemAutoHeight(40);
}
#Footer_Footer_FlyOut_User_Password_Password {	z-index: 1;
}
#Footer_Footer_FlyOut_User_Password_Password {	input {
		@include text-alignment(center);
	}
}
#Footer_Footer_FlyOut_User_Password_Password {	input {
		font-size: 12px;
	}
}
#Footer_Footer_FlyOut_Version {	&.right {
		@include elemTop(0);
	}
}
#Footer_Footer_FlyOut_Version {	&.left {
		@include elemTop(0);
	}
}
#Footer_Footer_FlyOut_Version {	&.top {
		@include elemLeft(594);
	}
}
#Footer_Footer_FlyOut_Version {	&.bottom {
		@include elemLeft(594);
	}
}
#Footer_Footer_FlyOut_Version_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .container {
		@include elemWidth(520);
	}
}
#Footer_Footer_FlyOut_Version_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .container {
		@include elemHeight(170);
	}
}
#Footer_Footer_FlyOut_Version {	z-index: 5;
}
#Footer_Footer_FlyOut_Version_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .flyoutButton {
		@include elemHeight(60);
	}
}
#Footer_Footer_FlyOut_Version {	@include elemHeight(60);
}
#Footer_Footer_FlyOut_Version_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .flyoutButton {
		@include elemWidth(60);
	}
}
#Footer_Footer_FlyOut_Version {	@include elemWidth(60);
}
#Footer_Footer_FlyOut_Version_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .flyoutButton svg {
		fill: rgba(136, 136, 136, 1);
	}
}
#Footer_Footer_FlyOut_Version_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .flyoutButton {
		border-style: outset;
	}
}
#Footer_Footer_FlyOut_Version_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .flyoutButton {
		@include importantBorderColor(rgba(136, 136, 136, 1));
	}
}
#Footer_Footer_FlyOut_Version_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .flyoutButton {
		border-width: 2px;
	}
}
#Footer_Footer_FlyOut_Version_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .flyoutButton {
		@include border-radius(15px);
	}
}
#Footer_Footer_FlyOut_Version_breaseFlyOutWrapper {	:not(.disabled):not(.active):not(.checked).breaseFlyOutWrapper > .flyoutButton {
		background-color: rgba(17, 17, 17, 1);
	}
}
#Footer_Footer_FlyOut_Version_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .container {
		@include border-radius(15px);
	}
}
#Footer_Footer_FlyOut_Version_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .container {
		background-color: rgba(136, 136, 136, 1);
	}
}
#Footer_Footer_FlyOut_Version_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .flyoutButton span {
		color: rgba(17, 17, 17, 1);
	}
}
#Footer_Footer_FlyOut_Version_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .flyoutButton {
		@include text-alignment(center);
	}
}
#Footer_Footer_FlyOut_Version_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .flyoutButton {
		@include writing-mode(horizontal);
	}
}
#Footer_Footer_FlyOut_Version_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .flyoutButton span {
		font-size: 16px;
	}
}
#Footer_Footer_FlyOut_Version_BuildVersionAdvanced {	@include elemWidth(500);
}
#Footer_Footer_FlyOut_Version_BuildVersionAdvanced {	@include elemHeight(150);
}
#Footer_Footer_FlyOut_Version_BuildVersionAdvanced {	@include elemTop(10);
}
#Footer_Footer_FlyOut_Version_BuildVersionAdvanced {	@include elemLeft(10);
}
#Footer_Footer_FlyOut_Version_BuildVersionAdvanced {	z-index: 0;
}
#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelBuildVersion{top:0px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelBuildVersion{left:0px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelBuildVersion{width:250px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelBuildVersion{z-index:0}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelBuildVersion{justify-content:center;text-align:center;-ms-flex-align:center;align-items:center}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelBuildVersion{font-size:20px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelBuildVersion span{padding:0px 15px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelBuildVersion{height:30px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelAS{top:30px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelAS{left:0px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelAS{width:100px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelAS{height:20px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelAS{z-index:1}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelAS span{color:rgba(0,0,0,0.7)}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelAS{justify-content:flex-end;text-align:right;-ms-flex-align:center;align-items:center}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelAS{font-size:12px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelAS span{padding:0px 5px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputAS{top:30px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputAS{left:100px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputAS{width:150px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputAS{height:20px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputAS{z-index:2}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputAS{font-size:14px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputAS span{padding:0px 5px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelUser{top:50px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelUser{left:0px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelUser{width:100px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelUser{height:20px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelUser{z-index:3}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelUser span{color:rgba(0,0,0,0.7)}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelUser{justify-content:flex-end;text-align:right;-ms-flex-align:center;align-items:center}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelUser{font-size:12px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelUser span{padding:0px 5px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputUser{top:50px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputUser{left:100px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputUser{width:150px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputUser{height:20px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputUser{z-index:4}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputUser{font-size:14px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputUser span{padding:0px 5px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelProject{top:70px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelProject{left:0px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelProject{width:100px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelProject{height:20px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelProject{z-index:5}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelProject span{color:rgba(0,0,0,0.7)}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelProject{justify-content:flex-end;text-align:right;-ms-flex-align:center;align-items:center}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelProject{font-size:12px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelProject span{padding:0px 5px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputProject{top:70px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputProject{left:100px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputProject{width:150px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputProject{height:20px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputProject{z-index:6}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputProject{font-size:14px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputProject span{padding:0px 5px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelConfiguration{top:90px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelConfiguration{left:0px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelConfiguration{width:100px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelConfiguration{height:20px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelConfiguration{z-index:7}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelConfiguration span{color:rgba(0,0,0,0.7)}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelConfiguration{justify-content:flex-end;text-align:right;-ms-flex-align:center;align-items:center}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelConfiguration{font-size:11px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelConfiguration span{padding:0px 5px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputConfiguration{top:90px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputConfiguration{left:100px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputConfiguration{width:150px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputConfiguration{height:20px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputConfiguration{z-index:8}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputConfiguration{font-size:14px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputConfiguration span{padding:0px 5px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelBuildMode{top:110px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelBuildMode{left:0px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelBuildMode{width:100px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelBuildMode{height:20px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelBuildMode{z-index:9}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelBuildMode span{color:rgba(0,0,0,0.7)}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelBuildMode{justify-content:flex-end;text-align:right;-ms-flex-align:center;align-items:center}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelBuildMode{font-size:12px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelBuildMode span{padding:0px 5px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputBuildMode{top:110px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputBuildMode{left:100px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputBuildMode{width:150px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputBuildMode{height:20px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputBuildMode{z-index:10}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputBuildMode{font-size:14px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputBuildMode span{padding:0px 5px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelBuildDate{top:130px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelBuildDate{left:0px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelBuildDate{width:100px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelBuildDate{height:20px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelBuildDate{z-index:11}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelBuildDate span{color:rgba(0,0,0,0.7)}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelBuildDate{justify-content:flex-end;text-align:right;-ms-flex-align:center;align-items:center}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelBuildDate{font-size:12px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelBuildDate span{padding:0px 5px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘDateTimeOutputBuild{top:130px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘDateTimeOutputBuild{left:100px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘDateTimeOutputBuild{width:150px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘDateTimeOutputBuild{height:20px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘDateTimeOutputBuild{z-index:12}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘDateTimeOutputBuild{justify-content:flex-start;text-align:left}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘDateTimeOutputBuild{font-size:14px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘDateTimeOutputBuild{font-weight:normal}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘDateTimeOutputBuild{padding:0px 5px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabeBranch{top:10px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabeBranch{left:250px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabeBranch{width:100px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabeBranch{height:20px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabeBranch{z-index:13}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabeBranch span{color:rgba(0,0,0,0.7)}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabeBranch{justify-content:flex-end;text-align:right;-ms-flex-align:center;align-items:center}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabeBranch{font-size:12px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabeBranch span{padding:0px 5px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputBranch{top:10px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputBranch{left:350px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputBranch{width:150px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputBranch{height:20px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputBranch{z-index:14}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputBranch{font-size:14px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputBranch span{padding:0px 5px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelTag{top:30px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelTag{left:250px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelTag{width:100px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelTag{height:20px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelTag{z-index:15}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelTag span{color:rgba(0,0,0,0.7)}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelTag{justify-content:flex-end;text-align:right;-ms-flex-align:center;align-items:center}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelTag{font-size:12px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelTag span{padding:0px 5px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputTag{top:30px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputTag{left:350px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputTag{width:150px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputTag{height:20px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputTag{z-index:16}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputTag{font-size:14px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputTag span{padding:0px 5px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelAddnCommits{top:50px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelAddnCommits{left:250px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelAddnCommits{width:100px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelAddnCommits{height:20px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelAddnCommits{z-index:17}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelAddnCommits span{color:rgba(0,0,0,0.7)}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelAddnCommits{justify-content:flex-end;text-align:right;-ms-flex-align:center;align-items:center}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelAddnCommits{font-size:12px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelAddnCommits span{padding:0px 5px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputAddCommits{top:50px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputAddCommits{left:350px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputAddCommits{width:150px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputAddCommits{height:20px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputAddCommits{z-index:18}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputAddCommits{font-size:14px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputAddCommits span{padding:0px 5px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelSha1{top:70px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelSha1{left:250px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelSha1{width:100px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelSha1{height:20px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelSha1{z-index:19}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelSha1 span{color:rgba(0,0,0,0.7)}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelSha1{justify-content:flex-end;text-align:right;-ms-flex-align:center;align-items:center}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelSha1{font-size:12px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelSha1 span{padding:0px 5px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputSha1{top:70px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputSha1{left:350px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputSha1{width:150px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputSha1{height:20px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputSha1{z-index:20}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputSha1{font-size:14px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputSha1 span{padding:0px 5px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelChanges{top:90px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelChanges{left:250px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelChanges{width:100px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelChanges{height:20px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelChanges{z-index:21}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelChanges span{color:rgba(0,0,0,0.7)}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelChanges{justify-content:flex-end;text-align:right;-ms-flex-align:center;align-items:center}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelChanges{font-size:12px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelChanges span{padding:0px 5px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputChanges{top:90px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputChanges{left:350px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputChanges{width:150px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputChanges{height:20px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputChanges{z-index:22}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputChanges{font-size:12px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputChanges span{padding:0px 5px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelCommitDate{top:110px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelCommitDate{left:250px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelCommitDate{width:100px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelCommitDate{height:20px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelCommitDate{z-index:23}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelCommitDate span{color:rgba(0,0,0,0.7)}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelCommitDate{justify-content:flex-end;text-align:right;-ms-flex-align:center;align-items:center}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelCommitDate{font-size:12px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelCommitDate span{padding:0px 5px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘDateTimeOutputCommit{top:110px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘDateTimeOutputCommit{left:350px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘDateTimeOutputCommit{width:150px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘDateTimeOutputCommit{height:20px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘDateTimeOutputCommit{z-index:24}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘDateTimeOutputCommit{justify-content:flex-start;text-align:left}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘDateTimeOutputCommit{font-size:14px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘDateTimeOutputCommit{font-weight:normal}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘDateTimeOutputCommit{padding:0px 5px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelCommitAuthor{top:130px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelCommitAuthor{left:250px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelCommitAuthor{width:100px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelCommitAuthor{height:20px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelCommitAuthor{z-index:25}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelCommitAuthor span{color:rgba(0,0,0,0.7)}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelCommitAuthor{justify-content:flex-end;text-align:right;-ms-flex-align:center;align-items:center}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelCommitAuthor{font-size:12px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘLabelCommitAuthor span{padding:0px 5px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputCommitAuthor{top:130px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputCommitAuthor{left:350px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputCommitAuthor{width:150px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputCommitAuthor{height:20px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputCommitAuthor{z-index:26}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputCommitAuthor{font-size:14px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘTextOutputCommitAuthor span{padding:0px 5px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘImageWarning{top:90px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘImageWarning{left:263px;position:absolute}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘImageWarning{width:20px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘImageWarning{height:20px}#Footer_Footer_FlyOut_Version_BuildVersionAdvancedΘImageWarning{z-index:27}
#Footer_Footer_PushButton_Play {	@include elemTop(0);
}
#Footer_Footer_PushButton_Play {	@include elemLeft(390);
}
#Footer_Footer_PushButton_Play {	@include elemAutoWidth(140);
}
#Footer_Footer_PushButton_Play {	@include elemAutoHeight(60);
}
#Footer_Footer_PushButton_Play {	z-index: 6;
}
#Footer_Footer_PushButton_Pause {	@include elemTop(0);
}
#Footer_Footer_PushButton_Pause {	@include elemLeft(530);
}
#Footer_Footer_PushButton_Pause {	@include elemAutoWidth(140);
}
#Footer_Footer_PushButton_Pause {	@include elemAutoHeight(60);
}
#Footer_Footer_PushButton_Pause {	z-index: 7;
}
#Footer_Footer_PushButton_Stop {	@include elemTop(0);
}
#Footer_Footer_PushButton_Stop {	@include elemLeft(670);
}
#Footer_Footer_PushButton_Stop {	@include elemAutoWidth(140);
}
#Footer_Footer_PushButton_Stop {	@include elemAutoHeight(60);
}
#Footer_Footer_PushButton_Stop {	z-index: 8;
}
