@import "mixins.scss";
#Header_Image1 {	@include elemTop(0);
}
#Header_Image1 {	@include elemLeft(0);
}
#Header_Image1 {	@include elemAutoWidth(912);
}
#Header_Image1 {	@include elemAutoHeight(268);
}
#Header_Image1 {	z-index: 0;
}
#Header_DateTimeOutput1 {	@include elemTop(56);
}
#Header_DateTimeOutput1 {	@include elemLeft(3144);
}
#Header_DateTimeOutput1 {	@include elemAutoWidth(680);
}
#Header_DateTimeOutput1 {	@include elemAutoHeight(31);
}
#Header_DateTimeOutput1 {	z-index: 1;
}
#Header_DateTimeOutput1 {	background-color: rgba(255, 255, 255, 1);
}
#Header_DateTimeOutput1 {	font-size: 32px;
}
#Header_Label1 {	@include elemTop(16);
}
#Header_Label1 {	@include elemLeft(3428);
}
#Header_Label1 {	@include elemAutoWidth(220);
}
#Header_Label1 {	@include elemAutoHeight(31);
}
#Header_Label1 {	z-index: 3;
}
#Header_Label1 {	font-size: 32px;
}
#Header_Label1 {	@include font-weight-bold(true);
}
#Header_Label2 {	@include elemAutoHeight(30);
}
#Header_Label2 {	@include elemTop(96);
}
#Header_Label2 {	@include elemLeft(3420);
}
#Header_Label2 {	@include elemAutoWidth(200);
}
#Header_Label2 {	z-index: 4;
}
#Header_Label2 {	font-size: 32px;
}
#Header_Label2 {	@include font-weight-bold(true);
}
#Header_Label3 {	@include elemTop(132);
}
#Header_Label3 {	@include elemLeft(3168);
}
#Header_Label3 {	@include elemAutoWidth(647);
}
#Header_Label3 {	@include elemAutoHeight(33);
}
#Header_Label3 {	z-index: 5;
}
#Header_Label3 {	font-size: 32px;
}
#Header_Label3 {	@include font-weight-bold(true);
}
#Header_DropDownBox1 {	@include elemTop(8);
}
#Header_DropDownBox1 {	@include elemLeft(3396);
}
#Header_DropDownBox1 {	&.DropDownBoxView {
		@include elemWidth(264);
	}
}
#Header_DropDownBox1 {	&.DropDownBoxView {
		@include elemHeight(42);
	}
}
#Header_DropDownBox1 {	z-index: 2;
}
#Header_Rectangle1 {	@include elemTop(40);
}
#Header_Rectangle1 {	@include elemLeft(72);
}
#Header_Rectangle1 {	@include elemWidth(136);
}
#Header_Rectangle1 {	@include elemHeight(24);
}
#Header_Rectangle1 {	z-index: 6;
}
#Header_Rectangle1 {	border-width: 0px;
}
#Header_Rectangle1 {	background-color: rgba(0, 180, 200, 1);
}
#Header_Rectangle2 {	@include elemTop(72);
}
#Header_Rectangle2 {	@include elemLeft(72);
}
#Header_Rectangle2 {	@include elemWidth(136);
}
#Header_Rectangle2 {	@include elemHeight(40);
}
#Header_Rectangle2 {	z-index: 7;
}
#Header_Rectangle2 {	border-width: 0px;
}
#Header_Rectangle2 {	background-color: rgba(0, 180, 200, 1);
}
#Header_Rectangle3 {	@include elemTop(120);
}
#Header_Rectangle3 {	@include elemLeft(72);
}
#Header_Rectangle3 {	@include elemWidth(136);
}
#Header_Rectangle3 {	@include elemHeight(36);
}
#Header_Rectangle3 {	z-index: 8;
}
#Header_Rectangle3 {	border-width: 0px;
}
#Header_Rectangle3 {	background-color: rgba(0, 180, 200, 1);
}
#Header_Rectangle4 {	@include elemTop(152);
}
#Header_Rectangle4 {	@include elemLeft(128);
}
#Header_Rectangle4 {	@include elemWidth(80);
}
#Header_Rectangle4 {	@include elemHeight(52);
}
#Header_Rectangle4 {	z-index: 9;
}
#Header_Rectangle4 {	border-width: 0px;
}
#Header_Rectangle4 {	background-color: rgba(0, 180, 200, 1);
}
#Header_Ellipse1 {	@include elemTop(120);
}
#Header_Ellipse1 {	@include elemLeft(72);
}
#Header_Ellipse1 {	@include elemWidth(124);
}
#Header_Ellipse1 {	@include elemHeight(84);
}
#Header_Ellipse1 {	z-index: 10;
}
#Header_Ellipse1 {	border-width: 0px;
}
#Header_Ellipse1 {	background-color: rgba(0, 180, 200, 1);
}
