@import "mixins.scss";
#Navigation_NavigationButton2 {	@include elemTop(44);
}
#Navigation_NavigationButton2 {	@include elemLeft(28);
}
#Navigation_NavigationButton2 {	@include elemAutoWidth(448);
}
#Navigation_NavigationButton2 {	@include elemAutoHeight(185);
}
#Navigation_NavigationButton2 {	z-index: 0;
}
#Navigation_NavigationButton2 {	&:not(.active):not(.checked) {
		border-width: 1px 1px 1px 1px;
	}
}
#Navigation_NavigationButton2 {	&.disabled {
		border-width: 1px 1px 1px 1px;
	}
}
#Navigation_NavigationButton2 {	&:not(.disabled):not(.checked) {
		border-color: rgba(0, 0, 0, 1) rgba(0, 0, 0, 1) rgba(0, 0, 0, 1) rgba(0, 0, 0, 1);
	}
}
#Navigation_NavigationButton2 {	span {
		font-size: 32px;
	}
}
#Navigation_NavigationButton3 {	@include elemTop(43);
}
#Navigation_NavigationButton3 {	@include elemLeft(524);
}
#Navigation_NavigationButton3 {	@include elemAutoWidth(448);
}
#Navigation_NavigationButton3 {	@include elemAutoHeight(185);
}
#Navigation_NavigationButton3 {	z-index: 1;
}
#Navigation_NavigationButton3 {	&:not(.active):not(.checked) {
		border-width: 1px 1px 1px 1px;
	}
}
#Navigation_NavigationButton3 {	&.disabled {
		border-width: 1px 1px 1px 1px;
	}
}
#Navigation_NavigationButton3 {	&:not(.disabled):not(.checked) {
		border-color: rgba(0, 0, 0, 1) rgba(0, 0, 0, 1) rgba(0, 0, 0, 1) rgba(0, 0, 0, 1);
	}
}
#Navigation_NavigationButton3 {	span {
		font-size: 32px;
	}
}
#Navigation_NavigationButton4 {	@include elemTop(43);
}
#Navigation_NavigationButton4 {	@include elemLeft(1020);
}
#Navigation_NavigationButton4 {	@include elemAutoWidth(448);
}
#Navigation_NavigationButton4 {	@include elemAutoHeight(185);
}
#Navigation_NavigationButton4 {	z-index: 2;
}
#Navigation_NavigationButton4 {	&:not(.active):not(.checked) {
		border-width: 1px 1px 1px 1px;
	}
}
#Navigation_NavigationButton4 {	&.disabled {
		border-width: 1px 1px 1px 1px;
	}
}
#Navigation_NavigationButton4 {	&:not(.disabled):not(.checked) {
		border-color: rgba(0, 0, 0, 1) rgba(0, 0, 0, 1) rgba(0, 0, 0, 1) rgba(0, 0, 0, 1);
	}
}
#Navigation_NavigationButton4 {	span {
		font-size: 32px;
	}
}
#Navigation_LoginInfo1 {	@include elemTop(140);
}
#Navigation_LoginInfo1 {	@include elemLeft(3480);
}
#Navigation_LoginInfo1 {	@include elemAutoWidth(352);
}
#Navigation_LoginInfo1 {	@include elemAutoHeight(123);
}
#Navigation_LoginInfo1 {	z-index: 3;
}
#Navigation_LoginInfo1 {	font-size: 32px;
}
