@import "mixins.scss";
#OverviewEx1_TextOutput17 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput17 {	@include elemTop(714);
}
#OverviewEx1_TextOutput17 {	@include elemLeft(100);
}
#OverviewEx1_TextOutput17 {	@include elemAutoWidth(70);
}
#OverviewEx1_TextOutput17 {	z-index: 23;
}
#OverviewEx1_TextOutput17 {	@include text-alignment-all('center');
}
#OverviewEx1_TextOutput17 {	font-size: 20px;
}
#OverviewEx1_Line33 {	z-index: 25;
}
#OverviewEx1_Line34 {	z-index: 24;
}
#OverviewEx1_ProgressBar7 {	@include elemTop(620);
}
#OverviewEx1_ProgressBar7 {	@include elemLeft(1440);
}
#OverviewEx1_ProgressBar7 {	@include elemWidth(80);
}
#OverviewEx1_ProgressBar7 {	@include elemHeight(442);
}
#OverviewEx1_ProgressBar7 {	z-index: 26;
}
#OverviewEx1_ProgressBar7 {	.pb-bar-container {
		border-style: none;
	}
}
#OverviewEx1_ProgressBar7 {	.pb-bar-container {
		border-width: 1px;
	}
}
#OverviewEx1_ProgressBar7 {	.pb-bar-container {
		border-color: rgba(0, 0, 0, 1);
	}
}
#OverviewEx1_ProgressBar7 {	.pb-bar-container {
		@include border-radius(20px);
	}
}
#OverviewEx1_ProgressBar7 {	.pb-bar-container {
		background-color: rgba(255, 255, 255, 1);
	}
}
#OverviewEx1_ProgressBar7 {	.pb-bar-container {
		@include backGroundGradient('');
	}
}
#OverviewEx1_ProgressBar7 {	.pb-progress {
		background-color: rgba(0, 204, 204, 1);
	}
}
#OverviewEx1_ProgressBar7 {	.pb-progress {
		@include backGroundGradient('');
	}
}
#OverviewEx1_Line39 {	z-index: 27;
}
#OverviewEx1_Line40 {	z-index: 28;
}
#OverviewEx1_Line41 {	z-index: 29;
}
#OverviewEx1_P101_PV {	@include elemAutoHeight(30);
}
#OverviewEx1_P101_PV {	@include elemTop(160);
}
#OverviewEx1_P101_PV {	@include elemLeft(340);
}
#OverviewEx1_P101_PV {	@include elemAutoWidth(220);
}
#OverviewEx1_P101_PV {	z-index: 30;
}
#OverviewEx1_P101_FQ {	@include elemAutoHeight(30);
}
#OverviewEx1_P101_FQ {	@include elemTop(180);
}
#OverviewEx1_P101_FQ {	@include elemLeft(340);
}
#OverviewEx1_P101_FQ {	@include elemAutoWidth(220);
}
#OverviewEx1_P101_FQ {	z-index: 31;
}
#OverviewEx1_P101_FQ {	padding: 0px 15px 0px 15px;
}
#OverviewEx1_P101_TI {	@include elemAutoHeight(30);
}
#OverviewEx1_P101_TI {	@include elemTop(200);
}
#OverviewEx1_P101_TI {	@include elemLeft(340);
}
#OverviewEx1_P101_TI {	@include elemAutoWidth(220);
}
#OverviewEx1_P101_TI {	z-index: 32;
}
#OverviewEx1_P101_PI {	@include elemAutoHeight(30);
}
#OverviewEx1_P101_PI {	@include elemTop(157);
}
#OverviewEx1_P101_PI {	@include elemLeft(740);
}
#OverviewEx1_P101_PI {	@include elemAutoWidth(220);
}
#OverviewEx1_P101_PI {	z-index: 33;
}
#OverviewEx1_P201_PV {	@include elemAutoHeight(30);
}
#OverviewEx1_P201_PV {	@include elemTop(260);
}
#OverviewEx1_P201_PV {	@include elemLeft(1420);
}
#OverviewEx1_P201_PV {	@include elemAutoWidth(220);
}
#OverviewEx1_P201_PV {	z-index: 34;
}
#OverviewEx1_P201_FQ {	@include elemAutoHeight(30);
}
#OverviewEx1_P201_FQ {	@include elemTop(280);
}
#OverviewEx1_P201_FQ {	@include elemLeft(1420);
}
#OverviewEx1_P201_FQ {	@include elemAutoWidth(220);
}
#OverviewEx1_P201_FQ {	z-index: 35;
}
#OverviewEx1_P201_FQ {	padding: 0px 15px 0px 15px;
}
#OverviewEx1_P201_TI {	@include elemAutoHeight(30);
}
#OverviewEx1_P201_TI {	@include elemTop(300);
}
#OverviewEx1_P201_TI {	@include elemLeft(1420);
}
#OverviewEx1_P201_TI {	@include elemAutoWidth(220);
}
#OverviewEx1_P201_TI {	z-index: 36;
}
#OverviewEx1_P201_PI {	@include elemAutoHeight(30);
}
#OverviewEx1_P201_PI {	@include elemTop(280);
}
#OverviewEx1_P201_PI {	@include elemLeft(1520);
}
#OverviewEx1_P201_PI {	@include elemAutoWidth(220);
}
#OverviewEx1_P201_PI {	z-index: 37;
}
#OverviewEx1_P202_PV {	@include elemAutoHeight(30);
}
#OverviewEx1_P202_PV {	@include elemTop(520);
}
#OverviewEx1_P202_PV {	@include elemLeft(1420);
}
#OverviewEx1_P202_PV {	@include elemAutoWidth(220);
}
#OverviewEx1_P202_PV {	z-index: 38;
}
#OverviewEx1_P202_FQ {	@include elemAutoHeight(30);
}
#OverviewEx1_P202_FQ {	@include elemTop(540);
}
#OverviewEx1_P202_FQ {	@include elemLeft(1420);
}
#OverviewEx1_P202_FQ {	@include elemAutoWidth(220);
}
#OverviewEx1_P202_FQ {	z-index: 39;
}
#OverviewEx1_P202_FQ {	padding: 0px 15px 0px 15px;
}
#OverviewEx1_P202_TI {	@include elemAutoHeight(30);
}
#OverviewEx1_P202_TI {	@include elemTop(560);
}
#OverviewEx1_P202_TI {	@include elemLeft(1420);
}
#OverviewEx1_P202_TI {	@include elemAutoWidth(220);
}
#OverviewEx1_P202_TI {	z-index: 40;
}
#OverviewEx1_P202_PI {	@include elemAutoHeight(30);
}
#OverviewEx1_P202_PI {	@include elemTop(540);
}
#OverviewEx1_P202_PI {	@include elemLeft(1520);
}
#OverviewEx1_P202_PI {	@include elemAutoWidth(220);
}
#OverviewEx1_P202_PI {	z-index: 41;
}
#OverviewEx1_P203_PV {	@include elemAutoHeight(30);
}
#OverviewEx1_P203_PV {	@include elemTop(760);
}
#OverviewEx1_P203_PV {	@include elemLeft(1420);
}
#OverviewEx1_P203_PV {	@include elemAutoWidth(220);
}
#OverviewEx1_P203_PV {	z-index: 42;
}
#OverviewEx1_P203_FQ {	@include elemAutoHeight(30);
}
#OverviewEx1_P203_FQ {	@include elemTop(780);
}
#OverviewEx1_P203_FQ {	@include elemLeft(1420);
}
#OverviewEx1_P203_FQ {	@include elemAutoWidth(220);
}
#OverviewEx1_P203_FQ {	z-index: 43;
}
#OverviewEx1_P203_FQ {	padding: 0px 15px 0px 15px;
}
#OverviewEx1_P203_TI {	@include elemAutoHeight(30);
}
#OverviewEx1_P203_TI {	@include elemTop(800);
}
#OverviewEx1_P203_TI {	@include elemLeft(1420);
}
#OverviewEx1_P203_TI {	@include elemAutoWidth(220);
}
#OverviewEx1_P203_TI {	z-index: 44;
}
#OverviewEx1_P203_PI {	@include elemAutoHeight(30);
}
#OverviewEx1_P203_PI {	@include elemTop(780);
}
#OverviewEx1_P203_PI {	@include elemLeft(1520);
}
#OverviewEx1_P203_PI {	@include elemAutoWidth(220);
}
#OverviewEx1_P203_PI {	z-index: 45;
}
#OverviewEx1_P102_PPI {	@include elemAutoHeight(30);
}
#OverviewEx1_P102_PPI {	@include elemTop(443);
}
#OverviewEx1_P102_PPI {	@include elemLeft(80);
}
#OverviewEx1_P102_PPI {	@include elemAutoWidth(220);
}
#OverviewEx1_P102_PPI {	z-index: 46;
}
#OverviewEx1_P102_PFI {	@include elemAutoHeight(30);
}
#OverviewEx1_P102_PFI {	@include elemTop(443);
}
#OverviewEx1_P102_PFI {	@include elemLeft(-40);
}
#OverviewEx1_P102_PFI {	@include elemAutoWidth(220);
}
#OverviewEx1_P102_PFI {	z-index: 47;
}
#OverviewEx1_P103_PPI {	@include elemAutoHeight(30);
}
#OverviewEx1_P103_PPI {	@include elemTop(624);
}
#OverviewEx1_P103_PPI {	@include elemLeft(80);
}
#OverviewEx1_P103_PPI {	@include elemAutoWidth(220);
}
#OverviewEx1_P103_PPI {	z-index: 48;
}
#OverviewEx1_P103_PFI {	@include elemAutoHeight(30);
}
#OverviewEx1_P103_PFI {	@include elemTop(624);
}
#OverviewEx1_P103_PFI {	@include elemLeft(-40);
}
#OverviewEx1_P103_PFI {	@include elemAutoWidth(220);
}
#OverviewEx1_P103_PFI {	z-index: 49;
}
#OverviewEx1_P104_PPI {	@include elemAutoHeight(30);
}
#OverviewEx1_P104_PPI {	@include elemTop(819);
}
#OverviewEx1_P104_PPI {	@include elemLeft(80);
}
#OverviewEx1_P104_PPI {	@include elemAutoWidth(220);
}
#OverviewEx1_P104_PPI {	z-index: 50;
}
#OverviewEx1_P104_PFI {	@include elemAutoHeight(30);
}
#OverviewEx1_P104_PFI {	@include elemTop(819);
}
#OverviewEx1_P104_PFI {	@include elemLeft(-40);
}
#OverviewEx1_P104_PFI {	@include elemAutoWidth(220);
}
#OverviewEx1_P104_PFI {	z-index: 51;
}
#OverviewEx1_P201_PPI {	@include elemAutoHeight(30);
}
#OverviewEx1_P201_PPI {	@include elemTop(346);
}
#OverviewEx1_P201_PPI {	@include elemLeft(1200);
}
#OverviewEx1_P201_PPI {	@include elemAutoWidth(220);
}
#OverviewEx1_P201_PPI {	z-index: 52;
}
#OverviewEx1_P202_PPI {	@include elemAutoHeight(30);
}
#OverviewEx1_P202_PPI {	@include elemTop(640);
}
#OverviewEx1_P202_PPI {	@include elemLeft(1520);
}
#OverviewEx1_P202_PPI {	@include elemAutoWidth(220);
}
#OverviewEx1_P202_PPI {	z-index: 53;
}
#OverviewEx1_P202_PFI {	@include elemAutoHeight(30);
}
#OverviewEx1_P202_PFI {	@include elemTop(640);
}
#OverviewEx1_P202_PFI {	@include elemLeft(1420);
}
#OverviewEx1_P202_PFI {	@include elemAutoWidth(220);
}
#OverviewEx1_P202_PFI {	z-index: 54;
}
#OverviewEx1_P203_PPI {	@include elemAutoHeight(30);
}
#OverviewEx1_P203_PPI {	@include elemTop(880);
}
#OverviewEx1_P203_PPI {	@include elemLeft(1520);
}
#OverviewEx1_P203_PPI {	@include elemAutoWidth(220);
}
#OverviewEx1_P203_PPI {	z-index: 55;
}
#OverviewEx1_P203_PFI {	@include elemAutoHeight(30);
}
#OverviewEx1_P203_PFI {	@include elemTop(880);
}
#OverviewEx1_P203_PFI {	@include elemLeft(1420);
}
#OverviewEx1_P203_PFI {	@include elemAutoWidth(220);
}
#OverviewEx1_P203_PFI {	z-index: 56;
}
#OverviewEx1_LI200 {	@include elemAutoHeight(30);
}
#OverviewEx1_LI200 {	@include elemTop(620);
}
#OverviewEx1_LI200 {	@include elemLeft(1300);
}
#OverviewEx1_LI200 {	@include elemAutoWidth(220);
}
#OverviewEx1_LI200 {	z-index: 57;
}
#OverviewEx1_P201_PFI {	@include elemAutoHeight(30);
}
#OverviewEx1_P201_PFI {	@include elemTop(346);
}
#OverviewEx1_P201_PFI {	@include elemLeft(1040);
}
#OverviewEx1_P201_PFI {	@include elemAutoWidth(220);
}
#OverviewEx1_P201_PFI {	z-index: 58;
}
#OverviewEx1_CD101_TI {	@include elemAutoHeight(30);
}
#OverviewEx1_CD101_TI {	@include elemTop(240);
}
#OverviewEx1_CD101_TI {	@include elemLeft(815);
}
#OverviewEx1_CD101_TI {	@include elemAutoWidth(220);
}
#OverviewEx1_CD101_TI {	z-index: 59;
}
#OverviewEx1_CD101 {	@include elemAutoHeight(30);
}
#OverviewEx1_CD101 {	@include elemTop(240);
}
#OverviewEx1_CD101 {	@include elemLeft(565);
}
#OverviewEx1_CD101 {	@include elemAutoWidth(220);
}
#OverviewEx1_CD101 {	z-index: 60;
}
#OverviewEx1_CD101 {	input {
		font-size: 20px;
	}
}
#OverviewEx1_CD101 {	.breaseNumericOutput_unit {
		font-size: 16px;
	}
}
#OverviewEx1_CD101_SP {	@include elemAutoHeight(30);
}
#OverviewEx1_CD101_SP {	@include elemTop(240);
}
#OverviewEx1_CD101_SP {	@include elemLeft(720);
}
#OverviewEx1_CD101_SP {	@include elemAutoWidth(220);
}
#OverviewEx1_CD101_SP {	z-index: 61;
}
#OverviewEx1_CD102_TI {	@include elemAutoHeight(30);
}
#OverviewEx1_CD102_TI {	@include elemTop(480);
}
#OverviewEx1_CD102_TI {	@include elemLeft(815);
}
#OverviewEx1_CD102_TI {	@include elemAutoWidth(220);
}
#OverviewEx1_CD102_TI {	z-index: 62;
}
#OverviewEx1_CD102 {	@include elemAutoHeight(30);
}
#OverviewEx1_CD102 {	@include elemTop(480);
}
#OverviewEx1_CD102 {	@include elemLeft(565);
}
#OverviewEx1_CD102 {	@include elemAutoWidth(220);
}
#OverviewEx1_CD102 {	z-index: 63;
}
#OverviewEx1_CD102 {	input {
		font-size: 20px;
	}
}
#OverviewEx1_CD102 {	.breaseNumericOutput_unit {
		font-size: 16px;
	}
}
#OverviewEx1_CD102_SP {	@include elemAutoHeight(30);
}
#OverviewEx1_CD102_SP {	@include elemTop(480);
}
#OverviewEx1_CD102_SP {	@include elemLeft(720);
}
#OverviewEx1_CD102_SP {	@include elemAutoWidth(220);
}
#OverviewEx1_CD102_SP {	z-index: 64;
}
#OverviewEx1_P104_PV {	@include elemAutoHeight(30);
}
#OverviewEx1_P104_PV {	@include elemTop(740);
}
#OverviewEx1_P104_PV {	@include elemLeft(340);
}
#OverviewEx1_P104_PV {	@include elemAutoWidth(220);
}
#OverviewEx1_P104_PV {	z-index: 65;
}
#OverviewEx1_NumericOutput38 {	@include elemAutoHeight(30);
}
#OverviewEx1_NumericOutput38 {	@include elemTop(20);
}
#OverviewEx1_NumericOutput38 {	@include elemLeft(680);
}
#OverviewEx1_NumericOutput38 {	@include elemAutoWidth(220);
}
#OverviewEx1_NumericOutput38 {	z-index: 66;
}
#OverviewEx1_NI_Write_EFF_1 {	@include elemAutoHeight(30);
}
#OverviewEx1_NI_Write_EFF_1 {	@include elemTop(40);
}
#OverviewEx1_NI_Write_EFF_1 {	@include elemLeft(720);
}
#OverviewEx1_NI_Write_EFF_1 {	@include elemAutoWidth(180);
}
#OverviewEx1_NI_Write_EFF_1 {	z-index: 67;
}
#OverviewEx1_PB_Write_EFF_1 {	@include elemAutoHeight(30);
}
#OverviewEx1_PB_Write_EFF_1 {	@include elemTop(80);
}
#OverviewEx1_PB_Write_EFF_1 {	@include elemLeft(720);
}
#OverviewEx1_PB_Write_EFF_1 {	@include elemAutoWidth(180);
}
#OverviewEx1_PB_Write_EFF_1 {	z-index: 68;
}
#OverviewEx1_OnlineChart1 {	@include elemTop(260);
}
#OverviewEx1_OnlineChart1 {	@include elemLeft(560);
}
#OverviewEx1_OnlineChart1 {	@include elemWidth(480);
}
#OverviewEx1_OnlineChart1 {	@include elemHeight(201);
}
#OverviewEx1_OnlineChart1 {	z-index: 69;
}
#OverviewEx1_OnlineChart1 {	&:not(.disabled) .chart {
		stroke: rgba(0, 0, 0, 1);
	}
}
#OverviewEx1_OnlineChart1 {	&.breaseChartWidget.editMode:not(.disabled) .areaGraph {
		border-color: rgba(0, 0, 0, 1);
	}
}
#OverviewEx1_OnlineChart1 {	border-style: hidden;
}
#OverviewEx1_OnlineChart1 {	&.disabled {
		border-style: hidden;
	}
}
#OverviewEx1_OnlineChartTimeAxis1 {	@include elemHeight(30);
}
#OverviewEx1_OnlineChartTimeAxis1 {	@include elemFlexBasis(30);
}
#OverviewEx1_OnlineChartTimeAxis1 {	z-index: 0;
}
#OverviewEx1_OnlineChartYAxis1 {	@include elemWidth(60);
}
#OverviewEx1_OnlineChartYAxis1 {	@include elemFlexBasis(60);
}
#OverviewEx1_OnlineChartYAxis1 {	z-index: 1;
}
#OverviewEx1_CD101_CHART {	z-index: 0;
}
#OverviewEx1_OnlineChart2 {	@include elemTop(500);
}
#OverviewEx1_OnlineChart2 {	@include elemLeft(560);
}
#OverviewEx1_OnlineChart2 {	@include elemWidth(482);
}
#OverviewEx1_OnlineChart2 {	@include elemHeight(202);
}
#OverviewEx1_OnlineChart2 {	z-index: 70;
}
#OverviewEx1_OnlineChart2 {	border-style: hidden;
}
#OverviewEx1_OnlineChart2 {	&.disabled {
		border-style: hidden;
	}
}
#OverviewEx1_OnlineChartTimeAxis2 {	@include elemHeight(30);
}
#OverviewEx1_OnlineChartTimeAxis2 {	@include elemFlexBasis(30);
}
#OverviewEx1_OnlineChartTimeAxis2 {	z-index: 0;
}
#OverviewEx1_OnlineChartYAxis2 {	@include elemWidth(60);
}
#OverviewEx1_OnlineChartYAxis2 {	@include elemFlexBasis(60);
}
#OverviewEx1_OnlineChartYAxis2 {	z-index: 1;
}
#OverviewEx1_CD1 {	z-index: 0;
}
#OverviewEx1_Image8 {	@include elemAutoHeight(100);
}
#OverviewEx1_Image8 {	@include elemTop(714);
}
#OverviewEx1_Image8 {	@include elemLeft(220);
}
#OverviewEx1_Image8 {	@include elemAutoWidth(140);
}
#OverviewEx1_Image8 {	z-index: 71;
}
#OverviewEx1_Image9 {	@include elemTop(127);
}
#OverviewEx1_Image9 {	@include elemLeft(210);
}
#OverviewEx1_Image9 {	@include elemAutoWidth(181);
}
#OverviewEx1_Image9 {	@include elemAutoHeight(140);
}
#OverviewEx1_Image9 {	z-index: 72;
}
#OverviewEx1_Image13 {	@include elemTop(120);
}
#OverviewEx1_Image13 {	@include elemLeft(480);
}
#OverviewEx1_Image13 {	@include elemAutoWidth(60);
}
#OverviewEx1_Image13 {	@include elemAutoHeight(40);
}
#OverviewEx1_Image13 {	z-index: 73;
}
#OverviewEx1_Image14 {	@include elemTop(700);
}
#OverviewEx1_Image14 {	@include elemLeft(480);
}
#OverviewEx1_Image14 {	@include elemAutoWidth(60);
}
#OverviewEx1_Image14 {	@include elemAutoHeight(40);
}
#OverviewEx1_Image14 {	z-index: 74;
}
#OverviewEx1_TextOutput2 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput2 {	@include elemTop(791);
}
#OverviewEx1_TextOutput2 {	@include elemLeft(80);
}
#OverviewEx1_TextOutput2 {	@include elemAutoWidth(70);
}
#OverviewEx1_TextOutput2 {	z-index: 75;
}
#OverviewEx1_TextOutput2 {	@include text-alignment-all('center');
}
#OverviewEx1_NI_Write_P104_SP {	@include elemAutoHeight(30);
}
#OverviewEx1_NI_Write_P104_SP {	@include elemTop(764);
}
#OverviewEx1_NI_Write_P104_SP {	@include elemLeft(60);
}
#OverviewEx1_NI_Write_P104_SP {	@include elemAutoWidth(80);
}
#OverviewEx1_NI_Write_P104_SP {	z-index: 76;
}
#OverviewEx1_PB_Write_P104_SP {	@include elemAutoHeight(30);
}
#OverviewEx1_PB_Write_P104_SP {	@include elemTop(764);
}
#OverviewEx1_PB_Write_P104_SP {	@include elemLeft(145);
}
#OverviewEx1_PB_Write_P104_SP {	@include elemAutoWidth(60);
}
#OverviewEx1_PB_Write_P104_SP {	z-index: 77;
}
#OverviewEx1_P104_SP {	@include elemAutoHeight(30);
}
#OverviewEx1_P104_SP {	@include elemTop(734);
}
#OverviewEx1_P104_SP {	@include elemLeft(0);
}
#OverviewEx1_P104_SP {	@include elemAutoWidth(220);
}
#OverviewEx1_P104_SP {	z-index: 78;
}
#OverviewEx1_TextOutput3 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput3 {	@include elemTop(734);
}
#OverviewEx1_TextOutput3 {	@include elemLeft(60);
}
#OverviewEx1_TextOutput3 {	@include elemAutoWidth(70);
}
#OverviewEx1_TextOutput3 {	z-index: 79;
}
#OverviewEx1_TextOutput3 {	@include text-alignment-all('center');
}
#OverviewEx1_Rectangle4 {	@include elemTop(506);
}
#OverviewEx1_Rectangle4 {	@include elemLeft(40);
}
#OverviewEx1_Rectangle4 {	@include elemWidth(400);
}
#OverviewEx1_Rectangle4 {	@include elemHeight(120);
}
#OverviewEx1_Rectangle4 {	z-index: 80;
}
#OverviewEx1_Rectangle4 {	border-width: 2px;
}
#OverviewEx1_Rectangle4 {	background-color: rgba(255, 255, 255, 0);
}
#OverviewEx1_Rectangle5 {	@include elemTop(818);
}
#OverviewEx1_Rectangle5 {	@include elemLeft(40);
}
#OverviewEx1_Rectangle5 {	@include elemWidth(400);
}
#OverviewEx1_Rectangle5 {	@include elemHeight(30);
}
#OverviewEx1_Rectangle5 {	z-index: 81;
}
#OverviewEx1_Rectangle5 {	border-width: 2px;
}
#OverviewEx1_Rectangle5 {	background-color: rgba(255, 255, 255, 0);
}
#OverviewEx1_Rectangle6 {	@include elemTop(624);
}
#OverviewEx1_Rectangle6 {	@include elemLeft(40);
}
#OverviewEx1_Rectangle6 {	@include elemWidth(400);
}
#OverviewEx1_Rectangle6 {	@include elemHeight(30);
}
#OverviewEx1_Rectangle6 {	z-index: 82;
}
#OverviewEx1_Rectangle6 {	border-width: 2px;
}
#OverviewEx1_Rectangle6 {	background-color: rgba(255, 255, 255, 0);
}
#OverviewEx1_Image11 {	@include elemAutoHeight(100);
}
#OverviewEx1_Image11 {	@include elemTop(520);
}
#OverviewEx1_Image11 {	@include elemLeft(220);
}
#OverviewEx1_Image11 {	@include elemAutoWidth(140);
}
#OverviewEx1_Image11 {	z-index: 83;
}
#OverviewEx1_TextOutput8 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput8 {	@include elemTop(597);
}
#OverviewEx1_TextOutput8 {	@include elemLeft(80);
}
#OverviewEx1_TextOutput8 {	@include elemAutoWidth(70);
}
#OverviewEx1_TextOutput8 {	z-index: 84;
}
#OverviewEx1_TextOutput8 {	@include text-alignment-all('center');
}
#OverviewEx1_Ellipse1 {	@include elemTop(601);
}
#OverviewEx1_Ellipse1 {	@include elemLeft(60);
}
#OverviewEx1_Ellipse1 {	@include elemWidth(20);
}
#OverviewEx1_Ellipse1 {	@include elemHeight(20);
}
#OverviewEx1_Ellipse1 {	z-index: 85;
}
#OverviewEx1_NI_Write_P103_SP {	@include elemAutoHeight(30);
}
#OverviewEx1_NI_Write_P103_SP {	@include elemTop(568);
}
#OverviewEx1_NI_Write_P103_SP {	@include elemLeft(60);
}
#OverviewEx1_NI_Write_P103_SP {	@include elemAutoWidth(80);
}
#OverviewEx1_NI_Write_P103_SP {	z-index: 86;
}
#OverviewEx1_PB_Write_P103_SP {	@include elemAutoHeight(30);
}
#OverviewEx1_PB_Write_P103_SP {	@include elemTop(568);
}
#OverviewEx1_PB_Write_P103_SP {	@include elemLeft(145);
}
#OverviewEx1_PB_Write_P103_SP {	@include elemAutoWidth(60);
}
#OverviewEx1_PB_Write_P103_SP {	z-index: 87;
}
#OverviewEx1_P103_SP {	@include elemAutoHeight(30);
}
#OverviewEx1_P103_SP {	@include elemTop(538);
}
#OverviewEx1_P103_SP {	@include elemLeft(0);
}
#OverviewEx1_P103_SP {	@include elemAutoWidth(220);
}
#OverviewEx1_P103_SP {	z-index: 88;
}
#OverviewEx1_TextOutput18 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput18 {	@include elemTop(518);
}
#OverviewEx1_TextOutput18 {	@include elemLeft(100);
}
#OverviewEx1_TextOutput18 {	@include elemAutoWidth(70);
}
#OverviewEx1_TextOutput18 {	z-index: 89;
}
#OverviewEx1_TextOutput18 {	@include text-alignment-all('center');
}
#OverviewEx1_TextOutput18 {	font-size: 20px;
}
#OverviewEx1_HP_CONC {	@include elemAutoHeight(30);
}
#OverviewEx1_HP_CONC {	@include elemTop(597);
}
#OverviewEx1_HP_CONC {	@include elemLeft(-5);
}
#OverviewEx1_HP_CONC {	@include elemAutoWidth(220);
}
#OverviewEx1_HP_CONC {	z-index: 90;
}
#OverviewEx1_Rectangle7 {	@include elemTop(700);
}
#OverviewEx1_Rectangle7 {	@include elemLeft(40);
}
#OverviewEx1_Rectangle7 {	@include elemWidth(400);
}
#OverviewEx1_Rectangle7 {	@include elemHeight(120);
}
#OverviewEx1_Rectangle7 {	z-index: 0;
}
#OverviewEx1_Rectangle7 {	border-width: 2px;
}
#OverviewEx1_Rectangle7 {	background-color: rgba(255, 255, 255, 0);
}
#OverviewEx1_Rectangle8 {	@include elemTop(324);
}
#OverviewEx1_Rectangle8 {	@include elemLeft(40);
}
#OverviewEx1_Rectangle8 {	@include elemWidth(400);
}
#OverviewEx1_Rectangle8 {	@include elemHeight(120);
}
#OverviewEx1_Rectangle8 {	z-index: 19;
}
#OverviewEx1_Rectangle8 {	border-width: 2px;
}
#OverviewEx1_Rectangle8 {	background-color: rgba(255, 255, 255, 0);
}
#OverviewEx1_Image12 {	@include elemAutoHeight(100);
}
#OverviewEx1_Image12 {	@include elemTop(340);
}
#OverviewEx1_Image12 {	@include elemLeft(220);
}
#OverviewEx1_Image12 {	@include elemAutoWidth(140);
}
#OverviewEx1_Image12 {	z-index: 20;
}
#OverviewEx1_TextOutput10 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput10 {	@include elemTop(415);
}
#OverviewEx1_TextOutput10 {	@include elemLeft(80);
}
#OverviewEx1_TextOutput10 {	@include elemAutoWidth(70);
}
#OverviewEx1_TextOutput10 {	z-index: 91;
}
#OverviewEx1_TextOutput10 {	@include text-alignment-all('center');
}
#OverviewEx1_Ellipse2 {	@include elemTop(419);
}
#OverviewEx1_Ellipse2 {	@include elemLeft(60);
}
#OverviewEx1_Ellipse2 {	@include elemWidth(20);
}
#OverviewEx1_Ellipse2 {	@include elemHeight(20);
}
#OverviewEx1_Ellipse2 {	z-index: 92;
}
#OverviewEx1_NI_Write_P102_SP {	@include elemAutoHeight(30);
}
#OverviewEx1_NI_Write_P102_SP {	@include elemTop(386);
}
#OverviewEx1_NI_Write_P102_SP {	@include elemLeft(60);
}
#OverviewEx1_NI_Write_P102_SP {	@include elemAutoWidth(80);
}
#OverviewEx1_NI_Write_P102_SP {	z-index: 93;
}
#OverviewEx1_PB_Write_P102_SP {	@include elemAutoHeight(30);
}
#OverviewEx1_PB_Write_P102_SP {	@include elemTop(386);
}
#OverviewEx1_PB_Write_P102_SP {	@include elemLeft(145);
}
#OverviewEx1_PB_Write_P102_SP {	@include elemAutoWidth(60);
}
#OverviewEx1_PB_Write_P102_SP {	z-index: 94;
}
#OverviewEx1_P102_SP {	@include elemAutoHeight(30);
}
#OverviewEx1_P102_SP {	@include elemTop(356);
}
#OverviewEx1_P102_SP {	@include elemLeft(0);
}
#OverviewEx1_P102_SP {	@include elemAutoWidth(220);
}
#OverviewEx1_P102_SP {	z-index: 95;
}
#OverviewEx1_TextOutput11 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput11 {	@include elemTop(356);
}
#OverviewEx1_TextOutput11 {	@include elemLeft(60);
}
#OverviewEx1_TextOutput11 {	@include elemAutoWidth(70);
}
#OverviewEx1_TextOutput11 {	z-index: 96;
}
#OverviewEx1_TextOutput11 {	@include text-alignment-all('center');
}
#OverviewEx1_TextOutput19 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput19 {	@include elemTop(336);
}
#OverviewEx1_TextOutput19 {	@include elemLeft(100);
}
#OverviewEx1_TextOutput19 {	@include elemAutoWidth(70);
}
#OverviewEx1_TextOutput19 {	z-index: 97;
}
#OverviewEx1_TextOutput19 {	@include text-alignment-all('center');
}
#OverviewEx1_TextOutput19 {	font-size: 20px;
}
#OverviewEx1_NAOH_CONC {	@include elemAutoHeight(30);
}
#OverviewEx1_NAOH_CONC {	@include elemTop(415);
}
#OverviewEx1_NAOH_CONC {	@include elemLeft(-5);
}
#OverviewEx1_NAOH_CONC {	@include elemAutoWidth(220);
}
#OverviewEx1_NAOH_CONC {	z-index: 98;
}
#OverviewEx1_Rectangle9 {	@include elemTop(442);
}
#OverviewEx1_Rectangle9 {	@include elemLeft(40);
}
#OverviewEx1_Rectangle9 {	@include elemWidth(400);
}
#OverviewEx1_Rectangle9 {	@include elemHeight(30);
}
#OverviewEx1_Rectangle9 {	z-index: 99;
}
#OverviewEx1_Rectangle9 {	border-width: 2px;
}
#OverviewEx1_Rectangle9 {	background-color: rgba(255, 255, 255, 0);
}
#OverviewEx1_NI_Write_P101_SP {	@include elemAutoHeight(30);
}
#OverviewEx1_NI_Write_P101_SP {	@include elemTop(205);
}
#OverviewEx1_NI_Write_P101_SP {	@include elemLeft(60);
}
#OverviewEx1_NI_Write_P101_SP {	@include elemAutoWidth(80);
}
#OverviewEx1_NI_Write_P101_SP {	z-index: 100;
}
#OverviewEx1_PB_Write_P101_SP {	@include elemAutoHeight(30);
}
#OverviewEx1_PB_Write_P101_SP {	@include elemTop(205);
}
#OverviewEx1_PB_Write_P101_SP {	@include elemLeft(145);
}
#OverviewEx1_PB_Write_P101_SP {	@include elemAutoWidth(60);
}
#OverviewEx1_PB_Write_P101_SP {	z-index: 101;
}
#OverviewEx1_P101_SP {	@include elemAutoHeight(30);
}
#OverviewEx1_P101_SP {	@include elemTop(170);
}
#OverviewEx1_P101_SP {	@include elemLeft(0);
}
#OverviewEx1_P101_SP {	@include elemAutoWidth(220);
}
#OverviewEx1_P101_SP {	z-index: 102;
}
#OverviewEx1_TextOutput12 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput12 {	@include elemTop(170);
}
#OverviewEx1_TextOutput12 {	@include elemLeft(60);
}
#OverviewEx1_TextOutput12 {	@include elemAutoWidth(70);
}
#OverviewEx1_TextOutput12 {	z-index: 103;
}
#OverviewEx1_TextOutput12 {	@include text-alignment-all('center');
}
#OverviewEx1_TextOutput21 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput21 {	@include elemTop(132);
}
#OverviewEx1_TextOutput21 {	@include elemLeft(100);
}
#OverviewEx1_TextOutput21 {	@include elemAutoWidth(70);
}
#OverviewEx1_TextOutput21 {	z-index: 104;
}
#OverviewEx1_TextOutput21 {	@include text-alignment-all('center');
}
#OverviewEx1_TextOutput21 {	font-size: 20px;
}
#OverviewEx1_TextOutput13 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput13 {	@include elemTop(240);
}
#OverviewEx1_TextOutput13 {	@include elemLeft(80);
}
#OverviewEx1_TextOutput13 {	@include elemAutoWidth(70);
}
#OverviewEx1_TextOutput13 {	z-index: 105;
}
#OverviewEx1_TextOutput13 {	@include text-alignment-all('center');
}
#OverviewEx1_Rectangle10 {	@include elemTop(119);
}
#OverviewEx1_Rectangle10 {	@include elemLeft(40);
}
#OverviewEx1_Rectangle10 {	@include elemWidth(400);
}
#OverviewEx1_Rectangle10 {	@include elemHeight(150);
}
#OverviewEx1_Rectangle10 {	z-index: 18;
}
#OverviewEx1_Rectangle10 {	border-width: 2px;
}
#OverviewEx1_Rectangle10 {	background-color: rgba(255, 255, 255, 0);
}
#OverviewEx1_TextOutput22 {	@include elemTop(-10);
}
#OverviewEx1_TextOutput22 {	@include elemLeft(0);
}
#OverviewEx1_TextOutput22 {	@include elemAutoWidth(260);
}
#OverviewEx1_TextOutput22 {	@include elemAutoHeight(62);
}
#OverviewEx1_TextOutput22 {	z-index: 106;
}
#OverviewEx1_TextOutput22 {	@include text-alignment-all('center');
}
#OverviewEx1_TextOutput22 {	font-size: 28px;
}
#OverviewEx1_PMAX_CONC {	@include elemAutoHeight(30);
}
#OverviewEx1_PMAX_CONC {	@include elemTop(55);
}
#OverviewEx1_PMAX_CONC {	@include elemLeft(-40);
}
#OverviewEx1_PMAX_CONC {	@include elemAutoWidth(220);
}
#OverviewEx1_PMAX_CONC {	z-index: 107;
}
#OverviewEx1_TextOutput14 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput14 {	@include elemTop(538);
}
#OverviewEx1_TextOutput14 {	@include elemLeft(60);
}
#OverviewEx1_TextOutput14 {	@include elemAutoWidth(70);
}
#OverviewEx1_TextOutput14 {	z-index: 108;
}
#OverviewEx1_TextOutput14 {	@include text-alignment-all('center');
}
#OverviewEx1_PMAX_RATE {	@include elemAutoHeight(30);
}
#OverviewEx1_PMAX_RATE {	@include elemTop(75);
}
#OverviewEx1_PMAX_RATE {	@include elemLeft(-40);
}
#OverviewEx1_PMAX_RATE {	@include elemAutoWidth(220);
}
#OverviewEx1_PMAX_RATE {	z-index: 109;
}
#OverviewEx1_UNIT_ID_DOSE {	@include elemAutoWidth(100);
}
#OverviewEx1_UNIT_ID_DOSE {	@include elemAutoHeight(30);
}
#OverviewEx1_UNIT_ID_DOSE {	@include elemTop(35);
}
#OverviewEx1_UNIT_ID_DOSE {	@include elemLeft(80);
}
#OverviewEx1_UNIT_ID_DOSE {	z-index: 110;
}
#OverviewEx1_TextOutput15 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput15 {	@include elemTop(35);
}
#OverviewEx1_TextOutput15 {	@include elemLeft(75);
}
#OverviewEx1_TextOutput15 {	@include elemAutoWidth(70);
}
#OverviewEx1_TextOutput15 {	z-index: 111;
}
#OverviewEx1_TextOutput15 {	@include text-alignment-all('center');
}
#OverviewEx1_Rectangle11 {	@include elemTop(3);
}
#OverviewEx1_Rectangle11 {	@include elemLeft(40);
}
#OverviewEx1_Rectangle11 {	@include elemWidth(620);
}
#OverviewEx1_Rectangle11 {	@include elemHeight(100);
}
#OverviewEx1_Rectangle11 {	z-index: 112;
}
#OverviewEx1_Rectangle11 {	border-width: 2px;
}
#OverviewEx1_Rectangle11 {	background-color: rgba(255, 255, 255, 0);
}
#OverviewEx1_TextOutput23 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput23 {	@include elemTop(240);
}
#OverviewEx1_TextOutput23 {	@include elemLeft(580);
}
#OverviewEx1_TextOutput23 {	@include elemAutoWidth(80);
}
#OverviewEx1_TextOutput23 {	z-index: 113;
}
#OverviewEx1_TextOutput23 {	@include text-alignment-all('center');
}
#OverviewEx1_TextOutput23 {	font-size: 20px;
}
#OverviewEx1_TextOutput16 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput16 {	@include elemTop(240);
}
#OverviewEx1_TextOutput16 {	@include elemLeft(775);
}
#OverviewEx1_TextOutput16 {	@include elemAutoWidth(70);
}
#OverviewEx1_TextOutput16 {	z-index: 114;
}
#OverviewEx1_TextOutput16 {	@include text-alignment-all('center');
}
#OverviewEx1_Rectangle12 {	@include elemTop(230);
}
#OverviewEx1_Rectangle12 {	@include elemLeft(575);
}
#OverviewEx1_Rectangle12 {	@include elemWidth(485);
}
#OverviewEx1_Rectangle12 {	@include elemHeight(220);
}
#OverviewEx1_Rectangle12 {	z-index: 21;
}
#OverviewEx1_Rectangle12 {	border-width: 2px;
}
#OverviewEx1_Rectangle12 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx1_TextOutput24 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput24 {	@include elemTop(480);
}
#OverviewEx1_TextOutput24 {	@include elemLeft(580);
}
#OverviewEx1_TextOutput24 {	@include elemAutoWidth(80);
}
#OverviewEx1_TextOutput24 {	z-index: 115;
}
#OverviewEx1_TextOutput24 {	@include text-alignment-all('center');
}
#OverviewEx1_TextOutput24 {	font-size: 20px;
}
#OverviewEx1_TextOutput25 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput25 {	@include elemTop(480);
}
#OverviewEx1_TextOutput25 {	@include elemLeft(775);
}
#OverviewEx1_TextOutput25 {	@include elemAutoWidth(70);
}
#OverviewEx1_TextOutput25 {	z-index: 116;
}
#OverviewEx1_TextOutput25 {	@include text-alignment-all('center');
}
#OverviewEx1_Rectangle13 {	@include elemTop(470);
}
#OverviewEx1_Rectangle13 {	@include elemLeft(575);
}
#OverviewEx1_Rectangle13 {	@include elemWidth(485);
}
#OverviewEx1_Rectangle13 {	@include elemHeight(220);
}
#OverviewEx1_Rectangle13 {	z-index: 22;
}
#OverviewEx1_Rectangle13 {	border-width: 2px;
}
#OverviewEx1_Rectangle13 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx1_Image15 {	@include elemTop(160);
}
#OverviewEx1_Image15 {	@include elemLeft(814);
}
#OverviewEx1_Image15 {	@include elemAutoWidth(60);
}
#OverviewEx1_Image15 {	@include elemAutoHeight(40);
}
#OverviewEx1_Image15 {	z-index: 117;
}
#OverviewEx1_Line1 {	z-index: 15;
}
#OverviewEx1_Line1 {	line {
		stroke: rgba(0, 0, 255, 1);
	}
}
#OverviewEx1_Line1 {	line {
		stroke-width: 7px;
	}
}
#OverviewEx1_Line2 {	z-index: 14;
}
#OverviewEx1_Line2 {	line {
		stroke: rgba(0, 0, 255, 1);
	}
}
#OverviewEx1_Line2 {	line {
		stroke-width: 7px;
	}
}
#OverviewEx1_Line3 {	z-index: 4;
}
#OverviewEx1_Line3 {	line {
		stroke: rgba(0, 0, 255, 1);
	}
}
#OverviewEx1_Line3 {	line {
		stroke-width: 7px;
	}
}
#OverviewEx1_Line4 {	z-index: 3;
}
#OverviewEx1_Line4 {	line {
		stroke: rgba(0, 0, 255, 1);
	}
}
#OverviewEx1_Line4 {	line {
		stroke-width: 7px;
	}
}
#OverviewEx1_Line5 {	z-index: 13;
}
#OverviewEx1_Line5 {	line {
		stroke: rgba(0, 0, 255, 1);
	}
}
#OverviewEx1_Line5 {	line {
		stroke-width: 7px;
	}
}
#OverviewEx1_Line6 {	z-index: 11;
}
#OverviewEx1_Line6 {	line {
		stroke: rgba(0, 0, 255, 1);
	}
}
#OverviewEx1_Line6 {	line {
		stroke-width: 7px;
	}
}
#OverviewEx1_Line7 {	z-index: 10;
}
#OverviewEx1_Line7 {	line {
		stroke: rgba(0, 0, 255, 1);
	}
}
#OverviewEx1_Line7 {	line {
		stroke-width: 7px;
	}
}
#OverviewEx1_Line8 {	z-index: 8;
}
#OverviewEx1_Line8 {	line {
		stroke: rgba(0, 0, 255, 1);
	}
}
#OverviewEx1_Line8 {	line {
		stroke-width: 7px;
	}
}
#OverviewEx1_Line9 {	z-index: 5;
}
#OverviewEx1_Line9 {	line {
		stroke: rgba(0, 0, 255, 1);
	}
}
#OverviewEx1_Line9 {	line {
		stroke-width: 7px;
	}
}
#OverviewEx1_Line10 {	z-index: 17;
}
#OverviewEx1_Line10 {	line {
		stroke: rgba(0, 0, 255, 1);
	}
}
#OverviewEx1_Line10 {	line {
		stroke-width: 7px;
	}
}
#OverviewEx1_Line11 {	z-index: 6;
}
#OverviewEx1_Line11 {	line {
		stroke: rgba(0, 0, 255, 1);
	}
}
#OverviewEx1_Line11 {	line {
		stroke-width: 7px;
	}
}
#OverviewEx1_Line12 {	z-index: 7;
}
#OverviewEx1_Line12 {	line {
		stroke: rgba(0, 0, 255, 1);
	}
}
#OverviewEx1_Line12 {	line {
		stroke-width: 7px;
	}
}
#OverviewEx1_Line13 {	z-index: 9;
}
#OverviewEx1_Line13 {	line {
		stroke: rgba(0, 0, 255, 1);
	}
}
#OverviewEx1_Line13 {	line {
		stroke-width: 7px;
	}
}
#OverviewEx1_Line14 {	z-index: 12;
}
#OverviewEx1_Line14 {	line {
		stroke: rgba(0, 0, 255, 1);
	}
}
#OverviewEx1_Line14 {	line {
		stroke-width: 7px;
	}
}
#OverviewEx1_Line15 {	z-index: 16;
}
#OverviewEx1_Line15 {	line {
		stroke: rgba(0, 0, 255, 1);
	}
}
#OverviewEx1_Line15 {	line {
		stroke-width: 7px;
	}
}
#OverviewEx1_PB_Write_P101_STRT_CMD {	@include elemAutoHeight(30);
}
#OverviewEx1_PB_Write_P101_STRT_CMD {	@include elemTop(160);
}
#OverviewEx1_PB_Write_P101_STRT_CMD {	@include elemLeft(360);
}
#OverviewEx1_PB_Write_P101_STRT_CMD {	@include elemAutoWidth(62);
}
#OverviewEx1_PB_Write_P101_STRT_CMD {	z-index: 118;
}
#OverviewEx1_TextOutput26 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput26 {	@include elemTop(460);
}
#OverviewEx1_TextOutput26 {	@include elemLeft(1620);
}
#OverviewEx1_TextOutput26 {	@include elemAutoWidth(70);
}
#OverviewEx1_TextOutput26 {	z-index: 119;
}
#OverviewEx1_TextOutput26 {	@include text-alignment-all('center');
}
#OverviewEx1_TextOutput26 {	font-size: 20px;
}
#OverviewEx1_TextOutput27 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput27 {	@include elemTop(700);
}
#OverviewEx1_TextOutput27 {	@include elemLeft(1620);
}
#OverviewEx1_TextOutput27 {	@include elemAutoWidth(70);
}
#OverviewEx1_TextOutput27 {	z-index: 120;
}
#OverviewEx1_TextOutput27 {	@include text-alignment-all('center');
}
#OverviewEx1_TextOutput27 {	font-size: 20px;
}
#OverviewEx1_PB_Write_P101_STP_CMD {	@include elemAutoHeight(30);
}
#OverviewEx1_PB_Write_P101_STP_CMD {	@include elemTop(201);
}
#OverviewEx1_PB_Write_P101_STP_CMD {	@include elemLeft(360);
}
#OverviewEx1_PB_Write_P101_STP_CMD {	@include elemAutoWidth(62);
}
#OverviewEx1_PB_Write_P101_STP_CMD {	z-index: 121;
}
#OverviewEx1_PB_Write_P102_STRT_CMD {	@include elemAutoHeight(30);
}
#OverviewEx1_PB_Write_P102_STRT_CMD {	@include elemTop(360);
}
#OverviewEx1_PB_Write_P102_STRT_CMD {	@include elemLeft(360);
}
#OverviewEx1_PB_Write_P102_STRT_CMD {	@include elemAutoWidth(62);
}
#OverviewEx1_PB_Write_P102_STRT_CMD {	z-index: 122;
}
#OverviewEx1_PB_Write_P102_STP_CMD {	@include elemAutoHeight(30);
}
#OverviewEx1_PB_Write_P102_STP_CMD {	@include elemTop(400);
}
#OverviewEx1_PB_Write_P102_STP_CMD {	@include elemLeft(360);
}
#OverviewEx1_PB_Write_P102_STP_CMD {	@include elemAutoWidth(62);
}
#OverviewEx1_PB_Write_P102_STP_CMD {	z-index: 123;
}
#OverviewEx1_PB_Write_P103_STRT_CMD {	@include elemAutoHeight(30);
}
#OverviewEx1_PB_Write_P103_STRT_CMD {	@include elemTop(540);
}
#OverviewEx1_PB_Write_P103_STRT_CMD {	@include elemLeft(360);
}
#OverviewEx1_PB_Write_P103_STRT_CMD {	@include elemAutoWidth(62);
}
#OverviewEx1_PB_Write_P103_STRT_CMD {	z-index: 124;
}
#OverviewEx1_PB_Write_P103_STP_CMD {	@include elemAutoHeight(30);
}
#OverviewEx1_PB_Write_P103_STP_CMD {	@include elemTop(581);
}
#OverviewEx1_PB_Write_P103_STP_CMD {	@include elemLeft(360);
}
#OverviewEx1_PB_Write_P103_STP_CMD {	@include elemAutoWidth(62);
}
#OverviewEx1_PB_Write_P103_STP_CMD {	z-index: 125;
}
#OverviewEx1_PB_Write_P104_STRT_CMD {	@include elemAutoHeight(30);
}
#OverviewEx1_PB_Write_P104_STRT_CMD {	@include elemTop(735);
}
#OverviewEx1_PB_Write_P104_STRT_CMD {	@include elemLeft(360);
}
#OverviewEx1_PB_Write_P104_STRT_CMD {	@include elemAutoWidth(62);
}
#OverviewEx1_PB_Write_P104_STRT_CMD {	z-index: 126;
}
#OverviewEx1_PB_Write_P104_STP_CMD {	@include elemAutoHeight(30);
}
#OverviewEx1_PB_Write_P104_STP_CMD {	@include elemTop(776);
}
#OverviewEx1_PB_Write_P104_STP_CMD {	@include elemLeft(360);
}
#OverviewEx1_PB_Write_P104_STP_CMD {	@include elemAutoWidth(62);
}
#OverviewEx1_PB_Write_P104_STP_CMD {	z-index: 127;
}
#OverviewEx1_TextOutput28 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput28 {	@include elemTop(160);
}
#OverviewEx1_TextOutput28 {	@include elemLeft(1120);
}
#OverviewEx1_TextOutput28 {	@include elemAutoWidth(70);
}
#OverviewEx1_TextOutput28 {	z-index: 129;
}
#OverviewEx1_TextOutput28 {	@include text-alignment-all('center');
}
#OverviewEx1_TextOutput28 {	font-size: 20px;
}
#OverviewEx1_Image10 {	@include elemAutoHeight(100);
}
#OverviewEx1_Image10 {	@include elemTop(240);
}
#OverviewEx1_Image10 {	@include elemLeft(1280);
}
#OverviewEx1_Image10 {	@include elemAutoWidth(140);
}
#OverviewEx1_Image10 {	z-index: 130;
}
#OverviewEx1_NI_Write_P201_SP {	@include elemAutoHeight(30);
}
#OverviewEx1_NI_Write_P201_SP {	@include elemTop(220);
}
#OverviewEx1_NI_Write_P201_SP {	@include elemLeft(1120);
}
#OverviewEx1_NI_Write_P201_SP {	@include elemAutoWidth(80);
}
#OverviewEx1_NI_Write_P201_SP {	z-index: 131;
}
#OverviewEx1_PB_Write_P201_SP {	@include elemAutoHeight(30);
}
#OverviewEx1_PB_Write_P201_SP {	@include elemTop(220);
}
#OverviewEx1_PB_Write_P201_SP {	@include elemLeft(1210);
}
#OverviewEx1_PB_Write_P201_SP {	@include elemAutoWidth(60);
}
#OverviewEx1_PB_Write_P201_SP {	z-index: 132;
}
#OverviewEx1_P201_SP {	@include elemAutoHeight(30);
}
#OverviewEx1_P201_SP {	@include elemTop(195);
}
#OverviewEx1_P201_SP {	@include elemLeft(1060);
}
#OverviewEx1_P201_SP {	@include elemAutoWidth(220);
}
#OverviewEx1_P201_SP {	z-index: 133;
}
#OverviewEx1_TextOutput5 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput5 {	@include elemTop(195);
}
#OverviewEx1_TextOutput5 {	@include elemLeft(1120);
}
#OverviewEx1_TextOutput5 {	@include elemAutoWidth(70);
}
#OverviewEx1_TextOutput5 {	z-index: 134;
}
#OverviewEx1_TextOutput5 {	@include text-alignment-all('center');
}
#OverviewEx1_Rectangle14 {	@include elemTop(344);
}
#OverviewEx1_Rectangle14 {	@include elemLeft(1100);
}
#OverviewEx1_Rectangle14 {	@include elemWidth(400);
}
#OverviewEx1_Rectangle14 {	@include elemHeight(30);
}
#OverviewEx1_Rectangle14 {	z-index: 2;
}
#OverviewEx1_Rectangle14 {	border-width: 2px;
}
#OverviewEx1_Rectangle14 {	background-color: rgba(255, 255, 255, 0);
}
#OverviewEx1_Rectangle15 {	@include elemTop(140);
}
#OverviewEx1_Rectangle15 {	@include elemLeft(1100);
}
#OverviewEx1_Rectangle15 {	@include elemWidth(400);
}
#OverviewEx1_Rectangle15 {	@include elemHeight(206);
}
#OverviewEx1_Rectangle15 {	z-index: 1;
}
#OverviewEx1_Rectangle15 {	border-width: 2px;
}
#OverviewEx1_Rectangle15 {	background-color: rgba(255, 255, 255, 0);
}
#OverviewEx1_Line16 {	z-index: 128;
}
#OverviewEx1_Line16 {	line {
		stroke: rgba(0, 0, 255, 1);
	}
}
#OverviewEx1_Line16 {	line {
		stroke-width: 7px;
	}
}
#OverviewEx1_PB_Write_P201_STRT_CMD {	@include elemAutoHeight(30);
}
#OverviewEx1_PB_Write_P201_STRT_CMD {	@include elemTop(261);
}
#OverviewEx1_PB_Write_P201_STRT_CMD {	@include elemLeft(1420);
}
#OverviewEx1_PB_Write_P201_STRT_CMD {	@include elemAutoWidth(62);
}
#OverviewEx1_PB_Write_P201_STRT_CMD {	z-index: 135;
}
#OverviewEx1_PB_Write_P201_STP_CMD {	@include elemAutoHeight(30);
}
#OverviewEx1_PB_Write_P201_STP_CMD {	@include elemTop(302);
}
#OverviewEx1_PB_Write_P201_STP_CMD {	@include elemLeft(1420);
}
#OverviewEx1_PB_Write_P201_STP_CMD {	@include elemAutoWidth(62);
}
#OverviewEx1_PB_Write_P201_STP_CMD {	z-index: 136;
}
#OverviewEx1_NI_Write_P201_PPM {	@include elemAutoHeight(30);
}
#OverviewEx1_NI_Write_P201_PPM {	@include elemTop(286);
}
#OverviewEx1_NI_Write_P201_PPM {	@include elemLeft(1120);
}
#OverviewEx1_NI_Write_P201_PPM {	@include elemAutoWidth(80);
}
#OverviewEx1_NI_Write_P201_PPM {	z-index: 137;
}
#OverviewEx1_PB_Write_P201_PPM {	@include elemAutoHeight(30);
}
#OverviewEx1_PB_Write_P201_PPM {	@include elemTop(286);
}
#OverviewEx1_PB_Write_P201_PPM {	@include elemLeft(1210);
}
#OverviewEx1_PB_Write_P201_PPM {	@include elemAutoWidth(60);
}
#OverviewEx1_PB_Write_P201_PPM {	z-index: 138;
}
#OverviewEx1_P201_PPM {	@include elemAutoHeight(30);
}
#OverviewEx1_P201_PPM {	@include elemTop(260);
}
#OverviewEx1_P201_PPM {	@include elemLeft(1060);
}
#OverviewEx1_P201_PPM {	@include elemAutoWidth(220);
}
#OverviewEx1_P201_PPM {	z-index: 139;
}
#OverviewEx1_TextOutput6 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput6 {	@include elemTop(260);
}
#OverviewEx1_TextOutput6 {	@include elemLeft(1120);
}
#OverviewEx1_TextOutput6 {	@include elemAutoWidth(70);
}
#OverviewEx1_TextOutput6 {	z-index: 140;
}
#OverviewEx1_TextOutput6 {	@include text-alignment-all('center');
}
