@import "mixins.scss";
#OverviewEx1_Line22 {	z-index: 5;
}
#OverviewEx1_Line22 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx1_Line23 {	z-index: 6;
}
#OverviewEx1_Line23 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx1_Line24 {	z-index: 7;
}
#OverviewEx1_Line24 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx1_Line25 {	z-index: 8;
}
#OverviewEx1_Line25 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx1_TextOutput5 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput5 {	@include elemTop(163);
}
#OverviewEx1_TextOutput5 {	@include elemLeft(15);
}
#OverviewEx1_TextOutput5 {	@include elemAutoWidth(75);
}
#OverviewEx1_TextOutput5 {	z-index: 10;
}
#OverviewEx1_TextOutput5 {	border-width: 1px;
}
#OverviewEx1_TextOutput5 {	background-color: rgba(192, 192, 192, 1);
}
#OverviewEx1_TextOutput5 {	border-color: rgba(71, 71, 71, 1);
}
#OverviewEx1_TextOutput5 {	&:before {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx1_TextOutput5 {	&:after {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx1_TextOutput5 {	border-style: solid;
}
#OverviewEx1_TextOutput5 {	&:before {
		border-style: solid;
	}
}
#OverviewEx1_TextOutput5 {	&:after {
		border-style: solid;
	}
}
#OverviewEx1_TextOutput5 {	@include text-alignment-all('center');
}
#OverviewEx1_Rectangle1 {	@include elemTop(165);
}
#OverviewEx1_Rectangle1 {	@include elemLeft(15);
}
#OverviewEx1_Rectangle1 {	@include elemWidth(75);
}
#OverviewEx1_Rectangle1 {	@include elemHeight(25);
}
#OverviewEx1_Rectangle1 {	z-index: 9;
}
#OverviewEx1_Rectangle1 {	background-color: rgba(224, 224, 224, 1);
}
#OverviewEx1_TextOutput6 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput6 {	@include elemTop(307);
}
#OverviewEx1_TextOutput6 {	@include elemLeft(15);
}
#OverviewEx1_TextOutput6 {	@include elemAutoWidth(75);
}
#OverviewEx1_TextOutput6 {	z-index: 12;
}
#OverviewEx1_TextOutput6 {	border-width: 1px;
}
#OverviewEx1_TextOutput6 {	background-color: rgba(192, 192, 192, 1);
}
#OverviewEx1_TextOutput6 {	border-color: rgba(71, 71, 71, 1);
}
#OverviewEx1_TextOutput6 {	&:before {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx1_TextOutput6 {	&:after {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx1_TextOutput6 {	border-style: solid;
}
#OverviewEx1_TextOutput6 {	&:before {
		border-style: solid;
	}
}
#OverviewEx1_TextOutput6 {	&:after {
		border-style: solid;
	}
}
#OverviewEx1_TextOutput6 {	@include text-alignment-all('center');
}
#OverviewEx1_Rectangle2 {	@include elemTop(309);
}
#OverviewEx1_Rectangle2 {	@include elemLeft(15);
}
#OverviewEx1_Rectangle2 {	@include elemWidth(75);
}
#OverviewEx1_Rectangle2 {	@include elemHeight(25);
}
#OverviewEx1_Rectangle2 {	z-index: 11;
}
#OverviewEx1_Rectangle2 {	background-color: rgba(224, 224, 224, 1);
}
#OverviewEx1_TextOutput7 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput7 {	@include elemTop(436);
}
#OverviewEx1_TextOutput7 {	@include elemLeft(15);
}
#OverviewEx1_TextOutput7 {	@include elemAutoWidth(79);
}
#OverviewEx1_TextOutput7 {	z-index: 14;
}
#OverviewEx1_TextOutput7 {	border-width: 1px;
}
#OverviewEx1_TextOutput7 {	background-color: rgba(192, 192, 192, 1);
}
#OverviewEx1_TextOutput7 {	border-color: rgba(71, 71, 71, 1);
}
#OverviewEx1_TextOutput7 {	&:before {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx1_TextOutput7 {	&:after {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx1_TextOutput7 {	border-style: solid;
}
#OverviewEx1_TextOutput7 {	&:before {
		border-style: solid;
	}
}
#OverviewEx1_TextOutput7 {	&:after {
		border-style: solid;
	}
}
#OverviewEx1_TextOutput7 {	@include text-alignment-all('center');
}
#OverviewEx1_Rectangle3 {	@include elemTop(438);
}
#OverviewEx1_Rectangle3 {	@include elemLeft(15);
}
#OverviewEx1_Rectangle3 {	@include elemWidth(75);
}
#OverviewEx1_Rectangle3 {	@include elemHeight(25);
}
#OverviewEx1_Rectangle3 {	z-index: 13;
}
#OverviewEx1_Rectangle3 {	background-color: rgba(224, 224, 224, 1);
}
#OverviewEx1_TextOutput8 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput8 {	@include elemTop(552);
}
#OverviewEx1_TextOutput8 {	@include elemLeft(15);
}
#OverviewEx1_TextOutput8 {	@include elemAutoWidth(75);
}
#OverviewEx1_TextOutput8 {	z-index: 16;
}
#OverviewEx1_TextOutput8 {	border-width: 1px;
}
#OverviewEx1_TextOutput8 {	background-color: rgba(192, 192, 192, 1);
}
#OverviewEx1_TextOutput8 {	border-color: rgba(71, 71, 71, 1);
}
#OverviewEx1_TextOutput8 {	&:before {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx1_TextOutput8 {	&:after {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx1_TextOutput8 {	border-style: solid;
}
#OverviewEx1_TextOutput8 {	&:before {
		border-style: solid;
	}
}
#OverviewEx1_TextOutput8 {	&:after {
		border-style: solid;
	}
}
#OverviewEx1_TextOutput8 {	@include text-alignment-all('center');
}
#OverviewEx1_Rectangle4 {	@include elemTop(554);
}
#OverviewEx1_Rectangle4 {	@include elemLeft(15);
}
#OverviewEx1_Rectangle4 {	@include elemWidth(75);
}
#OverviewEx1_Rectangle4 {	@include elemHeight(25);
}
#OverviewEx1_Rectangle4 {	z-index: 15;
}
#OverviewEx1_Rectangle4 {	background-color: rgba(224, 224, 224, 1);
}
#OverviewEx1_Ellipse1 {	@include elemTop(131);
}
#OverviewEx1_Ellipse1 {	@include elemLeft(125);
}
#OverviewEx1_Ellipse1 {	@include elemWidth(50);
}
#OverviewEx1_Ellipse1 {	@include elemHeight(50);
}
#OverviewEx1_Ellipse1 {	z-index: 19;
}
#OverviewEx1_Ellipse1 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx1_Rectangle8 {	@include elemTop(131);
}
#OverviewEx1_Rectangle8 {	@include elemLeft(155);
}
#OverviewEx1_Rectangle8 {	@include elemWidth(30);
}
#OverviewEx1_Rectangle8 {	@include elemHeight(12);
}
#OverviewEx1_Rectangle8 {	z-index: 17;
}
#OverviewEx1_Rectangle8 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx1_Rectangle9 {	@include elemTop(171);
}
#OverviewEx1_Rectangle9 {	@include elemLeft(115);
}
#OverviewEx1_Rectangle9 {	@include elemWidth(30);
}
#OverviewEx1_Rectangle9 {	@include elemHeight(10);
}
#OverviewEx1_Rectangle9 {	z-index: 18;
}
#OverviewEx1_Rectangle9 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx1_Ellipse2 {	@include elemTop(132);
}
#OverviewEx1_Ellipse2 {	@include elemLeft(144);
}
#OverviewEx1_Ellipse2 {	@include elemWidth(10);
}
#OverviewEx1_Ellipse2 {	@include elemHeight(24);
}
#OverviewEx1_Ellipse2 {	z-index: 20;
}
#OverviewEx1_Ellipse2 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx1_TextOutput1 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput1 {	@include elemTop(181);
}
#OverviewEx1_TextOutput1 {	@include elemLeft(115);
}
#OverviewEx1_TextOutput1 {	@include elemAutoWidth(70);
}
#OverviewEx1_TextOutput1 {	z-index: 21;
}
#OverviewEx1_TextOutput1 {	@include text-alignment-all('center');
}
#OverviewEx1_TextOutput2 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput2 {	@include elemTop(126);
}
#OverviewEx1_TextOutput2 {	@include elemLeft(95);
}
#OverviewEx1_TextOutput2 {	@include elemAutoWidth(30);
}
#OverviewEx1_TextOutput2 {	z-index: 22;
}
#OverviewEx1_TextOutput3 {	@include elemAutoWidth(100);
}
#OverviewEx1_TextOutput3 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput3 {	@include elemTop(201);
}
#OverviewEx1_TextOutput3 {	@include elemLeft(105);
}
#OverviewEx1_TextOutput3 {	z-index: 23;
}
#OverviewEx1_TextOutput3 {	@include text-alignment-all('center');
}
#OverviewEx1_Ellipse3 {	@include elemTop(275);
}
#OverviewEx1_Ellipse3 {	@include elemLeft(125);
}
#OverviewEx1_Ellipse3 {	@include elemWidth(50);
}
#OverviewEx1_Ellipse3 {	@include elemHeight(50);
}
#OverviewEx1_Ellipse3 {	z-index: 26;
}
#OverviewEx1_Ellipse3 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx1_Rectangle10 {	@include elemTop(275);
}
#OverviewEx1_Rectangle10 {	@include elemLeft(155);
}
#OverviewEx1_Rectangle10 {	@include elemWidth(30);
}
#OverviewEx1_Rectangle10 {	@include elemHeight(12);
}
#OverviewEx1_Rectangle10 {	z-index: 24;
}
#OverviewEx1_Rectangle10 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx1_Rectangle11 {	@include elemTop(315);
}
#OverviewEx1_Rectangle11 {	@include elemLeft(115);
}
#OverviewEx1_Rectangle11 {	@include elemWidth(30);
}
#OverviewEx1_Rectangle11 {	@include elemHeight(10);
}
#OverviewEx1_Rectangle11 {	z-index: 25;
}
#OverviewEx1_Rectangle11 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx1_Ellipse4 {	@include elemTop(295);
}
#OverviewEx1_Ellipse4 {	@include elemLeft(145);
}
#OverviewEx1_Ellipse4 {	@include elemWidth(10);
}
#OverviewEx1_Ellipse4 {	@include elemHeight(10);
}
#OverviewEx1_Ellipse4 {	z-index: 27;
}
#OverviewEx1_Ellipse4 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx1_TextOutput4 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput4 {	@include elemTop(325);
}
#OverviewEx1_TextOutput4 {	@include elemLeft(115);
}
#OverviewEx1_TextOutput4 {	@include elemAutoWidth(70);
}
#OverviewEx1_TextOutput4 {	z-index: 28;
}
#OverviewEx1_TextOutput4 {	@include text-alignment-all('center');
}
#OverviewEx1_TextOutput12 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput12 {	@include elemTop(270);
}
#OverviewEx1_TextOutput12 {	@include elemLeft(95);
}
#OverviewEx1_TextOutput12 {	@include elemAutoWidth(30);
}
#OverviewEx1_TextOutput12 {	z-index: 29;
}
#OverviewEx1_TextOutput14 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput14 {	@include elemTop(454);
}
#OverviewEx1_TextOutput14 {	@include elemLeft(115);
}
#OverviewEx1_TextOutput14 {	@include elemAutoWidth(70);
}
#OverviewEx1_TextOutput14 {	z-index: 30;
}
#OverviewEx1_TextOutput14 {	@include text-alignment-all('center');
}
#OverviewEx1_TextOutput15 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput15 {	@include elemTop(399);
}
#OverviewEx1_TextOutput15 {	@include elemLeft(95);
}
#OverviewEx1_TextOutput15 {	@include elemAutoWidth(30);
}
#OverviewEx1_TextOutput15 {	z-index: 31;
}
#OverviewEx1_TextOutput13 {	@include elemAutoWidth(100);
}
#OverviewEx1_TextOutput13 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput13 {	@include elemTop(345);
}
#OverviewEx1_TextOutput13 {	@include elemLeft(105);
}
#OverviewEx1_TextOutput13 {	z-index: 32;
}
#OverviewEx1_TextOutput13 {	@include text-alignment-all('center');
}
#OverviewEx1_TextOutput16 {	@include elemAutoWidth(100);
}
#OverviewEx1_TextOutput16 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput16 {	@include elemTop(474);
}
#OverviewEx1_TextOutput16 {	@include elemLeft(100);
}
#OverviewEx1_TextOutput16 {	z-index: 33;
}
#OverviewEx1_TextOutput16 {	@include text-alignment-all('center');
}
#OverviewEx1_Ellipse7 {	@include elemTop(520);
}
#OverviewEx1_Ellipse7 {	@include elemLeft(125);
}
#OverviewEx1_Ellipse7 {	@include elemWidth(50);
}
#OverviewEx1_Ellipse7 {	@include elemHeight(50);
}
#OverviewEx1_Ellipse7 {	z-index: 36;
}
#OverviewEx1_Ellipse7 {	background-color: rgba(128, 128, 128, 1);
}
#OverviewEx1_Rectangle14 {	@include elemTop(520);
}
#OverviewEx1_Rectangle14 {	@include elemLeft(155);
}
#OverviewEx1_Rectangle14 {	@include elemWidth(30);
}
#OverviewEx1_Rectangle14 {	@include elemHeight(12);
}
#OverviewEx1_Rectangle14 {	z-index: 34;
}
#OverviewEx1_Rectangle14 {	background-color: rgba(128, 128, 128, 1);
}
#OverviewEx1_Rectangle15 {	@include elemTop(560);
}
#OverviewEx1_Rectangle15 {	@include elemLeft(115);
}
#OverviewEx1_Rectangle15 {	@include elemWidth(30);
}
#OverviewEx1_Rectangle15 {	@include elemHeight(10);
}
#OverviewEx1_Rectangle15 {	z-index: 35;
}
#OverviewEx1_Rectangle15 {	background-color: rgba(128, 128, 128, 1);
}
#OverviewEx1_Ellipse8 {	@include elemTop(540);
}
#OverviewEx1_Ellipse8 {	@include elemLeft(145);
}
#OverviewEx1_Ellipse8 {	@include elemWidth(10);
}
#OverviewEx1_Ellipse8 {	@include elemHeight(10);
}
#OverviewEx1_Ellipse8 {	z-index: 37;
}
#OverviewEx1_Ellipse8 {	background-color: rgba(128, 128, 128, 1);
}
#OverviewEx1_TextOutput17 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput17 {	@include elemTop(570);
}
#OverviewEx1_TextOutput17 {	@include elemLeft(115);
}
#OverviewEx1_TextOutput17 {	@include elemAutoWidth(70);
}
#OverviewEx1_TextOutput17 {	z-index: 38;
}
#OverviewEx1_TextOutput17 {	@include text-alignment-all('center');
}
#OverviewEx1_TextOutput18 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput18 {	@include elemTop(515);
}
#OverviewEx1_TextOutput18 {	@include elemLeft(95);
}
#OverviewEx1_TextOutput18 {	@include elemAutoWidth(30);
}
#OverviewEx1_TextOutput18 {	z-index: 39;
}
#OverviewEx1_TextOutput19 {	@include elemAutoWidth(100);
}
#OverviewEx1_TextOutput19 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput19 {	@include elemTop(590);
}
#OverviewEx1_TextOutput19 {	@include elemLeft(100);
}
#OverviewEx1_TextOutput19 {	z-index: 40;
}
#OverviewEx1_TextOutput19 {	@include text-alignment-all('center');
}
#OverviewEx1_Ellipse9 {	@include elemTop(404);
}
#OverviewEx1_Ellipse9 {	@include elemLeft(125);
}
#OverviewEx1_Ellipse9 {	@include elemWidth(50);
}
#OverviewEx1_Ellipse9 {	@include elemHeight(50);
}
#OverviewEx1_Ellipse9 {	z-index: 43;
}
#OverviewEx1_Ellipse9 {	background-color: rgba(128, 128, 128, 1);
}
#OverviewEx1_Rectangle16 {	@include elemTop(404);
}
#OverviewEx1_Rectangle16 {	@include elemLeft(155);
}
#OverviewEx1_Rectangle16 {	@include elemWidth(30);
}
#OverviewEx1_Rectangle16 {	@include elemHeight(12);
}
#OverviewEx1_Rectangle16 {	z-index: 41;
}
#OverviewEx1_Rectangle16 {	background-color: rgba(128, 128, 128, 1);
}
#OverviewEx1_Rectangle17 {	@include elemTop(444);
}
#OverviewEx1_Rectangle17 {	@include elemLeft(115);
}
#OverviewEx1_Rectangle17 {	@include elemWidth(30);
}
#OverviewEx1_Rectangle17 {	@include elemHeight(10);
}
#OverviewEx1_Rectangle17 {	z-index: 42;
}
#OverviewEx1_Rectangle17 {	background-color: rgba(128, 128, 128, 1);
}
#OverviewEx1_Ellipse10 {	@include elemTop(424);
}
#OverviewEx1_Ellipse10 {	@include elemLeft(145);
}
#OverviewEx1_Ellipse10 {	@include elemWidth(10);
}
#OverviewEx1_Ellipse10 {	@include elemHeight(10);
}
#OverviewEx1_Ellipse10 {	z-index: 44;
}
#OverviewEx1_Ellipse10 {	background-color: rgba(128, 128, 128, 1);
}
#OverviewEx1_Ellipse5 {	@include elemTop(110);
}
#OverviewEx1_Ellipse5 {	@include elemLeft(975);
}
#OverviewEx1_Ellipse5 {	@include elemWidth(50);
}
#OverviewEx1_Ellipse5 {	@include elemHeight(50);
}
#OverviewEx1_Ellipse5 {	z-index: 47;
}
#OverviewEx1_Ellipse5 {	border-width: 2px;
}
#OverviewEx1_Ellipse5 {	border-color: rgba(255, 0, 0, 1);
}
#OverviewEx1_Ellipse5 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx1_Rectangle12 {	@include elemTop(110);
}
#OverviewEx1_Rectangle12 {	@include elemLeft(1005);
}
#OverviewEx1_Rectangle12 {	@include elemWidth(30);
}
#OverviewEx1_Rectangle12 {	@include elemHeight(12);
}
#OverviewEx1_Rectangle12 {	z-index: 45;
}
#OverviewEx1_Rectangle12 {	border-width: 2px;
}
#OverviewEx1_Rectangle12 {	border-color: rgba(255, 0, 0, 1);
}
#OverviewEx1_Rectangle12 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx1_Rectangle13 {	@include elemTop(150);
}
#OverviewEx1_Rectangle13 {	@include elemLeft(975);
}
#OverviewEx1_Rectangle13 {	@include elemWidth(50);
}
#OverviewEx1_Rectangle13 {	@include elemHeight(10);
}
#OverviewEx1_Rectangle13 {	z-index: 46;
}
#OverviewEx1_Rectangle13 {	border-width: 2px;
}
#OverviewEx1_Rectangle13 {	border-color: rgba(255, 0, 0, 1);
}
#OverviewEx1_Rectangle13 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx1_Ellipse6 {	@include elemTop(125);
}
#OverviewEx1_Ellipse6 {	@include elemLeft(990);
}
#OverviewEx1_Ellipse6 {	@include elemWidth(20);
}
#OverviewEx1_Ellipse6 {	@include elemHeight(20);
}
#OverviewEx1_Ellipse6 {	z-index: 48;
}
#OverviewEx1_Ellipse6 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx1_TextOutput20 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput20 {	@include elemTop(160);
}
#OverviewEx1_TextOutput20 {	@include elemLeft(965);
}
#OverviewEx1_TextOutput20 {	@include elemAutoWidth(70);
}
#OverviewEx1_TextOutput20 {	z-index: 49;
}
#OverviewEx1_TextOutput20 {	@include text-alignment-all('center');
}
#OverviewEx1_TextOutput21 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput21 {	@include elemTop(105);
}
#OverviewEx1_TextOutput21 {	@include elemLeft(945);
}
#OverviewEx1_TextOutput21 {	@include elemAutoWidth(30);
}
#OverviewEx1_TextOutput21 {	z-index: 50;
}
#OverviewEx1_TextOutput22 {	@include elemAutoWidth(100);
}
#OverviewEx1_TextOutput22 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput22 {	@include elemTop(180);
}
#OverviewEx1_TextOutput22 {	@include elemLeft(950);
}
#OverviewEx1_TextOutput22 {	z-index: 51;
}
#OverviewEx1_TextOutput22 {	@include text-alignment-all('center');
}
#OverviewEx1_TextOutput24 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput24 {	@include elemTop(205);
}
#OverviewEx1_TextOutput24 {	@include elemLeft(930);
}
#OverviewEx1_TextOutput24 {	@include elemAutoWidth(130);
}
#OverviewEx1_TextOutput24 {	z-index: 52;
}
#OverviewEx1_TextOutput24 {	@include text-alignment-all('left');
}
#OverviewEx1_TextOutput24 {	font-size: 12px;
}
#OverviewEx1_TextOutput25 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput25 {	@include elemTop(225);
}
#OverviewEx1_TextOutput25 {	@include elemLeft(930);
}
#OverviewEx1_TextOutput25 {	@include elemAutoWidth(130);
}
#OverviewEx1_TextOutput25 {	z-index: 53;
}
#OverviewEx1_TextOutput25 {	@include text-alignment-all('left');
}
#OverviewEx1_TextOutput25 {	font-size: 12px;
}
#OverviewEx1_TextOutput30 {	@include elemAutoWidth(100);
}
#OverviewEx1_TextOutput30 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput30 {	@include elemTop(205);
}
#OverviewEx1_TextOutput30 {	@include elemLeft(995);
}
#OverviewEx1_TextOutput30 {	z-index: 54;
}
#OverviewEx1_TextOutput30 {	& span {
		color: rgba(255, 0, 0, 1);
	}
}
#OverviewEx1_TextOutput30 {	@include text-alignment-all('center');
}
#OverviewEx1_TextOutput31 {	@include elemAutoWidth(100);
}
#OverviewEx1_TextOutput31 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput31 {	@include elemTop(225);
}
#OverviewEx1_TextOutput31 {	@include elemLeft(995);
}
#OverviewEx1_TextOutput31 {	z-index: 55;
}
#OverviewEx1_TextOutput31 {	@include text-alignment-all('center');
}
#OverviewEx1_TextOutput33 {	@include elemAutoWidth(100);
}
#OverviewEx1_TextOutput33 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput33 {	@include elemTop(245);
}
#OverviewEx1_TextOutput33 {	@include elemLeft(990);
}
#OverviewEx1_TextOutput33 {	z-index: 56;
}
#OverviewEx1_TextOutput33 {	@include text-alignment-all('center');
}
#OverviewEx1_TextOutput35 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput35 {	@include elemTop(410);
}
#OverviewEx1_TextOutput35 {	@include elemLeft(920);
}
#OverviewEx1_TextOutput35 {	@include elemAutoWidth(130);
}
#OverviewEx1_TextOutput35 {	z-index: 57;
}
#OverviewEx1_TextOutput35 {	@include text-alignment-all('left');
}
#OverviewEx1_TextOutput35 {	font-size: 12px;
}
#OverviewEx1_TextOutput36 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput36 {	@include elemTop(430);
}
#OverviewEx1_TextOutput36 {	@include elemLeft(920);
}
#OverviewEx1_TextOutput36 {	@include elemAutoWidth(130);
}
#OverviewEx1_TextOutput36 {	z-index: 58;
}
#OverviewEx1_TextOutput36 {	@include text-alignment-all('left');
}
#OverviewEx1_TextOutput36 {	font-size: 12px;
}
#OverviewEx1_Line33 {	z-index: 60;
}
#OverviewEx1_Line34 {	z-index: 59;
}
#OverviewEx1_TextOutput41 {	@include elemAutoWidth(100);
}
#OverviewEx1_TextOutput41 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput41 {	@include elemTop(410);
}
#OverviewEx1_TextOutput41 {	@include elemLeft(985);
}
#OverviewEx1_TextOutput41 {	z-index: 61;
}
#OverviewEx1_TextOutput41 {	@include text-alignment-all('center');
}
#OverviewEx1_TextOutput42 {	@include elemAutoWidth(100);
}
#OverviewEx1_TextOutput42 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput42 {	@include elemTop(430);
}
#OverviewEx1_TextOutput42 {	@include elemLeft(985);
}
#OverviewEx1_TextOutput42 {	z-index: 62;
}
#OverviewEx1_TextOutput42 {	@include text-alignment-all('center');
}
#OverviewEx1_TextOutput46 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput46 {	@include elemTop(620);
}
#OverviewEx1_TextOutput46 {	@include elemLeft(930);
}
#OverviewEx1_TextOutput46 {	@include elemAutoWidth(130);
}
#OverviewEx1_TextOutput46 {	z-index: 63;
}
#OverviewEx1_TextOutput46 {	@include text-alignment-all('left');
}
#OverviewEx1_TextOutput46 {	font-size: 12px;
}
#OverviewEx1_TextOutput47 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput47 {	@include elemTop(640);
}
#OverviewEx1_TextOutput47 {	@include elemLeft(930);
}
#OverviewEx1_TextOutput47 {	@include elemAutoWidth(130);
}
#OverviewEx1_TextOutput47 {	z-index: 64;
}
#OverviewEx1_TextOutput47 {	@include text-alignment-all('left');
}
#OverviewEx1_TextOutput47 {	font-size: 12px;
}
#OverviewEx1_TextOutput52 {	@include elemAutoWidth(100);
}
#OverviewEx1_TextOutput52 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput52 {	@include elemTop(620);
}
#OverviewEx1_TextOutput52 {	@include elemLeft(995);
}
#OverviewEx1_TextOutput52 {	z-index: 65;
}
#OverviewEx1_TextOutput52 {	@include text-alignment-all('center');
}
#OverviewEx1_TextOutput53 {	@include elemAutoWidth(100);
}
#OverviewEx1_TextOutput53 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput53 {	@include elemTop(640);
}
#OverviewEx1_TextOutput53 {	@include elemLeft(995);
}
#OverviewEx1_TextOutput53 {	z-index: 66;
}
#OverviewEx1_TextOutput53 {	@include text-alignment-all('center');
}
#OverviewEx1_Ellipse11 {	@include elemTop(320);
}
#OverviewEx1_Ellipse11 {	@include elemLeft(980);
}
#OverviewEx1_Ellipse11 {	@include elemWidth(50);
}
#OverviewEx1_Ellipse11 {	@include elemHeight(50);
}
#OverviewEx1_Ellipse11 {	z-index: 69;
}
#OverviewEx1_Ellipse11 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx1_Rectangle21 {	@include elemTop(320);
}
#OverviewEx1_Rectangle21 {	@include elemLeft(1010);
}
#OverviewEx1_Rectangle21 {	@include elemWidth(30);
}
#OverviewEx1_Rectangle21 {	@include elemHeight(12);
}
#OverviewEx1_Rectangle21 {	z-index: 67;
}
#OverviewEx1_Rectangle21 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx1_Rectangle22 {	@include elemTop(358);
}
#OverviewEx1_Rectangle22 {	@include elemLeft(980);
}
#OverviewEx1_Rectangle22 {	@include elemWidth(51);
}
#OverviewEx1_Rectangle22 {	@include elemHeight(10);
}
#OverviewEx1_Rectangle22 {	z-index: 68;
}
#OverviewEx1_Rectangle22 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx1_Ellipse12 {	@include elemTop(340);
}
#OverviewEx1_Ellipse12 {	@include elemLeft(1000);
}
#OverviewEx1_Ellipse12 {	@include elemWidth(10);
}
#OverviewEx1_Ellipse12 {	@include elemHeight(10);
}
#OverviewEx1_Ellipse12 {	z-index: 70;
}
#OverviewEx1_Ellipse12 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx1_TextOutput57 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput57 {	@include elemTop(310);
}
#OverviewEx1_TextOutput57 {	@include elemLeft(950);
}
#OverviewEx1_TextOutput57 {	@include elemAutoWidth(30);
}
#OverviewEx1_TextOutput57 {	z-index: 71;
}
#OverviewEx1_TextOutput56 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput56 {	@include elemTop(370);
}
#OverviewEx1_TextOutput56 {	@include elemLeft(965);
}
#OverviewEx1_TextOutput56 {	@include elemAutoWidth(70);
}
#OverviewEx1_TextOutput56 {	z-index: 72;
}
#OverviewEx1_TextOutput56 {	@include text-alignment-all('center');
}
#OverviewEx1_TextOutput58 {	@include elemAutoWidth(100);
}
#OverviewEx1_TextOutput58 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput58 {	@include elemTop(390);
}
#OverviewEx1_TextOutput58 {	@include elemLeft(955);
}
#OverviewEx1_TextOutput58 {	z-index: 73;
}
#OverviewEx1_TextOutput58 {	@include text-alignment-all('center');
}
#OverviewEx1_Ellipse13 {	@include elemTop(530);
}
#OverviewEx1_Ellipse13 {	@include elemLeft(980);
}
#OverviewEx1_Ellipse13 {	@include elemWidth(50);
}
#OverviewEx1_Ellipse13 {	@include elemHeight(50);
}
#OverviewEx1_Ellipse13 {	z-index: 76;
}
#OverviewEx1_Ellipse13 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx1_Rectangle23 {	@include elemTop(530);
}
#OverviewEx1_Rectangle23 {	@include elemLeft(1010);
}
#OverviewEx1_Rectangle23 {	@include elemWidth(30);
}
#OverviewEx1_Rectangle23 {	@include elemHeight(12);
}
#OverviewEx1_Rectangle23 {	z-index: 74;
}
#OverviewEx1_Rectangle23 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx1_Rectangle24 {	@include elemTop(570);
}
#OverviewEx1_Rectangle24 {	@include elemLeft(980);
}
#OverviewEx1_Rectangle24 {	@include elemWidth(50);
}
#OverviewEx1_Rectangle24 {	@include elemHeight(10);
}
#OverviewEx1_Rectangle24 {	z-index: 75;
}
#OverviewEx1_Rectangle24 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx1_Ellipse14 {	@include elemTop(550);
}
#OverviewEx1_Ellipse14 {	@include elemLeft(1000);
}
#OverviewEx1_Ellipse14 {	@include elemWidth(10);
}
#OverviewEx1_Ellipse14 {	@include elemHeight(10);
}
#OverviewEx1_Ellipse14 {	z-index: 77;
}
#OverviewEx1_Ellipse14 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx1_TextOutput59 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput59 {	@include elemTop(525);
}
#OverviewEx1_TextOutput59 {	@include elemLeft(950);
}
#OverviewEx1_TextOutput59 {	@include elemAutoWidth(30);
}
#OverviewEx1_TextOutput59 {	z-index: 78;
}
#OverviewEx1_TextOutput60 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput60 {	@include elemTop(580);
}
#OverviewEx1_TextOutput60 {	@include elemLeft(975);
}
#OverviewEx1_TextOutput60 {	@include elemAutoWidth(70);
}
#OverviewEx1_TextOutput60 {	z-index: 79;
}
#OverviewEx1_TextOutput60 {	@include text-alignment-all('center');
}
#OverviewEx1_TextOutput61 {	@include elemAutoWidth(100);
}
#OverviewEx1_TextOutput61 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput61 {	@include elemTop(600);
}
#OverviewEx1_TextOutput61 {	@include elemLeft(965);
}
#OverviewEx1_TextOutput61 {	z-index: 80;
}
#OverviewEx1_TextOutput61 {	@include text-alignment-all('center');
}
#OverviewEx1_ProgressBar7 {	@include elemTop(230);
}
#OverviewEx1_ProgressBar7 {	@include elemLeft(655);
}
#OverviewEx1_ProgressBar7 {	@include elemWidth(70);
}
#OverviewEx1_ProgressBar7 {	@include elemHeight(230);
}
#OverviewEx1_ProgressBar7 {	z-index: 84;
}
#OverviewEx1_ProgressBar7 {	.pb-bar-container {
		border-style: none;
	}
}
#OverviewEx1_ProgressBar7 {	.pb-bar-container {
		border-width: 1px;
	}
}
#OverviewEx1_ProgressBar7 {	.pb-bar-container {
		border-color: rgba(0, 0, 0, 1);
	}
}
#OverviewEx1_ProgressBar7 {	.pb-bar-container {
		@include border-radius(20px);
	}
}
#OverviewEx1_ProgressBar7 {	.pb-bar-container {
		background-color: rgba(255, 255, 255, 1);
	}
}
#OverviewEx1_ProgressBar7 {	.pb-bar-container {
		@include backGroundGradient('');
	}
}
#OverviewEx1_ProgressBar7 {	.pb-progress {
		background-color: rgba(0, 204, 204, 1);
	}
}
#OverviewEx1_ProgressBar7 {	.pb-progress {
		@include backGroundGradient('');
	}
}
#OverviewEx1_Rectangle25 {	@include elemTop(225);
}
#OverviewEx1_Rectangle25 {	@include elemLeft(645);
}
#OverviewEx1_Rectangle25 {	@include elemWidth(90);
}
#OverviewEx1_Rectangle25 {	@include elemHeight(240);
}
#OverviewEx1_Rectangle25 {	z-index: 83;
}
#OverviewEx1_Rectangle25 {	background-color: rgba(128, 128, 128, 1);
}
#OverviewEx1_Ellipse15 {	@include elemTop(435);
}
#OverviewEx1_Ellipse15 {	@include elemLeft(645);
}
#OverviewEx1_Ellipse15 {	@include elemWidth(90);
}
#OverviewEx1_Ellipse15 {	@include elemHeight(50);
}
#OverviewEx1_Ellipse15 {	z-index: 81;
}
#OverviewEx1_Ellipse15 {	background-color: rgba(128, 128, 128, 1);
}
#OverviewEx1_Ellipse16 {	@include elemTop(205);
}
#OverviewEx1_Ellipse16 {	@include elemLeft(645);
}
#OverviewEx1_Ellipse16 {	@include elemWidth(90);
}
#OverviewEx1_Ellipse16 {	@include elemHeight(50);
}
#OverviewEx1_Ellipse16 {	z-index: 82;
}
#OverviewEx1_Ellipse16 {	background-color: rgba(128, 128, 128, 1);
}
#OverviewEx1_Line39 {	z-index: 85;
}
#OverviewEx1_Line40 {	z-index: 86;
}
#OverviewEx1_Line41 {	z-index: 87;
}
#OverviewEx1_Rectangle27 {	@include elemTop(215);
}
#OverviewEx1_Rectangle27 {	@include elemLeft(360);
}
#OverviewEx1_Rectangle27 {	@include elemWidth(150);
}
#OverviewEx1_Rectangle27 {	@include elemHeight(105);
}
#OverviewEx1_Rectangle27 {	z-index: 88;
}
#OverviewEx1_Rectangle27 {	background-color: rgba(192, 192, 192, 1);
}
#OverviewEx1_NumericOutput2 {	@include elemAutoHeight(30);
}
#OverviewEx1_NumericOutput2 {	@include elemTop(244);
}
#OverviewEx1_NumericOutput2 {	@include elemLeft(370);
}
#OverviewEx1_NumericOutput2 {	@include elemAutoWidth(95);
}
#OverviewEx1_NumericOutput2 {	z-index: 89;
}
#OverviewEx1_NumericOutput2 {	background-color: rgba(192, 192, 192, 1);
}
#OverviewEx1_NumericOutput2 {	border-color: rgba(192, 192, 192, 1);
}
#OverviewEx1_NumericOutput2 {	input {
		@include text-alignment(right);
	}
}
#OverviewEx1_TextOutput65 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput65 {	@include elemTop(244);
}
#OverviewEx1_TextOutput65 {	@include elemLeft(428);
}
#OverviewEx1_TextOutput65 {	@include elemAutoWidth(70);
}
#OverviewEx1_TextOutput65 {	z-index: 90;
}
#OverviewEx1_TextOutput65 {	font-size: 12px;
}
#OverviewEx1_TextOutput66 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput66 {	@include elemTop(220);
}
#OverviewEx1_TextOutput66 {	@include elemLeft(370);
}
#OverviewEx1_TextOutput66 {	@include elemAutoWidth(135);
}
#OverviewEx1_TextOutput66 {	z-index: 91;
}
#OverviewEx1_TextOutput67 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput67 {	@include elemTop(264);
}
#OverviewEx1_TextOutput67 {	@include elemLeft(400);
}
#OverviewEx1_TextOutput67 {	@include elemAutoWidth(70);
}
#OverviewEx1_TextOutput67 {	z-index: 92;
}
#OverviewEx1_TextOutput71 {	@include elemTop(20);
}
#OverviewEx1_TextOutput71 {	@include elemLeft(1170);
}
#OverviewEx1_TextOutput71 {	@include elemAutoWidth(145);
}
#OverviewEx1_TextOutput71 {	@include elemAutoHeight(45);
}
#OverviewEx1_TextOutput71 {	z-index: 93;
}
#OverviewEx1_TextOutput71 {	border-width: 2px;
}
#OverviewEx1_TextOutput71 {	background-color: rgba(0, 255, 0, 1);
}
#OverviewEx1_TextOutput71 {	border-color: rgba(71, 71, 71, 1);
}
#OverviewEx1_TextOutput71 {	&:before {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx1_TextOutput71 {	&:after {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx1_TextOutput71 {	border-style: solid;
}
#OverviewEx1_TextOutput71 {	&:before {
		border-style: solid;
	}
}
#OverviewEx1_TextOutput71 {	&:after {
		border-style: solid;
	}
}
#OverviewEx1_TextOutput71 {	@include text-alignment-all('center');
}
#OverviewEx1_TextOutput73 {	@include elemTop(20);
}
#OverviewEx1_TextOutput73 {	@include elemLeft(1330);
}
#OverviewEx1_TextOutput73 {	@include elemAutoWidth(110);
}
#OverviewEx1_TextOutput73 {	@include elemAutoHeight(45);
}
#OverviewEx1_TextOutput73 {	z-index: 94;
}
#OverviewEx1_TextOutput73 {	border-width: 2px;
}
#OverviewEx1_TextOutput73 {	background-color: rgba(255, 0, 0, 1);
}
#OverviewEx1_TextOutput73 {	border-color: rgba(71, 71, 71, 1);
}
#OverviewEx1_TextOutput73 {	&:before {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx1_TextOutput73 {	&:after {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx1_TextOutput73 {	border-style: solid;
}
#OverviewEx1_TextOutput73 {	&:before {
		border-style: solid;
	}
}
#OverviewEx1_TextOutput73 {	&:after {
		border-style: solid;
	}
}
#OverviewEx1_TextOutput73 {	@include text-alignment-all('center');
}
#OverviewEx1_TextOutput26 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput26 {	@include elemTop(245);
}
#OverviewEx1_TextOutput26 {	@include elemLeft(930);
}
#OverviewEx1_TextOutput26 {	@include elemAutoWidth(130);
}
#OverviewEx1_TextOutput26 {	z-index: 95;
}
#OverviewEx1_TextOutput26 {	@include text-alignment-all('left');
}
#OverviewEx1_TextOutput26 {	font-size: 12px;
}
#OverviewEx1_TextOutput34 {	@include elemAutoWidth(100);
}
#OverviewEx1_TextOutput34 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput34 {	@include elemTop(450);
}
#OverviewEx1_TextOutput34 {	@include elemLeft(980);
}
#OverviewEx1_TextOutput34 {	z-index: 96;
}
#OverviewEx1_TextOutput34 {	@include text-alignment-all('center');
}
#OverviewEx1_TextOutput27 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput27 {	@include elemTop(449);
}
#OverviewEx1_TextOutput27 {	@include elemLeft(919);
}
#OverviewEx1_TextOutput27 {	@include elemAutoWidth(131);
}
#OverviewEx1_TextOutput27 {	z-index: 97;
}
#OverviewEx1_TextOutput27 {	@include text-alignment-all('left');
}
#OverviewEx1_TextOutput27 {	font-size: 12px;
}
#OverviewEx1_TextOutput37 {	@include elemAutoWidth(100);
}
#OverviewEx1_TextOutput37 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput37 {	@include elemTop(660);
}
#OverviewEx1_TextOutput37 {	@include elemLeft(990);
}
#OverviewEx1_TextOutput37 {	z-index: 98;
}
#OverviewEx1_TextOutput37 {	@include text-alignment-all('center');
}
#OverviewEx1_TextOutput28 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput28 {	@include elemTop(659);
}
#OverviewEx1_TextOutput28 {	@include elemLeft(929);
}
#OverviewEx1_TextOutput28 {	@include elemAutoWidth(131);
}
#OverviewEx1_TextOutput28 {	z-index: 99;
}
#OverviewEx1_TextOutput28 {	@include text-alignment-all('left');
}
#OverviewEx1_TextOutput28 {	font-size: 12px;
}
#OverviewEx1_Rectangle31 {	@include elemTop(360);
}
#OverviewEx1_Rectangle31 {	@include elemLeft(360);
}
#OverviewEx1_Rectangle31 {	@include elemWidth(150);
}
#OverviewEx1_Rectangle31 {	@include elemHeight(105);
}
#OverviewEx1_Rectangle31 {	z-index: 100;
}
#OverviewEx1_Rectangle31 {	background-color: rgba(192, 192, 192, 1);
}
#OverviewEx1_NumericOutput4 {	@include elemAutoHeight(30);
}
#OverviewEx1_NumericOutput4 {	@include elemTop(382);
}
#OverviewEx1_NumericOutput4 {	@include elemLeft(370);
}
#OverviewEx1_NumericOutput4 {	@include elemAutoWidth(85);
}
#OverviewEx1_NumericOutput4 {	z-index: 101;
}
#OverviewEx1_NumericOutput4 {	background-color: rgba(192, 192, 192, 1);
}
#OverviewEx1_NumericOutput4 {	border-color: rgba(192, 192, 192, 1);
}
#OverviewEx1_NumericOutput4 {	input {
		@include text-alignment(right);
	}
}
#OverviewEx1_TextOutput72 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput72 {	@include elemTop(382);
}
#OverviewEx1_TextOutput72 {	@include elemLeft(418);
}
#OverviewEx1_TextOutput72 {	@include elemAutoWidth(70);
}
#OverviewEx1_TextOutput72 {	z-index: 102;
}
#OverviewEx1_TextOutput72 {	font-size: 12px;
}
#OverviewEx1_TextOutput74 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput74 {	@include elemTop(365);
}
#OverviewEx1_TextOutput74 {	@include elemLeft(370);
}
#OverviewEx1_TextOutput74 {	@include elemAutoWidth(135);
}
#OverviewEx1_TextOutput74 {	z-index: 103;
}
#OverviewEx1_TextOutput75 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput75 {	@include elemTop(401);
}
#OverviewEx1_TextOutput75 {	@include elemLeft(390);
}
#OverviewEx1_TextOutput75 {	@include elemAutoWidth(70);
}
#OverviewEx1_TextOutput75 {	z-index: 104;
}
#OverviewEx1_TextOutput68 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput68 {	@include elemTop(120);
}
#OverviewEx1_TextOutput68 {	@include elemLeft(220);
}
#OverviewEx1_TextOutput68 {	@include elemAutoWidth(85);
}
#OverviewEx1_TextOutput68 {	z-index: 105;
}
#OverviewEx1_TextOutput68 {	border-width: 1px;
}
#OverviewEx1_TextOutput68 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx1_TextOutput68 {	border-color: rgba(71, 71, 71, 1);
}
#OverviewEx1_TextOutput68 {	&:before {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx1_TextOutput68 {	&:after {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx1_TextOutput68 {	border-style: solid;
}
#OverviewEx1_TextOutput68 {	&:before {
		border-style: solid;
	}
}
#OverviewEx1_TextOutput68 {	&:after {
		border-style: solid;
	}
}
#OverviewEx1_TextOutput69 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput69 {	@include elemTop(510);
}
#OverviewEx1_TextOutput69 {	@include elemLeft(220);
}
#OverviewEx1_TextOutput69 {	@include elemAutoWidth(85);
}
#OverviewEx1_TextOutput69 {	z-index: 117;
}
#OverviewEx1_TextOutput69 {	border-width: 1px;
}
#OverviewEx1_TextOutput69 {	background-color: rgba(192, 192, 192, 1);
}
#OverviewEx1_TextOutput69 {	border-color: rgba(71, 71, 71, 1);
}
#OverviewEx1_TextOutput69 {	&:before {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx1_TextOutput69 {	&:after {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx1_TextOutput69 {	border-style: solid;
}
#OverviewEx1_TextOutput69 {	&:before {
		border-style: solid;
	}
}
#OverviewEx1_TextOutput69 {	&:after {
		border-style: solid;
	}
}
#OverviewEx1_Rectangle29 {	@include elemTop(265);
}
#OverviewEx1_Rectangle29 {	@include elemLeft(220);
}
#OverviewEx1_Rectangle29 {	@include elemWidth(85);
}
#OverviewEx1_Rectangle29 {	@include elemHeight(30);
}
#OverviewEx1_Rectangle29 {	z-index: 106;
}
#OverviewEx1_Rectangle29 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx1_Rectangle30 {	@include elemTop(395);
}
#OverviewEx1_Rectangle30 {	@include elemLeft(220);
}
#OverviewEx1_Rectangle30 {	@include elemWidth(85);
}
#OverviewEx1_Rectangle30 {	@include elemHeight(30);
}
#OverviewEx1_Rectangle30 {	z-index: 115;
}
#OverviewEx1_Rectangle30 {	background-color: rgba(192, 192, 192, 1);
}
#OverviewEx1_TextOutput70 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput70 {	@include elemTop(100);
}
#OverviewEx1_TextOutput70 {	@include elemLeft(1070);
}
#OverviewEx1_TextOutput70 {	@include elemAutoWidth(85);
}
#OverviewEx1_TextOutput70 {	z-index: 107;
}
#OverviewEx1_TextOutput70 {	border-width: 1px;
}
#OverviewEx1_TextOutput70 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx1_TextOutput70 {	border-color: rgba(71, 71, 71, 1);
}
#OverviewEx1_TextOutput70 {	&:before {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx1_TextOutput70 {	&:after {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx1_TextOutput70 {	border-style: solid;
}
#OverviewEx1_TextOutput70 {	&:before {
		border-style: solid;
	}
}
#OverviewEx1_TextOutput70 {	&:after {
		border-style: solid;
	}
}
#OverviewEx1_TextOutput76 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput76 {	@include elemTop(310);
}
#OverviewEx1_TextOutput76 {	@include elemLeft(1065);
}
#OverviewEx1_TextOutput76 {	@include elemAutoWidth(85);
}
#OverviewEx1_TextOutput76 {	z-index: 108;
}
#OverviewEx1_TextOutput76 {	border-width: 1px;
}
#OverviewEx1_TextOutput76 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx1_TextOutput76 {	border-color: rgba(71, 71, 71, 1);
}
#OverviewEx1_TextOutput76 {	&:before {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx1_TextOutput76 {	&:after {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx1_TextOutput76 {	border-style: solid;
}
#OverviewEx1_TextOutput76 {	&:before {
		border-style: solid;
	}
}
#OverviewEx1_TextOutput76 {	&:after {
		border-style: solid;
	}
}
#OverviewEx1_TextOutput76 {	& span {
		color: rgba(255, 140, 0, 1);
	}
}
#OverviewEx1_TextOutput77 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput77 {	@include elemTop(520);
}
#OverviewEx1_TextOutput77 {	@include elemLeft(1065);
}
#OverviewEx1_TextOutput77 {	@include elemAutoWidth(85);
}
#OverviewEx1_TextOutput77 {	z-index: 109;
}
#OverviewEx1_TextOutput77 {	border-width: 1px;
}
#OverviewEx1_TextOutput77 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx1_TextOutput77 {	border-color: rgba(71, 71, 71, 1);
}
#OverviewEx1_TextOutput77 {	&:before {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx1_TextOutput77 {	&:after {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx1_TextOutput77 {	border-style: solid;
}
#OverviewEx1_TextOutput77 {	&:before {
		border-style: solid;
	}
}
#OverviewEx1_TextOutput77 {	&:after {
		border-style: solid;
	}
}
#OverviewEx1_Line1 {	z-index: 110;
}
#OverviewEx1_Line1 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx1_Line2 {	z-index: 111;
}
#OverviewEx1_Line2 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx1_Line3 {	z-index: 4;
}
#OverviewEx1_Line3 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx1_Line4 {	z-index: 112;
}
#OverviewEx1_Line4 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx1_Line5 {	z-index: 113;
}
#OverviewEx1_Line5 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx1_Line6 {	z-index: 114;
}
#OverviewEx1_Line6 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx1_Line7 {	z-index: 116;
}
#OverviewEx1_Line7 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx1_Line8 {	z-index: 118;
}
#OverviewEx1_Line8 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx1_Line9 {	z-index: 3;
}
#OverviewEx1_Line9 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx1_Line10 {	z-index: 119;
}
#OverviewEx1_Line10 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx1_Line11 {	z-index: 120;
}
#OverviewEx1_Line11 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx1_Line12 {	z-index: 121;
}
#OverviewEx1_Line12 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx1_Line13 {	z-index: 122;
}
#OverviewEx1_Line13 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx1_Line14 {	z-index: 123;
}
#OverviewEx1_Line14 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx1_Line15 {	z-index: 124;
}
#OverviewEx1_Line15 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx1_Line16 {	z-index: 125;
}
#OverviewEx1_Line16 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx1_TextOutput78 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput78 {	@include elemTop(100);
}
#OverviewEx1_TextOutput78 {	@include elemLeft(1225);
}
#OverviewEx1_TextOutput78 {	@include elemAutoWidth(85);
}
#OverviewEx1_TextOutput78 {	z-index: 126;
}
#OverviewEx1_TextOutput78 {	border-width: 1px;
}
#OverviewEx1_TextOutput78 {	background-color: rgba(192, 192, 192, 1);
}
#OverviewEx1_TextOutput78 {	border-color: rgba(71, 71, 71, 1);
}
#OverviewEx1_TextOutput78 {	&:before {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx1_TextOutput78 {	&:after {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx1_TextOutput78 {	border-style: solid;
}
#OverviewEx1_TextOutput78 {	&:before {
		border-style: solid;
	}
}
#OverviewEx1_TextOutput78 {	&:after {
		border-style: solid;
	}
}
#OverviewEx1_TextOutput79 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput79 {	@include elemTop(100);
}
#OverviewEx1_TextOutput79 {	@include elemLeft(1330);
}
#OverviewEx1_TextOutput79 {	@include elemAutoWidth(85);
}
#OverviewEx1_TextOutput79 {	z-index: 127;
}
#OverviewEx1_TextOutput79 {	border-width: 1px;
}
#OverviewEx1_TextOutput79 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx1_TextOutput79 {	border-color: rgba(72, 72, 72, 1);
}
#OverviewEx1_TextOutput79 {	&:before {
		border-color: rgba(72, 72, 72, 1);
	}
}
#OverviewEx1_TextOutput79 {	&:after {
		border-color: rgba(72, 72, 72, 1);
	}
}
#OverviewEx1_TextOutput79 {	border-style: solid;
}
#OverviewEx1_TextOutput79 {	&:before {
		border-style: solid;
	}
}
#OverviewEx1_TextOutput79 {	&:after {
		border-style: solid;
	}
}
#OverviewEx1_TextOutput80 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput80 {	@include elemTop(308);
}
#OverviewEx1_TextOutput80 {	@include elemLeft(1225);
}
#OverviewEx1_TextOutput80 {	@include elemAutoWidth(85);
}
#OverviewEx1_TextOutput80 {	z-index: 128;
}
#OverviewEx1_TextOutput80 {	border-width: 1px;
}
#OverviewEx1_TextOutput80 {	background-color: rgba(192, 192, 192, 1);
}
#OverviewEx1_TextOutput80 {	border-color: rgba(71, 71, 71, 1);
}
#OverviewEx1_TextOutput80 {	&:before {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx1_TextOutput80 {	&:after {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx1_TextOutput80 {	border-style: solid;
}
#OverviewEx1_TextOutput80 {	&:before {
		border-style: solid;
	}
}
#OverviewEx1_TextOutput80 {	&:after {
		border-style: solid;
	}
}
#OverviewEx1_TextOutput81 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput81 {	@include elemTop(308);
}
#OverviewEx1_TextOutput81 {	@include elemLeft(1330);
}
#OverviewEx1_TextOutput81 {	@include elemAutoWidth(85);
}
#OverviewEx1_TextOutput81 {	z-index: 129;
}
#OverviewEx1_TextOutput81 {	border-width: 1px;
}
#OverviewEx1_TextOutput81 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx1_TextOutput81 {	border-color: rgba(72, 72, 72, 1);
}
#OverviewEx1_TextOutput81 {	&:before {
		border-color: rgba(72, 72, 72, 1);
	}
}
#OverviewEx1_TextOutput81 {	&:after {
		border-color: rgba(72, 72, 72, 1);
	}
}
#OverviewEx1_TextOutput81 {	border-style: solid;
}
#OverviewEx1_TextOutput81 {	&:before {
		border-style: solid;
	}
}
#OverviewEx1_TextOutput81 {	&:after {
		border-style: solid;
	}
}
#OverviewEx1_TextOutput81 {	& span {
		color: rgba(255, 140, 0, 1);
	}
}
#OverviewEx1_TextOutput82 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput82 {	@include elemTop(520);
}
#OverviewEx1_TextOutput82 {	@include elemLeft(1225);
}
#OverviewEx1_TextOutput82 {	@include elemAutoWidth(85);
}
#OverviewEx1_TextOutput82 {	z-index: 130;
}
#OverviewEx1_TextOutput82 {	border-width: 1px;
}
#OverviewEx1_TextOutput82 {	background-color: rgba(192, 192, 192, 1);
}
#OverviewEx1_TextOutput82 {	border-color: rgba(71, 71, 71, 1);
}
#OverviewEx1_TextOutput82 {	&:before {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx1_TextOutput82 {	&:after {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx1_TextOutput82 {	border-style: solid;
}
#OverviewEx1_TextOutput82 {	&:before {
		border-style: solid;
	}
}
#OverviewEx1_TextOutput82 {	&:after {
		border-style: solid;
	}
}
#OverviewEx1_TextOutput83 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput83 {	@include elemTop(520);
}
#OverviewEx1_TextOutput83 {	@include elemLeft(1330);
}
#OverviewEx1_TextOutput83 {	@include elemAutoWidth(85);
}
#OverviewEx1_TextOutput83 {	z-index: 131;
}
#OverviewEx1_TextOutput83 {	border-width: 1px;
}
#OverviewEx1_TextOutput83 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx1_TextOutput83 {	border-color: rgba(72, 72, 72, 1);
}
#OverviewEx1_TextOutput83 {	&:before {
		border-color: rgba(72, 72, 72, 1);
	}
}
#OverviewEx1_TextOutput83 {	&:after {
		border-color: rgba(72, 72, 72, 1);
	}
}
#OverviewEx1_TextOutput83 {	border-style: solid;
}
#OverviewEx1_TextOutput83 {	&:before {
		border-style: solid;
	}
}
#OverviewEx1_TextOutput83 {	&:after {
		border-style: solid;
	}
}
#OverviewEx1_TextOutput84 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput84 {	@include elemTop(265);
}
#OverviewEx1_TextOutput84 {	@include elemLeft(220);
}
#OverviewEx1_TextOutput84 {	@include elemAutoWidth(85);
}
#OverviewEx1_TextOutput84 {	z-index: 132;
}
#OverviewEx1_TextOutput84 {	border-width: 1px;
}
#OverviewEx1_TextOutput84 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx1_TextOutput84 {	border-color: rgba(71, 71, 71, 1);
}
#OverviewEx1_TextOutput84 {	&:before {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx1_TextOutput84 {	&:after {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx1_TextOutput84 {	border-style: solid;
}
#OverviewEx1_TextOutput84 {	&:before {
		border-style: solid;
	}
}
#OverviewEx1_TextOutput84 {	&:after {
		border-style: solid;
	}
}
#OverviewEx1_TextOutput85 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput85 {	@include elemTop(395);
}
#OverviewEx1_TextOutput85 {	@include elemLeft(220);
}
#OverviewEx1_TextOutput85 {	@include elemAutoWidth(85);
}
#OverviewEx1_TextOutput85 {	z-index: 133;
}
#OverviewEx1_TextOutput85 {	border-width: 1px;
}
#OverviewEx1_TextOutput85 {	background-color: rgba(192, 192, 192, 1);
}
#OverviewEx1_TextOutput85 {	border-color: rgba(71, 71, 71, 1);
}
#OverviewEx1_TextOutput85 {	&:before {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx1_TextOutput85 {	&:after {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx1_TextOutput85 {	border-style: solid;
}
#OverviewEx1_TextOutput85 {	&:before {
		border-style: solid;
	}
}
#OverviewEx1_TextOutput85 {	&:after {
		border-style: solid;
	}
}
#OverviewEx1_Line17 {	z-index: 2;
}
#OverviewEx1_Line17 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx1_Line18 {	z-index: 1;
}
#OverviewEx1_Line18 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx1_Line19 {	z-index: 0;
}
#OverviewEx1_Line19 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx1_TextOutput9 {	@include elemAutoWidth(100);
}
#OverviewEx1_TextOutput9 {	@include elemAutoHeight(30);
}
#OverviewEx1_TextOutput9 {	@include elemTop(225);
}
#OverviewEx1_TextOutput9 {	@include elemLeft(725);
}
#OverviewEx1_TextOutput9 {	z-index: 134;
}
#OverviewEx1_Ellipse17 {	@include elemTop(335);
}
#OverviewEx1_Ellipse17 {	@include elemLeft(995);
}
#OverviewEx1_Ellipse17 {	@include elemWidth(21);
}
#OverviewEx1_Ellipse17 {	@include elemHeight(20);
}
#OverviewEx1_Ellipse17 {	z-index: 135;
}
#OverviewEx1_Ellipse17 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx1_Ellipse18 {	@include elemTop(545);
}
#OverviewEx1_Ellipse18 {	@include elemLeft(995);
}
#OverviewEx1_Ellipse18 {	@include elemWidth(20);
}
#OverviewEx1_Ellipse18 {	@include elemHeight(20);
}
#OverviewEx1_Ellipse18 {	z-index: 136;
}
#OverviewEx1_Ellipse18 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx1_Ellipse19 {	@include elemTop(156);
}
#OverviewEx1_Ellipse19 {	@include elemLeft(144);
}
#OverviewEx1_Ellipse19 {	@include elemWidth(10);
}
#OverviewEx1_Ellipse19 {	@include elemHeight(25);
}
#OverviewEx1_Ellipse19 {	z-index: 137;
}
#OverviewEx1_Ellipse19 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx1_Ellipse20 {	@include elemTop(150);
}
#OverviewEx1_Ellipse20 {	@include elemLeft(126);
}
#OverviewEx1_Ellipse20 {	@include elemWidth(21);
}
#OverviewEx1_Ellipse20 {	@include elemHeight(12);
}
#OverviewEx1_Ellipse20 {	z-index: 138;
}
#OverviewEx1_Ellipse20 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx1_Ellipse21 {	@include elemTop(150);
}
#OverviewEx1_Ellipse21 {	@include elemLeft(150);
}
#OverviewEx1_Ellipse21 {	@include elemWidth(24);
}
#OverviewEx1_Ellipse21 {	@include elemHeight(12);
}
#OverviewEx1_Ellipse21 {	z-index: 139;
}
#OverviewEx1_Ellipse21 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx1_Ellipse22 {	@include elemTop(290);
}
#OverviewEx1_Ellipse22 {	@include elemLeft(140);
}
#OverviewEx1_Ellipse22 {	@include elemWidth(20);
}
#OverviewEx1_Ellipse22 {	@include elemHeight(20);
}
#OverviewEx1_Ellipse22 {	z-index: 140;
}
#OverviewEx1_Ellipse22 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx1_Line20 {	z-index: 141;
}
#OverviewEx1_Line21 {	z-index: 142;
}
#OverviewEx1_NumericOutput1 {	@include elemAutoWidth(100);
}
#OverviewEx1_NumericOutput1 {	@include elemAutoHeight(30);
}
#OverviewEx1_NumericOutput1 {	@include elemTop(684);
}
#OverviewEx1_NumericOutput1 {	@include elemLeft(432);
}
#OverviewEx1_NumericOutput1 {	z-index: 143;
}
#OverviewEx1_Login1 {	@include elemWidth(300);
}
#OverviewEx1_Login1 {	@include elemHeight(160);
}
#OverviewEx1_Login1 {	@include elemTop(636);
}
#OverviewEx1_Login1 {	@include elemLeft(66);
}
#OverviewEx1_Login1 {	z-index: 144;
}
#OverviewEx1_LoginInfo1 {	@include elemAutoWidth(120);
}
#OverviewEx1_LoginInfo1 {	@include elemAutoHeight(30);
}
#OverviewEx1_LoginInfo1 {	@include elemTop(762);
}
#OverviewEx1_LoginInfo1 {	@include elemLeft(438);
}
#OverviewEx1_LoginInfo1 {	z-index: 145;
}
