@import "mixins.scss";
#QCS_NumericOutput1 {	@include elemAutoWidth(100);
}
#QCS_NumericOutput1 {	@include elemAutoHeight(30);
}
#QCS_NumericOutput1 {	@include elemTop(402);
}
#QCS_NumericOutput1 {	@include elemLeft(506);
}
#QCS_NumericOutput1 {	z-index: 0;
}
#QCS_Login1 {	@include elemWidth(300);
}
#QCS_Login1 {	@include elemHeight(160);
}
#QCS_Login1 {	@include elemTop(264);
}
#QCS_Login1 {	@include elemLeft(920);
}
#QCS_Login1 {	z-index: 1;
}
#QCS_LoginInfo1 {	@include elemAutoWidth(120);
}
#QCS_LoginInfo1 {	@include elemAutoHeight(30);
}
#QCS_LoginInfo1 {	@include elemTop(222);
}
#QCS_LoginInfo1 {	@include elemLeft(994);
}
#QCS_LoginInfo1 {	z-index: 2;
}
#QCS_TextOutput1 {	@include elemAutoWidth(100);
}
#QCS_TextOutput1 {	@include elemAutoHeight(30);
}
#QCS_TextOutput1 {	@include elemTop(402);
}
#QCS_TextOutput1 {	@include elemLeft(432);
}
#QCS_TextOutput1 {	z-index: 3;
}
#QCS_TextOutput2 {	@include elemAutoHeight(30);
}
#QCS_TextOutput2 {	@include elemTop(468);
}
#QCS_TextOutput2 {	@include elemLeft(372);
}
#QCS_TextOutput2 {	@include elemAutoWidth(146);
}
#QCS_TextOutput2 {	z-index: 4;
}
#QCS_LogoutButton1 {	@include elemAutoWidth(100);
}
#QCS_LogoutButton1 {	@include elemAutoHeight(30);
}
#QCS_LogoutButton1 {	@include elemTop(388);
}
#QCS_LogoutButton1 {	@include elemLeft(1116);
}
#QCS_LogoutButton1 {	z-index: 5;
}
#QCS_Send {	@include elemAutoWidth(100);
}
#QCS_Send {	@include elemAutoHeight(30);
}
#QCS_Send {	@include elemTop(470);
}
#QCS_Send {	@include elemLeft(654);
}
#QCS_Send {	z-index: 6;
}
#QCS_Send {	span {
		@include font-style-italic(true);
	}
}
#QCS_TextOutput4 {	@include elemAutoHeight(30);
}
#QCS_TextOutput4 {	@include elemTop(522);
}
#QCS_TextOutput4 {	@include elemLeft(508);
}
#QCS_TextOutput4 {	@include elemAutoWidth(146);
}
#QCS_TextOutput4 {	z-index: 7;
}
#QCS_NumericOutput2 {	@include elemAutoWidth(100);
}
#QCS_NumericOutput2 {	@include elemAutoHeight(30);
}
#QCS_NumericOutput2 {	@include elemTop(522);
}
#QCS_NumericOutput2 {	@include elemLeft(642);
}
#QCS_NumericOutput2 {	z-index: 8;
}
#QCS_NumericInput1 {	@include elemAutoWidth(100);
}
#QCS_NumericInput1 {	@include elemAutoHeight(30);
}
#QCS_NumericInput1 {	@include elemTop(468);
}
#QCS_NumericInput1 {	@include elemLeft(530);
}
#QCS_NumericInput1 {	z-index: 9;
}
#QCS_NavigationButton1 {	@include elemAutoWidth(100);
}
#QCS_NavigationButton1 {	@include elemAutoHeight(30);
}
#QCS_NavigationButton1 {	@include elemTop(624);
}
#QCS_NavigationButton1 {	@include elemLeft(464);
}
#QCS_NavigationButton1 {	z-index: 10;
}
#QCS_Label1 {	@include elemAutoWidth(80);
}
#QCS_Label1 {	@include elemAutoHeight(30);
}
#QCS_Label1 {	@include elemTop(180);
}
#QCS_Label1 {	@include elemLeft(580);
}
#QCS_Label1 {	z-index: 11;
}
