@import "mixins.scss";
#Services_Services_ButtonBar {	@include elemTop(0);
}
#Services_Services_ButtonBar {	@include elemLeft(0);
}
#Services_Services_ButtonBar {	@include elemWidth(1114);
}
#Services_Services_ButtonBar {	@include elemHeight(60);
}
#Services_Services_ButtonBar {	z-index: 0;
}
#Services_Services_ButtonBar_ToggleButton_DirMan {	@include elemTop(0);
}
#Services_Services_ButtonBar_ToggleButton_DirMan {	@include elemLeft(0);
}
#Services_Services_ButtonBar_ToggleButton_DirMan {	@include elemAutoWidth(557);
}
#Services_Services_ButtonBar_ToggleButton_DirMan {	@include elemAutoHeight(60);
}
#Services_Services_ButtonBar_ToggleButton_DirMan {	z-index: 0;
}
#Services_Services_ButtonBar_ToggleButton_Help {	@include elemTop(0);
}
#Services_Services_ButtonBar_ToggleButton_Help {	@include elemLeft(0);
}
#Services_Services_ButtonBar_ToggleButton_Help {	@include elemAutoWidth(557);
}
#Services_Services_ButtonBar_ToggleButton_Help {	@include elemAutoHeight(60);
}
#Services_Services_ButtonBar_ToggleButton_Help {	z-index: 1;
}
#Services_Services_GroupBox_Content {	@include elemTop(60);
}
#Services_Services_GroupBox_Content {	@include elemLeft(0);
}
#Services_Services_GroupBox_Content {	@include elemWidth(1114);
}
#Services_Services_GroupBox_Content {	@include elemHeight(600);
}
#Services_Services_GroupBox_Content {	z-index: 1;
}
