@import "mixins.scss";
#Settings_Settings_ButtonBar {	@include elemTop(0);
}
#Settings_Settings_ButtonBar {	@include elemLeft(0);
}
#Settings_Settings_ButtonBar {	@include elemWidth(1114);
}
#Settings_Settings_ButtonBar {	@include elemHeight(60);
}
#Settings_Settings_ButtonBar {	z-index: 0;
}
#Settings_Settings_ButtonBar_ToggleButton_IO {	@include elemTop(0);
}
#Settings_Settings_ButtonBar_ToggleButton_IO {	@include elemLeft(0);
}
#Settings_Settings_ButtonBar_ToggleButton_IO {	@include elemAutoWidth(371);
}
#Settings_Settings_ButtonBar_ToggleButton_IO {	@include elemAutoHeight(60);
}
#Settings_Settings_ButtonBar_ToggleButton_IO {	z-index: 0;
}
#Settings_Settings_ButtonBar_ToggleButton_Timers {	@include elemTop(0);
}
#Settings_Settings_ButtonBar_ToggleButton_Timers {	@include elemLeft(0);
}
#Settings_Settings_ButtonBar_ToggleButton_Timers {	@include elemAutoWidth(371);
}
#Settings_Settings_ButtonBar_ToggleButton_Timers {	@include elemAutoHeight(60);
}
#Settings_Settings_ButtonBar_ToggleButton_Timers {	z-index: 1;
}
#Settings_Settings_ButtonBar_ToggleButton_System {	@include elemTop(0);
}
#Settings_Settings_ButtonBar_ToggleButton_System {	@include elemLeft(0);
}
#Settings_Settings_ButtonBar_ToggleButton_System {	@include elemAutoWidth(371);
}
#Settings_Settings_ButtonBar_ToggleButton_System {	@include elemAutoHeight(60);
}
#Settings_Settings_ButtonBar_ToggleButton_System {	z-index: 2;
}
#Settings_Settings_GroupBox_Content {	@include elemTop(60);
}
#Settings_Settings_GroupBox_Content {	@include elemLeft(0);
}
#Settings_Settings_GroupBox_Content {	@include elemWidth(1114);
}
#Settings_Settings_GroupBox_Content {	@include elemHeight(600);
}
#Settings_Settings_GroupBox_Content {	z-index: 1;
}
