@import "mixins.scss";
#Settings_System_Settings_System_GroupBox_Accessibility {	@include elemTop(5);
}
#Settings_System_Settings_System_GroupBox_Accessibility {	@include elemLeft(5);
}
#Settings_System_Settings_System_GroupBox_Accessibility {	@include elemWidth(260);
}
#Settings_System_Settings_System_GroupBox_Accessibility {	@include elemHeight(170);
}
#Settings_System_Settings_System_GroupBox_Accessibility {	z-index: 0;
}
#Settings_System_Settings_System_GroupBox_Accessibility {	> .header span {
		@include font-weight-bold(true);
	}
}
#Settings_System_Settings_System_GroupBox_Accessibility_LanguageSelector {	@include elemTop(10);
}
#Settings_System_Settings_System_GroupBox_Accessibility_LanguageSelector {	@include elemLeft(10);
}
#Settings_System_Settings_System_GroupBox_Accessibility_LanguageSelector {	&.DropDownBoxView {
		@include elemWidth(240);
	}
}
#Settings_System_Settings_System_GroupBox_Accessibility_LanguageSelector {	&.DropDownBoxView {
		@include elemHeight(50);
	}
}
#Settings_System_Settings_System_GroupBox_Accessibility_LanguageSelector {	z-index: 0;
}
#Settings_System_Settings_System_GroupBox_Accessibility_LanguageSelector {	& .TextView {
		@include text-alignment(center);
	}
}
#Settings_System_Settings_System_GroupBox_Accessibility_LanguageSelector_listBoxWrapper {	& .TextView {
		@include text-alignment(center);
	}
}
#Settings_System_Settings_System_GroupBox_Accessibility_MeasurementSystemSelector {	@include elemTop(70);
}
#Settings_System_Settings_System_GroupBox_Accessibility_MeasurementSystemSelector {	@include elemLeft(10);
}
#Settings_System_Settings_System_GroupBox_Accessibility_MeasurementSystemSelector {	&.DropDownBoxView {
		@include elemWidth(240);
	}
}
#Settings_System_Settings_System_GroupBox_Accessibility_MeasurementSystemSelector {	&.DropDownBoxView {
		@include elemHeight(50);
	}
}
#Settings_System_Settings_System_GroupBox_Accessibility_MeasurementSystemSelector {	z-index: 1;
}
#Settings_System_Settings_System_GroupBox_Accessibility_MeasurementSystemSelector {	& .TextView {
		@include text-alignment(center);
	}
}
#Settings_System_Settings_System_GroupBox_Accessibility_MeasurementSystemSelector_listBoxWrapper {	& .TextView {
		@include text-alignment(center);
	}
}
#Settings_System_Settings_System_GroupBox_Info {	@include elemTop(185);
}
#Settings_System_Settings_System_GroupBox_Info {	@include elemLeft(5);
}
#Settings_System_Settings_System_GroupBox_Info {	@include elemWidth(260);
}
#Settings_System_Settings_System_GroupBox_Info {	@include elemHeight(95);
}
#Settings_System_Settings_System_GroupBox_Info {	z-index: 1;
}
#Settings_System_Settings_System_GroupBox_Info {	> .header span {
		@include font-weight-bold(true);
	}
}
#Settings_System_Settings_System_GroupBox_Info_Label_Serial {	@include elemTop(10);
}
#Settings_System_Settings_System_GroupBox_Info_Label_Serial {	@include elemLeft(5);
}
#Settings_System_Settings_System_GroupBox_Info_Label_Serial {	@include elemAutoWidth(120);
}
#Settings_System_Settings_System_GroupBox_Info_Label_Serial {	@include elemAutoHeight(35);
}
#Settings_System_Settings_System_GroupBox_Info_Label_Serial {	z-index: 0;
}
#Settings_System_Settings_System_GroupBox_Info_Label_Serial {	@include text-alignment-all('center');
}
#Settings_System_Settings_System_GroupBox_Info_Label_Serial {	font-size: 12px;
}
#Settings_System_Settings_System_GroupBox_Info_TextInput_Serial {	@include elemTop(10);
}
#Settings_System_Settings_System_GroupBox_Info_TextInput_Serial {	@include elemLeft(130);
}
#Settings_System_Settings_System_GroupBox_Info_TextInput_Serial {	@include elemAutoWidth(120);
}
#Settings_System_Settings_System_GroupBox_Info_TextInput_Serial {	@include elemAutoHeight(35);
}
#Settings_System_Settings_System_GroupBox_Info_TextInput_Serial {	z-index: 1;
}
#Settings_System_Settings_System_GroupBox_Info_TextInput_Serial {	input {
		font-size: 12px;
	}
}
