@import "mixins.scss";
#HA_IO_Analog_Labels_Label_IO {	@include elemTop(-5);
}
#HA_IO_Analog_Labels_Label_IO {	@include elemLeft(125);
}
#HA_IO_Analog_Labels_Label_IO {	@include elemAutoWidth(100);
}
#HA_IO_Analog_Labels_Label_IO {	@include elemAutoHeight(35);
}
#HA_IO_Analog_Labels_Label_IO {	z-index: 0;
}
#HA_IO_Analog_Labels_Label_IO {	@include text-alignment-all('center bottom');
}
#HA_IO_Analog_Labels_Label_IO {	font-size: 12px;
}
#HA_IO_Analog_Labels_Label_IO {	span {
		padding: 0px;
	}
}
#HA_IO_Analog_Labels_Label_App {	@include elemTop(-5);
}
#HA_IO_Analog_Labels_Label_App {	@include elemLeft(230);
}
#HA_IO_Analog_Labels_Label_App {	@include elemAutoWidth(100);
}
#HA_IO_Analog_Labels_Label_App {	@include elemAutoHeight(35);
}
#HA_IO_Analog_Labels_Label_App {	z-index: 1;
}
#HA_IO_Analog_Labels_Label_App {	@include text-alignment-all('center bottom');
}
#HA_IO_Analog_Labels_Label_App {	font-size: 12px;
}
#HA_IO_Analog_Labels_Label_App {	span {
		padding: 0px;
	}
}
#HA_IO_Analog_Labels_Label_ForceOff {	@include elemTop(-5);
}
#HA_IO_Analog_Labels_Label_ForceOff {	@include elemLeft(335);
}
#HA_IO_Analog_Labels_Label_ForceOff {	@include elemAutoWidth(35);
}
#HA_IO_Analog_Labels_Label_ForceOff {	@include elemAutoHeight(35);
}
#HA_IO_Analog_Labels_Label_ForceOff {	z-index: 2;
}
#HA_IO_Analog_Labels_Label_ForceOff {	@include text-alignment-all('center bottom');
}
#HA_IO_Analog_Labels_Label_ForceOff {	font-size: 12px;
}
#HA_IO_Analog_Labels_Label_ForceOff {	span {
		padding: 0px;
	}
}
#HA_IO_Analog_Labels_Label_ForceOn {	@include elemTop(-5);
}
#HA_IO_Analog_Labels_Label_ForceOn {	@include elemLeft(385);
}
#HA_IO_Analog_Labels_Label_ForceOn {	@include elemAutoWidth(35);
}
#HA_IO_Analog_Labels_Label_ForceOn {	@include elemAutoHeight(35);
}
#HA_IO_Analog_Labels_Label_ForceOn {	z-index: 3;
}
#HA_IO_Analog_Labels_Label_ForceOn {	@include text-alignment-all('center bottom');
}
#HA_IO_Analog_Labels_Label_ForceOn {	font-size: 12px;
}
#HA_IO_Analog_Labels_Label_ForceOn {	span {
		padding: 0px;
	}
}
#HA_IO_Analog_Labels_Label_ForceValue {	@include elemTop(-5);
}
#HA_IO_Analog_Labels_Label_ForceValue {	@include elemLeft(435);
}
#HA_IO_Analog_Labels_Label_ForceValue {	@include elemAutoWidth(105);
}
#HA_IO_Analog_Labels_Label_ForceValue {	@include elemAutoHeight(35);
}
#HA_IO_Analog_Labels_Label_ForceValue {	z-index: 4;
}
#HA_IO_Analog_Labels_Label_ForceValue {	@include text-alignment-all('center bottom');
}
#HA_IO_Analog_Labels_Label_ForceValue {	font-size: 12px;
}
#HA_IO_Analog_Labels_Label_ForceValue {	span {
		padding: 0px;
	}
}
#HA_IO_Analog_Labels_Line_Underline {	z-index: 5;
}
