@import "mixins.scss";
#BuildVersionBasic_LabelBuildVersionBasic {	@include elemTop(0);
}
#BuildVersionBasic_LabelBuildVersionBasic {	@include elemLeft(0);
}
#BuildVersionBasic_LabelBuildVersionBasic {	@include elemAutoWidth(150);
}
#BuildVersionBasic_LabelBuildVersionBasic {	@include elemAutoHeight(30);
}
#BuildVersionBasic_LabelBuildVersionBasic {	z-index: 0;
}
#BuildVersionBasic_LabelBuildVersionBasic {	font-size: 20px;
}
#BuildVersionBasic_LabelBuildVersionBasic {	span {
		padding: 0px 15px;
	}
}
#BuildVersionBasic_TextOutProjectName {	@include elemTop(0);
}
#BuildVersionBasic_TextOutProjectName {	@include elemLeft(150);
}
#BuildVersionBasic_TextOutProjectName {	@include elemAutoWidth(150);
}
#BuildVersionBasic_TextOutProjectName {	@include elemAutoHeight(18);
}
#BuildVersionBasic_TextOutProjectName {	z-index: 1;
}
#BuildVersionBasic_TextOutProjectName {	@include text-alignment-all('center');
}
#BuildVersionBasic_TextOutProjectName {	font-size: 14px;
}
#BuildVersionBasic_TextOutProjectName {	span {
		padding: 0px 5px;
	}
}
#BuildVersionBasic_LabelProject {	@include elemTop(18);
}
#BuildVersionBasic_LabelProject {	@include elemLeft(150);
}
#BuildVersionBasic_LabelProject {	@include elemAutoWidth(150);
}
#BuildVersionBasic_LabelProject {	@include elemAutoHeight(12);
}
#BuildVersionBasic_LabelProject {	z-index: 2;
}
#BuildVersionBasic_LabelProject {	& span {
		color: rgba(0, 0, 0, 0.7);
	}
}
#BuildVersionBasic_LabelProject {	@include text-alignment-all('center');
}
#BuildVersionBasic_LabelProject {	font-size: 12px;
}
#BuildVersionBasic_LabelProject {	span {
		padding: 0px 5px;
	}
}
#BuildVersionBasic_TextOutputVersion {	@include elemTop(0);
}
#BuildVersionBasic_TextOutputVersion {	@include elemLeft(300);
}
#BuildVersionBasic_TextOutputVersion {	@include elemAutoHeight(18);
}
#BuildVersionBasic_TextOutputVersion {	z-index: 3;
}
#BuildVersionBasic_TextOutputVersion {	@include text-alignment-all('center');
}
#BuildVersionBasic_TextOutputVersion {	font-size: 14px;
}
#BuildVersionBasic_TextOutputVersion {	span {
		padding: 0px 5px;
	}
}
#BuildVersionBasic_TextOutputVersion {	@include elemAutoWidth(100);
}
#BuildVersionBasic_LabelVersion {	@include elemTop(18);
}
#BuildVersionBasic_LabelVersion {	@include elemLeft(300);
}
#BuildVersionBasic_LabelVersion {	@include elemAutoWidth(100);
}
#BuildVersionBasic_LabelVersion {	@include elemAutoHeight(12);
}
#BuildVersionBasic_LabelVersion {	z-index: 4;
}
#BuildVersionBasic_LabelVersion {	& span {
		color: rgba(0, 0, 0, 0.7);
	}
}
#BuildVersionBasic_LabelVersion {	@include text-alignment-all('center');
}
#BuildVersionBasic_LabelVersion {	font-size: 12px;
}
#BuildVersionBasic_LabelVersion {	span {
		padding: 0px 5px;
	}
}
#BuildVersionBasic_DateTimeOutputGitCommit {	@include elemTop(0);
}
#BuildVersionBasic_DateTimeOutputGitCommit {	@include elemLeft(400);
}
#BuildVersionBasic_DateTimeOutputGitCommit {	@include elemAutoWidth(150);
}
#BuildVersionBasic_DateTimeOutputGitCommit {	@include elemAutoHeight(18);
}
#BuildVersionBasic_DateTimeOutputGitCommit {	z-index: 5;
}
#BuildVersionBasic_DateTimeOutputGitCommit {	@include font-weight-bold(false);
}
#BuildVersionBasic_DateTimeOutputGitCommit {	font-size: 14px;
}
#BuildVersionBasic_DateTimeOutputGitCommit {	padding: 0px 5px;
}
#BuildVersionBasic_LabelCommitDate {	@include elemTop(18);
}
#BuildVersionBasic_LabelCommitDate {	@include elemLeft(400);
}
#BuildVersionBasic_LabelCommitDate {	@include elemAutoWidth(150);
}
#BuildVersionBasic_LabelCommitDate {	@include elemAutoHeight(12);
}
#BuildVersionBasic_LabelCommitDate {	z-index: 6;
}
#BuildVersionBasic_LabelCommitDate {	& span {
		color: rgba(0, 0, 0, 0.7);
	}
}
#BuildVersionBasic_LabelCommitDate {	@include text-alignment-all('center');
}
#BuildVersionBasic_LabelCommitDate {	font-size: 12px;
}
#BuildVersionBasic_LabelCommitDate {	span {
		padding: 0px 5px;
	}
}
#BuildVersionBasic_ImageWarning {	@include elemTop(18);
}
#BuildVersionBasic_ImageWarning {	@include elemLeft(382);
}
#BuildVersionBasic_ImageWarning {	@include elemAutoWidth(12);
}
#BuildVersionBasic_ImageWarning {	@include elemAutoHeight(12);
}
#BuildVersionBasic_ImageWarning {	z-index: 7;
}
