@import "mixins.scss";
#HA_IO_Digital_Scaling_IO_Label {	@include elemTop(0);
}
#HA_IO_Digital_Scaling_IO_Label {	@include elemLeft(0);
}
#HA_IO_Digital_Scaling_IO_Label {	@include elemAutoWidth(120);
}
#HA_IO_Digital_Scaling_IO_Label {	@include elemAutoHeight(35);
}
#HA_IO_Digital_Scaling_IO_Label {	z-index: 0;
}
#HA_IO_Digital_Scaling_IO_Label {	@include text-alignment-all('right');
}
#HA_IO_Digital_Scaling_IO_Label {	font-size: 12px;
}
#HA_IO_Digital_Scaling_IO_Label {	@include font-weight-bold(true);
}
#HA_IO_Digital_Scaling_IO_EllipseIOMapping {	@include elemTop(8);
}
#HA_IO_Digital_Scaling_IO_EllipseIOMapping {	@include elemLeft(130);
}
#HA_IO_Digital_Scaling_IO_EllipseIOMapping {	@include elemWidth(20);
}
#HA_IO_Digital_Scaling_IO_EllipseIOMapping {	@include elemHeight(20);
}
#HA_IO_Digital_Scaling_IO_EllipseIOMapping {	z-index: 1;
}
#HA_IO_Digital_Scaling_IO_EllipseFiltered {	@include elemTop(8);
}
#HA_IO_Digital_Scaling_IO_EllipseFiltered {	@include elemLeft(160);
}
#HA_IO_Digital_Scaling_IO_EllipseFiltered {	@include elemWidth(20);
}
#HA_IO_Digital_Scaling_IO_EllipseFiltered {	@include elemHeight(20);
}
#HA_IO_Digital_Scaling_IO_EllipseFiltered {	z-index: 2;
}
#HA_IO_Digital_Scaling_IO_CheckBoxInverted {	@include elemTop(0);
}
#HA_IO_Digital_Scaling_IO_CheckBoxInverted {	@include elemLeft(190);
}
#HA_IO_Digital_Scaling_IO_CheckBoxInverted {	@include elemAutoWidth(35);
}
#HA_IO_Digital_Scaling_IO_CheckBoxInverted {	@include elemAutoHeight(35);
}
#HA_IO_Digital_Scaling_IO_CheckBoxInverted {	z-index: 3;
}
#HA_IO_Digital_Scaling_IO_NumericInputFilterOn {	@include elemTop(0);
}
#HA_IO_Digital_Scaling_IO_NumericInputFilterOn {	@include elemLeft(235);
}
#HA_IO_Digital_Scaling_IO_NumericInputFilterOn {	@include elemAutoWidth(105);
}
#HA_IO_Digital_Scaling_IO_NumericInputFilterOn {	@include elemAutoHeight(35);
}
#HA_IO_Digital_Scaling_IO_NumericInputFilterOn {	z-index: 4;
}
#HA_IO_Digital_Scaling_IO_NumericInputFilterOn {	input {
		@include text-alignment(center);
	}
}
#HA_IO_Digital_Scaling_IO_NumericInputFilterOn {	input {
		font-size: 12px;
	}
}
#HA_IO_Digital_Scaling_IO_NumericInputFilterOn {	.breaseNumericInput_unit {
		font-size: 12px;
	}
}
#HA_IO_Digital_Scaling_IO_NumericInputFilterOn {	padding: 0px 5px 0px 5px;
}
#HA_IO_Digital_Scaling_IO_NumericInputFilterOff {	@include elemTop(0);
}
#HA_IO_Digital_Scaling_IO_NumericInputFilterOff {	@include elemLeft(350);
}
#HA_IO_Digital_Scaling_IO_NumericInputFilterOff {	@include elemAutoWidth(105);
}
#HA_IO_Digital_Scaling_IO_NumericInputFilterOff {	@include elemAutoHeight(35);
}
#HA_IO_Digital_Scaling_IO_NumericInputFilterOff {	z-index: 5;
}
#HA_IO_Digital_Scaling_IO_NumericInputFilterOff {	input {
		@include text-alignment(center);
	}
}
#HA_IO_Digital_Scaling_IO_NumericInputFilterOff {	input {
		font-size: 12px;
	}
}
#HA_IO_Digital_Scaling_IO_NumericInputFilterOff {	.breaseNumericInput_unit {
		font-size: 12px;
	}
}
#HA_IO_Digital_Scaling_IO_NumericInputFilterOff {	padding: 0px 5px 0px 5px;
}
