@import "mixins.scss";
#OverviewEx2_Line22 {	z-index: 5;
}
#OverviewEx2_Line22 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx2_Line23 {	z-index: 6;
}
#OverviewEx2_Line23 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx2_Line24 {	z-index: 7;
}
#OverviewEx2_Line24 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx2_Line25 {	z-index: 8;
}
#OverviewEx2_Line25 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx2_TextOutput5 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput5 {	@include elemTop(163);
}
#OverviewEx2_TextOutput5 {	@include elemLeft(15);
}
#OverviewEx2_TextOutput5 {	@include elemAutoWidth(75);
}
#OverviewEx2_TextOutput5 {	z-index: 10;
}
#OverviewEx2_TextOutput5 {	border-width: 1px;
}
#OverviewEx2_TextOutput5 {	background-color: rgba(192, 192, 192, 1);
}
#OverviewEx2_TextOutput5 {	border-color: rgba(71, 71, 71, 1);
}
#OverviewEx2_TextOutput5 {	&:before {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx2_TextOutput5 {	&:after {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx2_TextOutput5 {	border-style: solid;
}
#OverviewEx2_TextOutput5 {	&:before {
		border-style: solid;
	}
}
#OverviewEx2_TextOutput5 {	&:after {
		border-style: solid;
	}
}
#OverviewEx2_TextOutput5 {	@include text-alignment-all('center');
}
#OverviewEx2_Rectangle1 {	@include elemTop(165);
}
#OverviewEx2_Rectangle1 {	@include elemLeft(15);
}
#OverviewEx2_Rectangle1 {	@include elemWidth(75);
}
#OverviewEx2_Rectangle1 {	@include elemHeight(25);
}
#OverviewEx2_Rectangle1 {	z-index: 9;
}
#OverviewEx2_Rectangle1 {	background-color: rgba(224, 224, 224, 1);
}
#OverviewEx2_TextOutput6 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput6 {	@include elemTop(307);
}
#OverviewEx2_TextOutput6 {	@include elemLeft(15);
}
#OverviewEx2_TextOutput6 {	@include elemAutoWidth(75);
}
#OverviewEx2_TextOutput6 {	z-index: 12;
}
#OverviewEx2_TextOutput6 {	border-width: 1px;
}
#OverviewEx2_TextOutput6 {	background-color: rgba(192, 192, 192, 1);
}
#OverviewEx2_TextOutput6 {	border-color: rgba(71, 71, 71, 1);
}
#OverviewEx2_TextOutput6 {	&:before {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx2_TextOutput6 {	&:after {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx2_TextOutput6 {	border-style: solid;
}
#OverviewEx2_TextOutput6 {	&:before {
		border-style: solid;
	}
}
#OverviewEx2_TextOutput6 {	&:after {
		border-style: solid;
	}
}
#OverviewEx2_TextOutput6 {	@include text-alignment-all('center');
}
#OverviewEx2_Rectangle2 {	@include elemTop(309);
}
#OverviewEx2_Rectangle2 {	@include elemLeft(15);
}
#OverviewEx2_Rectangle2 {	@include elemWidth(75);
}
#OverviewEx2_Rectangle2 {	@include elemHeight(25);
}
#OverviewEx2_Rectangle2 {	z-index: 11;
}
#OverviewEx2_Rectangle2 {	background-color: rgba(224, 224, 224, 1);
}
#OverviewEx2_TextOutput7 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput7 {	@include elemTop(436);
}
#OverviewEx2_TextOutput7 {	@include elemLeft(15);
}
#OverviewEx2_TextOutput7 {	@include elemAutoWidth(79);
}
#OverviewEx2_TextOutput7 {	z-index: 14;
}
#OverviewEx2_TextOutput7 {	border-width: 1px;
}
#OverviewEx2_TextOutput7 {	background-color: rgba(192, 192, 192, 1);
}
#OverviewEx2_TextOutput7 {	border-color: rgba(71, 71, 71, 1);
}
#OverviewEx2_TextOutput7 {	&:before {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx2_TextOutput7 {	&:after {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx2_TextOutput7 {	border-style: solid;
}
#OverviewEx2_TextOutput7 {	&:before {
		border-style: solid;
	}
}
#OverviewEx2_TextOutput7 {	&:after {
		border-style: solid;
	}
}
#OverviewEx2_TextOutput7 {	@include text-alignment-all('center');
}
#OverviewEx2_Rectangle3 {	@include elemTop(438);
}
#OverviewEx2_Rectangle3 {	@include elemLeft(15);
}
#OverviewEx2_Rectangle3 {	@include elemWidth(75);
}
#OverviewEx2_Rectangle3 {	@include elemHeight(25);
}
#OverviewEx2_Rectangle3 {	z-index: 13;
}
#OverviewEx2_Rectangle3 {	background-color: rgba(224, 224, 224, 1);
}
#OverviewEx2_TextOutput8 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput8 {	@include elemTop(552);
}
#OverviewEx2_TextOutput8 {	@include elemLeft(15);
}
#OverviewEx2_TextOutput8 {	@include elemAutoWidth(75);
}
#OverviewEx2_TextOutput8 {	z-index: 16;
}
#OverviewEx2_TextOutput8 {	border-width: 1px;
}
#OverviewEx2_TextOutput8 {	background-color: rgba(192, 192, 192, 1);
}
#OverviewEx2_TextOutput8 {	border-color: rgba(71, 71, 71, 1);
}
#OverviewEx2_TextOutput8 {	&:before {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx2_TextOutput8 {	&:after {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx2_TextOutput8 {	border-style: solid;
}
#OverviewEx2_TextOutput8 {	&:before {
		border-style: solid;
	}
}
#OverviewEx2_TextOutput8 {	&:after {
		border-style: solid;
	}
}
#OverviewEx2_TextOutput8 {	@include text-alignment-all('center');
}
#OverviewEx2_Rectangle4 {	@include elemTop(554);
}
#OverviewEx2_Rectangle4 {	@include elemLeft(15);
}
#OverviewEx2_Rectangle4 {	@include elemWidth(75);
}
#OverviewEx2_Rectangle4 {	@include elemHeight(25);
}
#OverviewEx2_Rectangle4 {	z-index: 15;
}
#OverviewEx2_Rectangle4 {	background-color: rgba(224, 224, 224, 1);
}
#OverviewEx2_Ellipse1 {	@include elemTop(131);
}
#OverviewEx2_Ellipse1 {	@include elemLeft(125);
}
#OverviewEx2_Ellipse1 {	@include elemWidth(50);
}
#OverviewEx2_Ellipse1 {	@include elemHeight(50);
}
#OverviewEx2_Ellipse1 {	z-index: 19;
}
#OverviewEx2_Ellipse1 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx2_Rectangle8 {	@include elemTop(131);
}
#OverviewEx2_Rectangle8 {	@include elemLeft(155);
}
#OverviewEx2_Rectangle8 {	@include elemWidth(30);
}
#OverviewEx2_Rectangle8 {	@include elemHeight(12);
}
#OverviewEx2_Rectangle8 {	z-index: 17;
}
#OverviewEx2_Rectangle8 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx2_Rectangle9 {	@include elemTop(171);
}
#OverviewEx2_Rectangle9 {	@include elemLeft(115);
}
#OverviewEx2_Rectangle9 {	@include elemWidth(30);
}
#OverviewEx2_Rectangle9 {	@include elemHeight(10);
}
#OverviewEx2_Rectangle9 {	z-index: 18;
}
#OverviewEx2_Rectangle9 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx2_Ellipse2 {	@include elemTop(151);
}
#OverviewEx2_Ellipse2 {	@include elemLeft(145);
}
#OverviewEx2_Ellipse2 {	@include elemWidth(10);
}
#OverviewEx2_Ellipse2 {	@include elemHeight(10);
}
#OverviewEx2_Ellipse2 {	z-index: 20;
}
#OverviewEx2_Ellipse2 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx2_TextOutput1 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput1 {	@include elemTop(181);
}
#OverviewEx2_TextOutput1 {	@include elemLeft(115);
}
#OverviewEx2_TextOutput1 {	@include elemAutoWidth(70);
}
#OverviewEx2_TextOutput1 {	z-index: 21;
}
#OverviewEx2_TextOutput1 {	@include text-alignment-all('center');
}
#OverviewEx2_TextOutput2 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput2 {	@include elemTop(126);
}
#OverviewEx2_TextOutput2 {	@include elemLeft(95);
}
#OverviewEx2_TextOutput2 {	@include elemAutoWidth(30);
}
#OverviewEx2_TextOutput2 {	z-index: 22;
}
#OverviewEx2_TextOutput3 {	@include elemAutoWidth(100);
}
#OverviewEx2_TextOutput3 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput3 {	@include elemTop(201);
}
#OverviewEx2_TextOutput3 {	@include elemLeft(105);
}
#OverviewEx2_TextOutput3 {	z-index: 23;
}
#OverviewEx2_TextOutput3 {	@include text-alignment-all('center');
}
#OverviewEx2_Ellipse3 {	@include elemTop(275);
}
#OverviewEx2_Ellipse3 {	@include elemLeft(125);
}
#OverviewEx2_Ellipse3 {	@include elemWidth(50);
}
#OverviewEx2_Ellipse3 {	@include elemHeight(50);
}
#OverviewEx2_Ellipse3 {	z-index: 26;
}
#OverviewEx2_Ellipse3 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx2_Rectangle10 {	@include elemTop(275);
}
#OverviewEx2_Rectangle10 {	@include elemLeft(155);
}
#OverviewEx2_Rectangle10 {	@include elemWidth(30);
}
#OverviewEx2_Rectangle10 {	@include elemHeight(12);
}
#OverviewEx2_Rectangle10 {	z-index: 24;
}
#OverviewEx2_Rectangle10 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx2_Rectangle11 {	@include elemTop(315);
}
#OverviewEx2_Rectangle11 {	@include elemLeft(115);
}
#OverviewEx2_Rectangle11 {	@include elemWidth(30);
}
#OverviewEx2_Rectangle11 {	@include elemHeight(10);
}
#OverviewEx2_Rectangle11 {	z-index: 25;
}
#OverviewEx2_Rectangle11 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx2_Ellipse4 {	@include elemTop(295);
}
#OverviewEx2_Ellipse4 {	@include elemLeft(145);
}
#OverviewEx2_Ellipse4 {	@include elemWidth(10);
}
#OverviewEx2_Ellipse4 {	@include elemHeight(10);
}
#OverviewEx2_Ellipse4 {	z-index: 27;
}
#OverviewEx2_Ellipse4 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx2_TextOutput4 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput4 {	@include elemTop(325);
}
#OverviewEx2_TextOutput4 {	@include elemLeft(115);
}
#OverviewEx2_TextOutput4 {	@include elemAutoWidth(70);
}
#OverviewEx2_TextOutput4 {	z-index: 28;
}
#OverviewEx2_TextOutput4 {	@include text-alignment-all('center');
}
#OverviewEx2_TextOutput12 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput12 {	@include elemTop(270);
}
#OverviewEx2_TextOutput12 {	@include elemLeft(95);
}
#OverviewEx2_TextOutput12 {	@include elemAutoWidth(30);
}
#OverviewEx2_TextOutput12 {	z-index: 29;
}
#OverviewEx2_TextOutput14 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput14 {	@include elemTop(454);
}
#OverviewEx2_TextOutput14 {	@include elemLeft(115);
}
#OverviewEx2_TextOutput14 {	@include elemAutoWidth(70);
}
#OverviewEx2_TextOutput14 {	z-index: 30;
}
#OverviewEx2_TextOutput14 {	@include text-alignment-all('center');
}
#OverviewEx2_TextOutput15 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput15 {	@include elemTop(399);
}
#OverviewEx2_TextOutput15 {	@include elemLeft(95);
}
#OverviewEx2_TextOutput15 {	@include elemAutoWidth(30);
}
#OverviewEx2_TextOutput15 {	z-index: 31;
}
#OverviewEx2_TextOutput13 {	@include elemAutoWidth(100);
}
#OverviewEx2_TextOutput13 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput13 {	@include elemTop(345);
}
#OverviewEx2_TextOutput13 {	@include elemLeft(105);
}
#OverviewEx2_TextOutput13 {	z-index: 32;
}
#OverviewEx2_TextOutput13 {	@include text-alignment-all('center');
}
#OverviewEx2_TextOutput16 {	@include elemAutoWidth(100);
}
#OverviewEx2_TextOutput16 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput16 {	@include elemTop(474);
}
#OverviewEx2_TextOutput16 {	@include elemLeft(100);
}
#OverviewEx2_TextOutput16 {	z-index: 33;
}
#OverviewEx2_TextOutput16 {	@include text-alignment-all('center');
}
#OverviewEx2_Ellipse7 {	@include elemTop(520);
}
#OverviewEx2_Ellipse7 {	@include elemLeft(125);
}
#OverviewEx2_Ellipse7 {	@include elemWidth(50);
}
#OverviewEx2_Ellipse7 {	@include elemHeight(50);
}
#OverviewEx2_Ellipse7 {	z-index: 36;
}
#OverviewEx2_Ellipse7 {	background-color: rgba(128, 128, 128, 1);
}
#OverviewEx2_Rectangle14 {	@include elemTop(520);
}
#OverviewEx2_Rectangle14 {	@include elemLeft(155);
}
#OverviewEx2_Rectangle14 {	@include elemWidth(30);
}
#OverviewEx2_Rectangle14 {	@include elemHeight(12);
}
#OverviewEx2_Rectangle14 {	z-index: 34;
}
#OverviewEx2_Rectangle14 {	background-color: rgba(128, 128, 128, 1);
}
#OverviewEx2_Rectangle15 {	@include elemTop(560);
}
#OverviewEx2_Rectangle15 {	@include elemLeft(115);
}
#OverviewEx2_Rectangle15 {	@include elemWidth(30);
}
#OverviewEx2_Rectangle15 {	@include elemHeight(10);
}
#OverviewEx2_Rectangle15 {	z-index: 35;
}
#OverviewEx2_Rectangle15 {	background-color: rgba(128, 128, 128, 1);
}
#OverviewEx2_Ellipse8 {	@include elemTop(540);
}
#OverviewEx2_Ellipse8 {	@include elemLeft(145);
}
#OverviewEx2_Ellipse8 {	@include elemWidth(10);
}
#OverviewEx2_Ellipse8 {	@include elemHeight(10);
}
#OverviewEx2_Ellipse8 {	z-index: 37;
}
#OverviewEx2_Ellipse8 {	background-color: rgba(128, 128, 128, 1);
}
#OverviewEx2_TextOutput17 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput17 {	@include elemTop(570);
}
#OverviewEx2_TextOutput17 {	@include elemLeft(115);
}
#OverviewEx2_TextOutput17 {	@include elemAutoWidth(70);
}
#OverviewEx2_TextOutput17 {	z-index: 38;
}
#OverviewEx2_TextOutput17 {	@include text-alignment-all('center');
}
#OverviewEx2_TextOutput18 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput18 {	@include elemTop(515);
}
#OverviewEx2_TextOutput18 {	@include elemLeft(95);
}
#OverviewEx2_TextOutput18 {	@include elemAutoWidth(30);
}
#OverviewEx2_TextOutput18 {	z-index: 39;
}
#OverviewEx2_TextOutput19 {	@include elemAutoWidth(100);
}
#OverviewEx2_TextOutput19 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput19 {	@include elemTop(590);
}
#OverviewEx2_TextOutput19 {	@include elemLeft(100);
}
#OverviewEx2_TextOutput19 {	z-index: 40;
}
#OverviewEx2_TextOutput19 {	@include text-alignment-all('center');
}
#OverviewEx2_Ellipse9 {	@include elemTop(404);
}
#OverviewEx2_Ellipse9 {	@include elemLeft(125);
}
#OverviewEx2_Ellipse9 {	@include elemWidth(50);
}
#OverviewEx2_Ellipse9 {	@include elemHeight(50);
}
#OverviewEx2_Ellipse9 {	z-index: 43;
}
#OverviewEx2_Ellipse9 {	background-color: rgba(128, 128, 128, 1);
}
#OverviewEx2_Rectangle16 {	@include elemTop(404);
}
#OverviewEx2_Rectangle16 {	@include elemLeft(155);
}
#OverviewEx2_Rectangle16 {	@include elemWidth(30);
}
#OverviewEx2_Rectangle16 {	@include elemHeight(12);
}
#OverviewEx2_Rectangle16 {	z-index: 41;
}
#OverviewEx2_Rectangle16 {	background-color: rgba(128, 128, 128, 1);
}
#OverviewEx2_Rectangle17 {	@include elemTop(444);
}
#OverviewEx2_Rectangle17 {	@include elemLeft(115);
}
#OverviewEx2_Rectangle17 {	@include elemWidth(30);
}
#OverviewEx2_Rectangle17 {	@include elemHeight(10);
}
#OverviewEx2_Rectangle17 {	z-index: 42;
}
#OverviewEx2_Rectangle17 {	background-color: rgba(128, 128, 128, 1);
}
#OverviewEx2_Ellipse10 {	@include elemTop(424);
}
#OverviewEx2_Ellipse10 {	@include elemLeft(145);
}
#OverviewEx2_Ellipse10 {	@include elemWidth(10);
}
#OverviewEx2_Ellipse10 {	@include elemHeight(10);
}
#OverviewEx2_Ellipse10 {	z-index: 44;
}
#OverviewEx2_Ellipse10 {	background-color: rgba(128, 128, 128, 1);
}
#OverviewEx2_Ellipse5 {	@include elemTop(110);
}
#OverviewEx2_Ellipse5 {	@include elemLeft(975);
}
#OverviewEx2_Ellipse5 {	@include elemWidth(50);
}
#OverviewEx2_Ellipse5 {	@include elemHeight(50);
}
#OverviewEx2_Ellipse5 {	z-index: 47;
}
#OverviewEx2_Ellipse5 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx2_Rectangle12 {	@include elemTop(110);
}
#OverviewEx2_Rectangle12 {	@include elemLeft(1005);
}
#OverviewEx2_Rectangle12 {	@include elemWidth(30);
}
#OverviewEx2_Rectangle12 {	@include elemHeight(12);
}
#OverviewEx2_Rectangle12 {	z-index: 45;
}
#OverviewEx2_Rectangle12 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx2_Rectangle13 {	@include elemTop(150);
}
#OverviewEx2_Rectangle13 {	@include elemLeft(965);
}
#OverviewEx2_Rectangle13 {	@include elemWidth(30);
}
#OverviewEx2_Rectangle13 {	@include elemHeight(10);
}
#OverviewEx2_Rectangle13 {	z-index: 46;
}
#OverviewEx2_Rectangle13 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx2_Ellipse6 {	@include elemTop(130);
}
#OverviewEx2_Ellipse6 {	@include elemLeft(995);
}
#OverviewEx2_Ellipse6 {	@include elemWidth(10);
}
#OverviewEx2_Ellipse6 {	@include elemHeight(10);
}
#OverviewEx2_Ellipse6 {	z-index: 48;
}
#OverviewEx2_Ellipse6 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx2_TextOutput20 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput20 {	@include elemTop(160);
}
#OverviewEx2_TextOutput20 {	@include elemLeft(965);
}
#OverviewEx2_TextOutput20 {	@include elemAutoWidth(70);
}
#OverviewEx2_TextOutput20 {	z-index: 49;
}
#OverviewEx2_TextOutput20 {	@include text-alignment-all('center');
}
#OverviewEx2_TextOutput21 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput21 {	@include elemTop(105);
}
#OverviewEx2_TextOutput21 {	@include elemLeft(945);
}
#OverviewEx2_TextOutput21 {	@include elemAutoWidth(30);
}
#OverviewEx2_TextOutput21 {	z-index: 50;
}
#OverviewEx2_TextOutput22 {	@include elemAutoWidth(100);
}
#OverviewEx2_TextOutput22 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput22 {	@include elemTop(180);
}
#OverviewEx2_TextOutput22 {	@include elemLeft(950);
}
#OverviewEx2_TextOutput22 {	z-index: 51;
}
#OverviewEx2_TextOutput22 {	@include text-alignment-all('center');
}
#OverviewEx2_TextOutput24 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput24 {	@include elemTop(205);
}
#OverviewEx2_TextOutput24 {	@include elemLeft(930);
}
#OverviewEx2_TextOutput24 {	@include elemAutoWidth(130);
}
#OverviewEx2_TextOutput24 {	z-index: 52;
}
#OverviewEx2_TextOutput24 {	@include text-alignment-all('left');
}
#OverviewEx2_TextOutput24 {	font-size: 12px;
}
#OverviewEx2_TextOutput25 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput25 {	@include elemTop(225);
}
#OverviewEx2_TextOutput25 {	@include elemLeft(930);
}
#OverviewEx2_TextOutput25 {	@include elemAutoWidth(130);
}
#OverviewEx2_TextOutput25 {	z-index: 53;
}
#OverviewEx2_TextOutput25 {	@include text-alignment-all('left');
}
#OverviewEx2_TextOutput25 {	font-size: 12px;
}
#OverviewEx2_TextOutput30 {	@include elemAutoWidth(100);
}
#OverviewEx2_TextOutput30 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput30 {	@include elemTop(205);
}
#OverviewEx2_TextOutput30 {	@include elemLeft(995);
}
#OverviewEx2_TextOutput30 {	z-index: 54;
}
#OverviewEx2_TextOutput30 {	@include text-alignment-all('center');
}
#OverviewEx2_TextOutput31 {	@include elemAutoWidth(100);
}
#OverviewEx2_TextOutput31 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput31 {	@include elemTop(225);
}
#OverviewEx2_TextOutput31 {	@include elemLeft(995);
}
#OverviewEx2_TextOutput31 {	z-index: 55;
}
#OverviewEx2_TextOutput31 {	@include text-alignment-all('center');
}
#OverviewEx2_TextOutput33 {	@include elemAutoWidth(100);
}
#OverviewEx2_TextOutput33 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput33 {	@include elemTop(245);
}
#OverviewEx2_TextOutput33 {	@include elemLeft(990);
}
#OverviewEx2_TextOutput33 {	z-index: 56;
}
#OverviewEx2_TextOutput33 {	@include text-alignment-all('center');
}
#OverviewEx2_TextOutput35 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput35 {	@include elemTop(410);
}
#OverviewEx2_TextOutput35 {	@include elemLeft(920);
}
#OverviewEx2_TextOutput35 {	@include elemAutoWidth(130);
}
#OverviewEx2_TextOutput35 {	z-index: 57;
}
#OverviewEx2_TextOutput35 {	@include text-alignment-all('left');
}
#OverviewEx2_TextOutput35 {	font-size: 12px;
}
#OverviewEx2_TextOutput36 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput36 {	@include elemTop(430);
}
#OverviewEx2_TextOutput36 {	@include elemLeft(920);
}
#OverviewEx2_TextOutput36 {	@include elemAutoWidth(130);
}
#OverviewEx2_TextOutput36 {	z-index: 58;
}
#OverviewEx2_TextOutput36 {	@include text-alignment-all('left');
}
#OverviewEx2_TextOutput36 {	font-size: 12px;
}
#OverviewEx2_Line33 {	z-index: 60;
}
#OverviewEx2_Line34 {	z-index: 59;
}
#OverviewEx2_TextOutput41 {	@include elemAutoWidth(100);
}
#OverviewEx2_TextOutput41 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput41 {	@include elemTop(410);
}
#OverviewEx2_TextOutput41 {	@include elemLeft(985);
}
#OverviewEx2_TextOutput41 {	z-index: 61;
}
#OverviewEx2_TextOutput41 {	@include text-alignment-all('center');
}
#OverviewEx2_TextOutput42 {	@include elemAutoWidth(100);
}
#OverviewEx2_TextOutput42 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput42 {	@include elemTop(430);
}
#OverviewEx2_TextOutput42 {	@include elemLeft(985);
}
#OverviewEx2_TextOutput42 {	z-index: 62;
}
#OverviewEx2_TextOutput42 {	@include text-alignment-all('center');
}
#OverviewEx2_TextOutput46 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput46 {	@include elemTop(620);
}
#OverviewEx2_TextOutput46 {	@include elemLeft(930);
}
#OverviewEx2_TextOutput46 {	@include elemAutoWidth(130);
}
#OverviewEx2_TextOutput46 {	z-index: 63;
}
#OverviewEx2_TextOutput46 {	@include text-alignment-all('left');
}
#OverviewEx2_TextOutput46 {	font-size: 12px;
}
#OverviewEx2_TextOutput47 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput47 {	@include elemTop(640);
}
#OverviewEx2_TextOutput47 {	@include elemLeft(930);
}
#OverviewEx2_TextOutput47 {	@include elemAutoWidth(130);
}
#OverviewEx2_TextOutput47 {	z-index: 64;
}
#OverviewEx2_TextOutput47 {	@include text-alignment-all('left');
}
#OverviewEx2_TextOutput47 {	font-size: 12px;
}
#OverviewEx2_TextOutput52 {	@include elemAutoWidth(100);
}
#OverviewEx2_TextOutput52 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput52 {	@include elemTop(620);
}
#OverviewEx2_TextOutput52 {	@include elemLeft(995);
}
#OverviewEx2_TextOutput52 {	z-index: 65;
}
#OverviewEx2_TextOutput52 {	@include text-alignment-all('center');
}
#OverviewEx2_TextOutput53 {	@include elemAutoWidth(100);
}
#OverviewEx2_TextOutput53 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput53 {	@include elemTop(640);
}
#OverviewEx2_TextOutput53 {	@include elemLeft(995);
}
#OverviewEx2_TextOutput53 {	z-index: 66;
}
#OverviewEx2_TextOutput53 {	@include text-alignment-all('center');
}
#OverviewEx2_Ellipse11 {	@include elemTop(320);
}
#OverviewEx2_Ellipse11 {	@include elemLeft(980);
}
#OverviewEx2_Ellipse11 {	@include elemWidth(50);
}
#OverviewEx2_Ellipse11 {	@include elemHeight(50);
}
#OverviewEx2_Ellipse11 {	z-index: 69;
}
#OverviewEx2_Ellipse11 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx2_Rectangle21 {	@include elemTop(320);
}
#OverviewEx2_Rectangle21 {	@include elemLeft(1010);
}
#OverviewEx2_Rectangle21 {	@include elemWidth(30);
}
#OverviewEx2_Rectangle21 {	@include elemHeight(12);
}
#OverviewEx2_Rectangle21 {	z-index: 67;
}
#OverviewEx2_Rectangle21 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx2_Rectangle22 {	@include elemTop(360);
}
#OverviewEx2_Rectangle22 {	@include elemLeft(970);
}
#OverviewEx2_Rectangle22 {	@include elemWidth(30);
}
#OverviewEx2_Rectangle22 {	@include elemHeight(10);
}
#OverviewEx2_Rectangle22 {	z-index: 68;
}
#OverviewEx2_Rectangle22 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx2_Ellipse12 {	@include elemTop(340);
}
#OverviewEx2_Ellipse12 {	@include elemLeft(1000);
}
#OverviewEx2_Ellipse12 {	@include elemWidth(10);
}
#OverviewEx2_Ellipse12 {	@include elemHeight(10);
}
#OverviewEx2_Ellipse12 {	z-index: 70;
}
#OverviewEx2_Ellipse12 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx2_TextOutput57 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput57 {	@include elemTop(310);
}
#OverviewEx2_TextOutput57 {	@include elemLeft(950);
}
#OverviewEx2_TextOutput57 {	@include elemAutoWidth(30);
}
#OverviewEx2_TextOutput57 {	z-index: 71;
}
#OverviewEx2_TextOutput56 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput56 {	@include elemTop(370);
}
#OverviewEx2_TextOutput56 {	@include elemLeft(965);
}
#OverviewEx2_TextOutput56 {	@include elemAutoWidth(70);
}
#OverviewEx2_TextOutput56 {	z-index: 72;
}
#OverviewEx2_TextOutput56 {	@include text-alignment-all('center');
}
#OverviewEx2_TextOutput58 {	@include elemAutoWidth(100);
}
#OverviewEx2_TextOutput58 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput58 {	@include elemTop(390);
}
#OverviewEx2_TextOutput58 {	@include elemLeft(955);
}
#OverviewEx2_TextOutput58 {	z-index: 73;
}
#OverviewEx2_TextOutput58 {	@include text-alignment-all('center');
}
#OverviewEx2_Ellipse13 {	@include elemTop(530);
}
#OverviewEx2_Ellipse13 {	@include elemLeft(980);
}
#OverviewEx2_Ellipse13 {	@include elemWidth(50);
}
#OverviewEx2_Ellipse13 {	@include elemHeight(50);
}
#OverviewEx2_Ellipse13 {	z-index: 76;
}
#OverviewEx2_Ellipse13 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx2_Rectangle23 {	@include elemTop(530);
}
#OverviewEx2_Rectangle23 {	@include elemLeft(1010);
}
#OverviewEx2_Rectangle23 {	@include elemWidth(30);
}
#OverviewEx2_Rectangle23 {	@include elemHeight(12);
}
#OverviewEx2_Rectangle23 {	z-index: 74;
}
#OverviewEx2_Rectangle23 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx2_Rectangle24 {	@include elemTop(570);
}
#OverviewEx2_Rectangle24 {	@include elemLeft(970);
}
#OverviewEx2_Rectangle24 {	@include elemWidth(30);
}
#OverviewEx2_Rectangle24 {	@include elemHeight(10);
}
#OverviewEx2_Rectangle24 {	z-index: 75;
}
#OverviewEx2_Rectangle24 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx2_Ellipse14 {	@include elemTop(550);
}
#OverviewEx2_Ellipse14 {	@include elemLeft(1000);
}
#OverviewEx2_Ellipse14 {	@include elemWidth(10);
}
#OverviewEx2_Ellipse14 {	@include elemHeight(10);
}
#OverviewEx2_Ellipse14 {	z-index: 77;
}
#OverviewEx2_Ellipse14 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx2_TextOutput59 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput59 {	@include elemTop(525);
}
#OverviewEx2_TextOutput59 {	@include elemLeft(950);
}
#OverviewEx2_TextOutput59 {	@include elemAutoWidth(30);
}
#OverviewEx2_TextOutput59 {	z-index: 78;
}
#OverviewEx2_TextOutput60 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput60 {	@include elemTop(580);
}
#OverviewEx2_TextOutput60 {	@include elemLeft(975);
}
#OverviewEx2_TextOutput60 {	@include elemAutoWidth(70);
}
#OverviewEx2_TextOutput60 {	z-index: 79;
}
#OverviewEx2_TextOutput60 {	@include text-alignment-all('center');
}
#OverviewEx2_TextOutput61 {	@include elemAutoWidth(100);
}
#OverviewEx2_TextOutput61 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput61 {	@include elemTop(600);
}
#OverviewEx2_TextOutput61 {	@include elemLeft(965);
}
#OverviewEx2_TextOutput61 {	z-index: 80;
}
#OverviewEx2_TextOutput61 {	@include text-alignment-all('center');
}
#OverviewEx2_ProgressBar7 {	@include elemTop(230);
}
#OverviewEx2_ProgressBar7 {	@include elemLeft(655);
}
#OverviewEx2_ProgressBar7 {	@include elemWidth(70);
}
#OverviewEx2_ProgressBar7 {	@include elemHeight(230);
}
#OverviewEx2_ProgressBar7 {	z-index: 84;
}
#OverviewEx2_ProgressBar7 {	.pb-bar-container {
		border-style: none;
	}
}
#OverviewEx2_ProgressBar7 {	.pb-bar-container {
		border-width: 1px;
	}
}
#OverviewEx2_ProgressBar7 {	.pb-bar-container {
		border-color: rgba(0, 0, 0, 1);
	}
}
#OverviewEx2_ProgressBar7 {	.pb-bar-container {
		@include border-radius(20px);
	}
}
#OverviewEx2_ProgressBar7 {	.pb-bar-container {
		background-color: rgba(255, 255, 255, 1);
	}
}
#OverviewEx2_ProgressBar7 {	.pb-bar-container {
		@include backGroundGradient('');
	}
}
#OverviewEx2_ProgressBar7 {	.pb-progress {
		background-color: rgba(0, 204, 204, 1);
	}
}
#OverviewEx2_ProgressBar7 {	.pb-progress {
		@include backGroundGradient('');
	}
}
#OverviewEx2_Rectangle25 {	@include elemTop(225);
}
#OverviewEx2_Rectangle25 {	@include elemLeft(645);
}
#OverviewEx2_Rectangle25 {	@include elemWidth(90);
}
#OverviewEx2_Rectangle25 {	@include elemHeight(240);
}
#OverviewEx2_Rectangle25 {	z-index: 83;
}
#OverviewEx2_Rectangle25 {	background-color: rgba(128, 128, 128, 1);
}
#OverviewEx2_Ellipse15 {	@include elemTop(435);
}
#OverviewEx2_Ellipse15 {	@include elemLeft(645);
}
#OverviewEx2_Ellipse15 {	@include elemWidth(90);
}
#OverviewEx2_Ellipse15 {	@include elemHeight(50);
}
#OverviewEx2_Ellipse15 {	z-index: 81;
}
#OverviewEx2_Ellipse15 {	background-color: rgba(128, 128, 128, 1);
}
#OverviewEx2_Ellipse16 {	@include elemTop(205);
}
#OverviewEx2_Ellipse16 {	@include elemLeft(645);
}
#OverviewEx2_Ellipse16 {	@include elemWidth(90);
}
#OverviewEx2_Ellipse16 {	@include elemHeight(50);
}
#OverviewEx2_Ellipse16 {	z-index: 82;
}
#OverviewEx2_Ellipse16 {	background-color: rgba(128, 128, 128, 1);
}
#OverviewEx2_Line39 {	z-index: 88;
}
#OverviewEx2_TextOutput62 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput62 {	@include elemTop(415);
}
#OverviewEx2_TextOutput62 {	@include elemLeft(725);
}
#OverviewEx2_TextOutput62 {	@include elemAutoWidth(50);
}
#OverviewEx2_TextOutput62 {	z-index: 85;
}
#OverviewEx2_TextOutput62 {	font-size: 12px;
}
#OverviewEx2_TextOutput63 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput63 {	@include elemTop(335);
}
#OverviewEx2_TextOutput63 {	@include elemLeft(725);
}
#OverviewEx2_TextOutput63 {	@include elemAutoWidth(50);
}
#OverviewEx2_TextOutput63 {	z-index: 86;
}
#OverviewEx2_TextOutput63 {	font-size: 12px;
}
#OverviewEx2_TextOutput64 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput64 {	@include elemTop(255);
}
#OverviewEx2_TextOutput64 {	@include elemLeft(725);
}
#OverviewEx2_TextOutput64 {	@include elemAutoWidth(50);
}
#OverviewEx2_TextOutput64 {	z-index: 87;
}
#OverviewEx2_TextOutput64 {	font-size: 12px;
}
#OverviewEx2_Line40 {	z-index: 89;
}
#OverviewEx2_Line41 {	z-index: 90;
}
#OverviewEx2_Rectangle27 {	@include elemTop(215);
}
#OverviewEx2_Rectangle27 {	@include elemLeft(360);
}
#OverviewEx2_Rectangle27 {	@include elemWidth(150);
}
#OverviewEx2_Rectangle27 {	@include elemHeight(105);
}
#OverviewEx2_Rectangle27 {	z-index: 91;
}
#OverviewEx2_Rectangle27 {	background-color: rgba(192, 192, 192, 1);
}
#OverviewEx2_Rectangle28 {	@include elemTop(250);
}
#OverviewEx2_Rectangle28 {	@include elemLeft(360);
}
#OverviewEx2_Rectangle28 {	@include elemWidth(150);
}
#OverviewEx2_Rectangle28 {	@include elemHeight(35);
}
#OverviewEx2_Rectangle28 {	z-index: 92;
}
#OverviewEx2_NumericOutput2 {	@include elemAutoHeight(30);
}
#OverviewEx2_NumericOutput2 {	@include elemTop(250);
}
#OverviewEx2_NumericOutput2 {	@include elemLeft(370);
}
#OverviewEx2_NumericOutput2 {	@include elemAutoWidth(95);
}
#OverviewEx2_NumericOutput2 {	z-index: 93;
}
#OverviewEx2_NumericOutput2 {	input {
		@include text-alignment(right);
	}
}
#OverviewEx2_TextOutput65 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput65 {	@include elemTop(250);
}
#OverviewEx2_TextOutput65 {	@include elemLeft(440);
}
#OverviewEx2_TextOutput65 {	@include elemAutoWidth(70);
}
#OverviewEx2_TextOutput65 {	z-index: 94;
}
#OverviewEx2_TextOutput65 {	font-size: 12px;
}
#OverviewEx2_TextOutput66 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput66 {	@include elemTop(220);
}
#OverviewEx2_TextOutput66 {	@include elemLeft(370);
}
#OverviewEx2_TextOutput66 {	@include elemAutoWidth(135);
}
#OverviewEx2_TextOutput66 {	z-index: 95;
}
#OverviewEx2_TextOutput67 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput67 {	@include elemTop(290);
}
#OverviewEx2_TextOutput67 {	@include elemLeft(400);
}
#OverviewEx2_TextOutput67 {	@include elemAutoWidth(70);
}
#OverviewEx2_TextOutput67 {	z-index: 96;
}
#OverviewEx2_TextOutput71 {	@include elemTop(20);
}
#OverviewEx2_TextOutput71 {	@include elemLeft(1170);
}
#OverviewEx2_TextOutput71 {	@include elemAutoWidth(145);
}
#OverviewEx2_TextOutput71 {	@include elemAutoHeight(45);
}
#OverviewEx2_TextOutput71 {	z-index: 97;
}
#OverviewEx2_TextOutput71 {	border-width: 2px;
}
#OverviewEx2_TextOutput71 {	background-color: rgba(0, 255, 0, 1);
}
#OverviewEx2_TextOutput71 {	border-color: rgba(71, 71, 71, 1);
}
#OverviewEx2_TextOutput71 {	&:before {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx2_TextOutput71 {	&:after {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx2_TextOutput71 {	border-style: solid;
}
#OverviewEx2_TextOutput71 {	&:before {
		border-style: solid;
	}
}
#OverviewEx2_TextOutput71 {	&:after {
		border-style: solid;
	}
}
#OverviewEx2_TextOutput71 {	@include text-alignment-all('center');
}
#OverviewEx2_TextOutput73 {	@include elemTop(20);
}
#OverviewEx2_TextOutput73 {	@include elemLeft(1330);
}
#OverviewEx2_TextOutput73 {	@include elemAutoWidth(110);
}
#OverviewEx2_TextOutput73 {	@include elemAutoHeight(45);
}
#OverviewEx2_TextOutput73 {	z-index: 98;
}
#OverviewEx2_TextOutput73 {	border-width: 2px;
}
#OverviewEx2_TextOutput73 {	background-color: rgba(255, 0, 0, 1);
}
#OverviewEx2_TextOutput73 {	border-color: rgba(71, 71, 71, 1);
}
#OverviewEx2_TextOutput73 {	&:before {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx2_TextOutput73 {	&:after {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx2_TextOutput73 {	border-style: solid;
}
#OverviewEx2_TextOutput73 {	&:before {
		border-style: solid;
	}
}
#OverviewEx2_TextOutput73 {	&:after {
		border-style: solid;
	}
}
#OverviewEx2_TextOutput73 {	@include text-alignment-all('center');
}
#OverviewEx2_TextOutput26 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput26 {	@include elemTop(245);
}
#OverviewEx2_TextOutput26 {	@include elemLeft(930);
}
#OverviewEx2_TextOutput26 {	@include elemAutoWidth(130);
}
#OverviewEx2_TextOutput26 {	z-index: 99;
}
#OverviewEx2_TextOutput26 {	@include text-alignment-all('left');
}
#OverviewEx2_TextOutput26 {	font-size: 12px;
}
#OverviewEx2_TextOutput34 {	@include elemAutoWidth(100);
}
#OverviewEx2_TextOutput34 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput34 {	@include elemTop(450);
}
#OverviewEx2_TextOutput34 {	@include elemLeft(980);
}
#OverviewEx2_TextOutput34 {	z-index: 100;
}
#OverviewEx2_TextOutput34 {	@include text-alignment-all('center');
}
#OverviewEx2_TextOutput27 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput27 {	@include elemTop(449);
}
#OverviewEx2_TextOutput27 {	@include elemLeft(919);
}
#OverviewEx2_TextOutput27 {	@include elemAutoWidth(131);
}
#OverviewEx2_TextOutput27 {	z-index: 101;
}
#OverviewEx2_TextOutput27 {	@include text-alignment-all('left');
}
#OverviewEx2_TextOutput27 {	font-size: 12px;
}
#OverviewEx2_TextOutput37 {	@include elemAutoWidth(100);
}
#OverviewEx2_TextOutput37 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput37 {	@include elemTop(660);
}
#OverviewEx2_TextOutput37 {	@include elemLeft(990);
}
#OverviewEx2_TextOutput37 {	z-index: 102;
}
#OverviewEx2_TextOutput37 {	@include text-alignment-all('center');
}
#OverviewEx2_TextOutput28 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput28 {	@include elemTop(659);
}
#OverviewEx2_TextOutput28 {	@include elemLeft(929);
}
#OverviewEx2_TextOutput28 {	@include elemAutoWidth(131);
}
#OverviewEx2_TextOutput28 {	z-index: 103;
}
#OverviewEx2_TextOutput28 {	@include text-alignment-all('left');
}
#OverviewEx2_TextOutput28 {	font-size: 12px;
}
#OverviewEx2_Rectangle31 {	@include elemTop(360);
}
#OverviewEx2_Rectangle31 {	@include elemLeft(360);
}
#OverviewEx2_Rectangle31 {	@include elemWidth(150);
}
#OverviewEx2_Rectangle31 {	@include elemHeight(105);
}
#OverviewEx2_Rectangle31 {	z-index: 104;
}
#OverviewEx2_Rectangle31 {	background-color: rgba(192, 192, 192, 1);
}
#OverviewEx2_Rectangle32 {	@include elemTop(395);
}
#OverviewEx2_Rectangle32 {	@include elemLeft(360);
}
#OverviewEx2_Rectangle32 {	@include elemWidth(150);
}
#OverviewEx2_Rectangle32 {	@include elemHeight(35);
}
#OverviewEx2_Rectangle32 {	z-index: 105;
}
#OverviewEx2_NumericOutput4 {	@include elemAutoHeight(30);
}
#OverviewEx2_NumericOutput4 {	@include elemTop(395);
}
#OverviewEx2_NumericOutput4 {	@include elemLeft(370);
}
#OverviewEx2_NumericOutput4 {	@include elemAutoWidth(95);
}
#OverviewEx2_NumericOutput4 {	z-index: 106;
}
#OverviewEx2_NumericOutput4 {	input {
		@include text-alignment(right);
	}
}
#OverviewEx2_TextOutput72 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput72 {	@include elemTop(395);
}
#OverviewEx2_TextOutput72 {	@include elemLeft(440);
}
#OverviewEx2_TextOutput72 {	@include elemAutoWidth(70);
}
#OverviewEx2_TextOutput72 {	z-index: 107;
}
#OverviewEx2_TextOutput72 {	font-size: 12px;
}
#OverviewEx2_TextOutput74 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput74 {	@include elemTop(365);
}
#OverviewEx2_TextOutput74 {	@include elemLeft(370);
}
#OverviewEx2_TextOutput74 {	@include elemAutoWidth(135);
}
#OverviewEx2_TextOutput74 {	z-index: 108;
}
#OverviewEx2_TextOutput75 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput75 {	@include elemTop(435);
}
#OverviewEx2_TextOutput75 {	@include elemLeft(400);
}
#OverviewEx2_TextOutput75 {	@include elemAutoWidth(70);
}
#OverviewEx2_TextOutput75 {	z-index: 109;
}
#OverviewEx2_AlarmList1 {	@include elemTop(650);
}
#OverviewEx2_AlarmList1 {	@include elemLeft(5);
}
#OverviewEx2_AlarmList1 {	@include elemWidth(525);
}
#OverviewEx2_AlarmList1 {	@include elemHeight(165);
}
#OverviewEx2_AlarmList1 {	z-index: 110;
}
#OverviewEx2_TextOutput68 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput68 {	@include elemTop(120);
}
#OverviewEx2_TextOutput68 {	@include elemLeft(220);
}
#OverviewEx2_TextOutput68 {	@include elemAutoWidth(85);
}
#OverviewEx2_TextOutput68 {	z-index: 111;
}
#OverviewEx2_TextOutput68 {	border-width: 1px;
}
#OverviewEx2_TextOutput68 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx2_TextOutput68 {	border-color: rgba(71, 71, 71, 1);
}
#OverviewEx2_TextOutput68 {	&:before {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx2_TextOutput68 {	&:after {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx2_TextOutput68 {	border-style: solid;
}
#OverviewEx2_TextOutput68 {	&:before {
		border-style: solid;
	}
}
#OverviewEx2_TextOutput68 {	&:after {
		border-style: solid;
	}
}
#OverviewEx2_TextOutput69 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput69 {	@include elemTop(510);
}
#OverviewEx2_TextOutput69 {	@include elemLeft(220);
}
#OverviewEx2_TextOutput69 {	@include elemAutoWidth(85);
}
#OverviewEx2_TextOutput69 {	z-index: 123;
}
#OverviewEx2_TextOutput69 {	border-width: 1px;
}
#OverviewEx2_TextOutput69 {	background-color: rgba(192, 192, 192, 1);
}
#OverviewEx2_TextOutput69 {	border-color: rgba(71, 71, 71, 1);
}
#OverviewEx2_TextOutput69 {	&:before {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx2_TextOutput69 {	&:after {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx2_TextOutput69 {	border-style: solid;
}
#OverviewEx2_TextOutput69 {	&:before {
		border-style: solid;
	}
}
#OverviewEx2_TextOutput69 {	&:after {
		border-style: solid;
	}
}
#OverviewEx2_Rectangle29 {	@include elemTop(265);
}
#OverviewEx2_Rectangle29 {	@include elemLeft(220);
}
#OverviewEx2_Rectangle29 {	@include elemWidth(85);
}
#OverviewEx2_Rectangle29 {	@include elemHeight(30);
}
#OverviewEx2_Rectangle29 {	z-index: 112;
}
#OverviewEx2_Rectangle29 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx2_Rectangle30 {	@include elemTop(395);
}
#OverviewEx2_Rectangle30 {	@include elemLeft(220);
}
#OverviewEx2_Rectangle30 {	@include elemWidth(85);
}
#OverviewEx2_Rectangle30 {	@include elemHeight(30);
}
#OverviewEx2_Rectangle30 {	z-index: 121;
}
#OverviewEx2_Rectangle30 {	background-color: rgba(192, 192, 192, 1);
}
#OverviewEx2_TextOutput70 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput70 {	@include elemTop(100);
}
#OverviewEx2_TextOutput70 {	@include elemLeft(1070);
}
#OverviewEx2_TextOutput70 {	@include elemAutoWidth(85);
}
#OverviewEx2_TextOutput70 {	z-index: 113;
}
#OverviewEx2_TextOutput70 {	border-width: 1px;
}
#OverviewEx2_TextOutput70 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx2_TextOutput70 {	border-color: rgba(71, 71, 71, 1);
}
#OverviewEx2_TextOutput70 {	&:before {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx2_TextOutput70 {	&:after {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx2_TextOutput70 {	border-style: solid;
}
#OverviewEx2_TextOutput70 {	&:before {
		border-style: solid;
	}
}
#OverviewEx2_TextOutput70 {	&:after {
		border-style: solid;
	}
}
#OverviewEx2_TextOutput76 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput76 {	@include elemTop(310);
}
#OverviewEx2_TextOutput76 {	@include elemLeft(1065);
}
#OverviewEx2_TextOutput76 {	@include elemAutoWidth(85);
}
#OverviewEx2_TextOutput76 {	z-index: 114;
}
#OverviewEx2_TextOutput76 {	border-width: 1px;
}
#OverviewEx2_TextOutput76 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx2_TextOutput76 {	border-color: rgba(71, 71, 71, 1);
}
#OverviewEx2_TextOutput76 {	&:before {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx2_TextOutput76 {	&:after {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx2_TextOutput76 {	border-style: solid;
}
#OverviewEx2_TextOutput76 {	&:before {
		border-style: solid;
	}
}
#OverviewEx2_TextOutput76 {	&:after {
		border-style: solid;
	}
}
#OverviewEx2_TextOutput77 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput77 {	@include elemTop(520);
}
#OverviewEx2_TextOutput77 {	@include elemLeft(1065);
}
#OverviewEx2_TextOutput77 {	@include elemAutoWidth(85);
}
#OverviewEx2_TextOutput77 {	z-index: 115;
}
#OverviewEx2_TextOutput77 {	border-width: 1px;
}
#OverviewEx2_TextOutput77 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx2_TextOutput77 {	border-color: rgba(71, 71, 71, 1);
}
#OverviewEx2_TextOutput77 {	&:before {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx2_TextOutput77 {	&:after {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx2_TextOutput77 {	border-style: solid;
}
#OverviewEx2_TextOutput77 {	&:before {
		border-style: solid;
	}
}
#OverviewEx2_TextOutput77 {	&:after {
		border-style: solid;
	}
}
#OverviewEx2_Line1 {	z-index: 116;
}
#OverviewEx2_Line1 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx2_Line2 {	z-index: 117;
}
#OverviewEx2_Line2 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx2_Line3 {	z-index: 4;
}
#OverviewEx2_Line3 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx2_Line4 {	z-index: 118;
}
#OverviewEx2_Line4 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx2_Line5 {	z-index: 119;
}
#OverviewEx2_Line5 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx2_Line6 {	z-index: 120;
}
#OverviewEx2_Line6 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx2_Line7 {	z-index: 122;
}
#OverviewEx2_Line7 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx2_Line8 {	z-index: 124;
}
#OverviewEx2_Line8 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx2_Line9 {	z-index: 3;
}
#OverviewEx2_Line9 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx2_Line10 {	z-index: 125;
}
#OverviewEx2_Line10 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx2_Line11 {	z-index: 126;
}
#OverviewEx2_Line11 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx2_Line12 {	z-index: 127;
}
#OverviewEx2_Line12 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx2_Line13 {	z-index: 128;
}
#OverviewEx2_Line13 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx2_Line14 {	z-index: 129;
}
#OverviewEx2_Line14 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx2_Line15 {	z-index: 130;
}
#OverviewEx2_Line15 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx2_Line16 {	z-index: 131;
}
#OverviewEx2_Line16 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx2_TextOutput78 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput78 {	@include elemTop(100);
}
#OverviewEx2_TextOutput78 {	@include elemLeft(1225);
}
#OverviewEx2_TextOutput78 {	@include elemAutoWidth(85);
}
#OverviewEx2_TextOutput78 {	z-index: 132;
}
#OverviewEx2_TextOutput78 {	border-width: 1px;
}
#OverviewEx2_TextOutput78 {	background-color: rgba(192, 192, 192, 1);
}
#OverviewEx2_TextOutput78 {	border-color: rgba(71, 71, 71, 1);
}
#OverviewEx2_TextOutput78 {	&:before {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx2_TextOutput78 {	&:after {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx2_TextOutput78 {	border-style: solid;
}
#OverviewEx2_TextOutput78 {	&:before {
		border-style: solid;
	}
}
#OverviewEx2_TextOutput78 {	&:after {
		border-style: solid;
	}
}
#OverviewEx2_TextOutput79 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput79 {	@include elemTop(100);
}
#OverviewEx2_TextOutput79 {	@include elemLeft(1330);
}
#OverviewEx2_TextOutput79 {	@include elemAutoWidth(85);
}
#OverviewEx2_TextOutput79 {	z-index: 133;
}
#OverviewEx2_TextOutput79 {	border-width: 1px;
}
#OverviewEx2_TextOutput79 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx2_TextOutput79 {	border-color: rgba(72, 72, 72, 1);
}
#OverviewEx2_TextOutput79 {	&:before {
		border-color: rgba(72, 72, 72, 1);
	}
}
#OverviewEx2_TextOutput79 {	&:after {
		border-color: rgba(72, 72, 72, 1);
	}
}
#OverviewEx2_TextOutput79 {	border-style: solid;
}
#OverviewEx2_TextOutput79 {	&:before {
		border-style: solid;
	}
}
#OverviewEx2_TextOutput79 {	&:after {
		border-style: solid;
	}
}
#OverviewEx2_TextOutput80 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput80 {	@include elemTop(308);
}
#OverviewEx2_TextOutput80 {	@include elemLeft(1225);
}
#OverviewEx2_TextOutput80 {	@include elemAutoWidth(85);
}
#OverviewEx2_TextOutput80 {	z-index: 134;
}
#OverviewEx2_TextOutput80 {	border-width: 1px;
}
#OverviewEx2_TextOutput80 {	background-color: rgba(192, 192, 192, 1);
}
#OverviewEx2_TextOutput80 {	border-color: rgba(71, 71, 71, 1);
}
#OverviewEx2_TextOutput80 {	&:before {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx2_TextOutput80 {	&:after {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx2_TextOutput80 {	border-style: solid;
}
#OverviewEx2_TextOutput80 {	&:before {
		border-style: solid;
	}
}
#OverviewEx2_TextOutput80 {	&:after {
		border-style: solid;
	}
}
#OverviewEx2_TextOutput81 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput81 {	@include elemTop(308);
}
#OverviewEx2_TextOutput81 {	@include elemLeft(1330);
}
#OverviewEx2_TextOutput81 {	@include elemAutoWidth(85);
}
#OverviewEx2_TextOutput81 {	z-index: 135;
}
#OverviewEx2_TextOutput81 {	border-width: 1px;
}
#OverviewEx2_TextOutput81 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx2_TextOutput81 {	border-color: rgba(72, 72, 72, 1);
}
#OverviewEx2_TextOutput81 {	&:before {
		border-color: rgba(72, 72, 72, 1);
	}
}
#OverviewEx2_TextOutput81 {	&:after {
		border-color: rgba(72, 72, 72, 1);
	}
}
#OverviewEx2_TextOutput81 {	border-style: solid;
}
#OverviewEx2_TextOutput81 {	&:before {
		border-style: solid;
	}
}
#OverviewEx2_TextOutput81 {	&:after {
		border-style: solid;
	}
}
#OverviewEx2_TextOutput82 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput82 {	@include elemTop(520);
}
#OverviewEx2_TextOutput82 {	@include elemLeft(1225);
}
#OverviewEx2_TextOutput82 {	@include elemAutoWidth(85);
}
#OverviewEx2_TextOutput82 {	z-index: 136;
}
#OverviewEx2_TextOutput82 {	border-width: 1px;
}
#OverviewEx2_TextOutput82 {	background-color: rgba(192, 192, 192, 1);
}
#OverviewEx2_TextOutput82 {	border-color: rgba(71, 71, 71, 1);
}
#OverviewEx2_TextOutput82 {	&:before {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx2_TextOutput82 {	&:after {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx2_TextOutput82 {	border-style: solid;
}
#OverviewEx2_TextOutput82 {	&:before {
		border-style: solid;
	}
}
#OverviewEx2_TextOutput82 {	&:after {
		border-style: solid;
	}
}
#OverviewEx2_TextOutput83 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput83 {	@include elemTop(520);
}
#OverviewEx2_TextOutput83 {	@include elemLeft(1330);
}
#OverviewEx2_TextOutput83 {	@include elemAutoWidth(85);
}
#OverviewEx2_TextOutput83 {	z-index: 137;
}
#OverviewEx2_TextOutput83 {	border-width: 1px;
}
#OverviewEx2_TextOutput83 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx2_TextOutput83 {	border-color: rgba(72, 72, 72, 1);
}
#OverviewEx2_TextOutput83 {	&:before {
		border-color: rgba(72, 72, 72, 1);
	}
}
#OverviewEx2_TextOutput83 {	&:after {
		border-color: rgba(72, 72, 72, 1);
	}
}
#OverviewEx2_TextOutput83 {	border-style: solid;
}
#OverviewEx2_TextOutput83 {	&:before {
		border-style: solid;
	}
}
#OverviewEx2_TextOutput83 {	&:after {
		border-style: solid;
	}
}
#OverviewEx2_TextOutput84 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput84 {	@include elemTop(265);
}
#OverviewEx2_TextOutput84 {	@include elemLeft(220);
}
#OverviewEx2_TextOutput84 {	@include elemAutoWidth(85);
}
#OverviewEx2_TextOutput84 {	z-index: 138;
}
#OverviewEx2_TextOutput84 {	border-width: 1px;
}
#OverviewEx2_TextOutput84 {	background-color: rgba(255, 255, 255, 1);
}
#OverviewEx2_TextOutput84 {	border-color: rgba(71, 71, 71, 1);
}
#OverviewEx2_TextOutput84 {	&:before {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx2_TextOutput84 {	&:after {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx2_TextOutput84 {	border-style: solid;
}
#OverviewEx2_TextOutput84 {	&:before {
		border-style: solid;
	}
}
#OverviewEx2_TextOutput84 {	&:after {
		border-style: solid;
	}
}
#OverviewEx2_TextOutput85 {	@include elemAutoHeight(30);
}
#OverviewEx2_TextOutput85 {	@include elemTop(395);
}
#OverviewEx2_TextOutput85 {	@include elemLeft(220);
}
#OverviewEx2_TextOutput85 {	@include elemAutoWidth(85);
}
#OverviewEx2_TextOutput85 {	z-index: 139;
}
#OverviewEx2_TextOutput85 {	border-width: 1px;
}
#OverviewEx2_TextOutput85 {	background-color: rgba(192, 192, 192, 1);
}
#OverviewEx2_TextOutput85 {	border-color: rgba(71, 71, 71, 1);
}
#OverviewEx2_TextOutput85 {	&:before {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx2_TextOutput85 {	&:after {
		border-color: rgba(71, 71, 71, 1);
	}
}
#OverviewEx2_TextOutput85 {	border-style: solid;
}
#OverviewEx2_TextOutput85 {	&:before {
		border-style: solid;
	}
}
#OverviewEx2_TextOutput85 {	&:after {
		border-style: solid;
	}
}
#OverviewEx2_Line17 {	z-index: 2;
}
#OverviewEx2_Line17 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx2_Line18 {	z-index: 1;
}
#OverviewEx2_Line18 {	line {
		stroke-width: 2px;
	}
}
#OverviewEx2_Line19 {	z-index: 0;
}
#OverviewEx2_Line19 {	line {
		stroke-width: 2px;
	}
}
