@import "mixins.scss";
#PM_Settings_Content_NI_Write_EFF_1 {	@include elemAutoHeight(30);
}
#PM_Settings_Content_NI_Write_EFF_1 {	@include elemTop(140);
}
#PM_Settings_Content_NI_Write_EFF_1 {	@include elemLeft(290);
}
#PM_Settings_Content_NI_Write_EFF_1 {	@include elemAutoWidth(80);
}
#PM_Settings_Content_NI_Write_EFF_1 {	z-index: 32;
}
#PM_Settings_Content_PB_Write_EFF_1 {	@include elemAutoHeight(30);
}
#PM_Settings_Content_PB_Write_EFF_1 {	@include elemTop(140);
}
#PM_Settings_Content_PB_Write_EFF_1 {	@include elemLeft(390);
}
#PM_Settings_Content_PB_Write_EFF_1 {	@include elemAutoWidth(60);
}
#PM_Settings_Content_PB_Write_EFF_1 {	z-index: 33;
}
#PM_Settings_Content_EFF_1 {	@include elemAutoHeight(30);
}
#PM_Settings_Content_EFF_1 {	@include elemTop(140);
}
#PM_Settings_Content_EFF_1 {	@include elemLeft(135);
}
#PM_Settings_Content_EFF_1 {	@include elemAutoWidth(140);
}
#PM_Settings_Content_EFF_1 {	z-index: 34;
}
#PM_Settings_Content_TextOutput21 {	@include elemTop(125);
}
#PM_Settings_Content_TextOutput21 {	@include elemLeft(30);
}
#PM_Settings_Content_TextOutput21 {	@include elemAutoWidth(180);
}
#PM_Settings_Content_TextOutput21 {	@include elemAutoHeight(60);
}
#PM_Settings_Content_TextOutput21 {	z-index: 19;
}
#PM_Settings_Content_TextOutput21 {	@include text-alignment-all('center');
}
#PM_Settings_Content_TextOutput21 {	font-size: 16px;
}
#PM_Settings_Content_EFF_2 {	@include elemAutoHeight(30);
}
#PM_Settings_Content_EFF_2 {	@include elemTop(198);
}
#PM_Settings_Content_EFF_2 {	@include elemLeft(135);
}
#PM_Settings_Content_EFF_2 {	@include elemAutoWidth(140);
}
#PM_Settings_Content_EFF_2 {	z-index: 35;
}
#PM_Settings_Content_PushButton2 {	@include elemTop(580);
}
#PM_Settings_Content_PushButton2 {	@include elemLeft(160);
}
#PM_Settings_Content_PushButton2 {	@include elemAutoWidth(180);
}
#PM_Settings_Content_PushButton2 {	@include elemAutoHeight(59);
}
#PM_Settings_Content_PushButton2 {	z-index: 36;
}
#PM_Settings_Content_NI_Write_EFF_2 {	@include elemAutoHeight(30);
}
#PM_Settings_Content_NI_Write_EFF_2 {	@include elemTop(198);
}
#PM_Settings_Content_NI_Write_EFF_2 {	@include elemLeft(290);
}
#PM_Settings_Content_NI_Write_EFF_2 {	@include elemAutoWidth(80);
}
#PM_Settings_Content_NI_Write_EFF_2 {	z-index: 37;
}
#PM_Settings_Content_PB_Write_EFF_2 {	@include elemAutoHeight(30);
}
#PM_Settings_Content_PB_Write_EFF_2 {	@include elemTop(198);
}
#PM_Settings_Content_PB_Write_EFF_2 {	@include elemLeft(390);
}
#PM_Settings_Content_PB_Write_EFF_2 {	@include elemAutoWidth(60);
}
#PM_Settings_Content_PB_Write_EFF_2 {	z-index: 38;
}
#PM_Settings_Content_TextOutput22 {	@include elemTop(67);
}
#PM_Settings_Content_TextOutput22 {	@include elemLeft(50);
}
#PM_Settings_Content_TextOutput22 {	@include elemAutoWidth(140);
}
#PM_Settings_Content_TextOutput22 {	@include elemAutoHeight(60);
}
#PM_Settings_Content_TextOutput22 {	z-index: 12;
}
#PM_Settings_Content_TextOutput22 {	@include text-alignment-all('center');
}
#PM_Settings_Content_TextOutput22 {	font-size: 16px;
}
#PM_Settings_Content_TextOutput23 {	@include elemTop(183);
}
#PM_Settings_Content_TextOutput23 {	@include elemLeft(10);
}
#PM_Settings_Content_TextOutput23 {	@include elemAutoWidth(220);
}
#PM_Settings_Content_TextOutput23 {	@include elemAutoHeight(60);
}
#PM_Settings_Content_TextOutput23 {	z-index: 21;
}
#PM_Settings_Content_TextOutput23 {	@include text-alignment-all('center');
}
#PM_Settings_Content_TextOutput23 {	font-size: 16px;
}
#PM_Settings_Content_TextOutput24 {	@include elemTop(241);
}
#PM_Settings_Content_TextOutput24 {	@include elemLeft(10);
}
#PM_Settings_Content_TextOutput24 {	@include elemAutoWidth(220);
}
#PM_Settings_Content_TextOutput24 {	@include elemAutoHeight(60);
}
#PM_Settings_Content_TextOutput24 {	z-index: 23;
}
#PM_Settings_Content_TextOutput24 {	@include text-alignment-all('center');
}
#PM_Settings_Content_TextOutput24 {	font-size: 16px;
}
#PM_Settings_Content_TextOutput25 {	@include elemTop(299);
}
#PM_Settings_Content_TextOutput25 {	@include elemLeft(10);
}
#PM_Settings_Content_TextOutput25 {	@include elemAutoWidth(220);
}
#PM_Settings_Content_TextOutput25 {	@include elemAutoHeight(60);
}
#PM_Settings_Content_TextOutput25 {	z-index: 25;
}
#PM_Settings_Content_TextOutput25 {	@include text-alignment-all('center');
}
#PM_Settings_Content_TextOutput25 {	font-size: 16px;
}
#PM_Settings_Content_TextOutput26 {	@include elemTop(357);
}
#PM_Settings_Content_TextOutput26 {	@include elemLeft(10);
}
#PM_Settings_Content_TextOutput26 {	@include elemAutoWidth(220);
}
#PM_Settings_Content_TextOutput26 {	@include elemAutoHeight(60);
}
#PM_Settings_Content_TextOutput26 {	z-index: 27;
}
#PM_Settings_Content_TextOutput26 {	@include text-alignment-all('center');
}
#PM_Settings_Content_TextOutput26 {	font-size: 16px;
}
#PM_Settings_Content_PMAX_CONC {	@include elemAutoHeight(30);
}
#PM_Settings_Content_PMAX_CONC {	@include elemTop(82);
}
#PM_Settings_Content_PMAX_CONC {	@include elemLeft(135);
}
#PM_Settings_Content_PMAX_CONC {	@include elemAutoWidth(140);
}
#PM_Settings_Content_PMAX_CONC {	z-index: 11;
}
#PM_Settings_Content_NI_Write_PMAX_CONC {	@include elemAutoHeight(30);
}
#PM_Settings_Content_NI_Write_PMAX_CONC {	@include elemTop(82);
}
#PM_Settings_Content_NI_Write_PMAX_CONC {	@include elemLeft(290);
}
#PM_Settings_Content_NI_Write_PMAX_CONC {	@include elemAutoWidth(80);
}
#PM_Settings_Content_NI_Write_PMAX_CONC {	z-index: 10;
}
#PM_Settings_Content_PB_Write_PMAX_CONC {	@include elemAutoHeight(30);
}
#PM_Settings_Content_PB_Write_PMAX_CONC {	@include elemTop(82);
}
#PM_Settings_Content_PB_Write_PMAX_CONC {	@include elemLeft(390);
}
#PM_Settings_Content_PB_Write_PMAX_CONC {	@include elemAutoWidth(60);
}
#PM_Settings_Content_PB_Write_PMAX_CONC {	z-index: 9;
}
#PM_Settings_Content_NAOH_TO_H2O2 {	@include elemAutoHeight(30);
}
#PM_Settings_Content_NAOH_TO_H2O2 {	@include elemTop(256);
}
#PM_Settings_Content_NAOH_TO_H2O2 {	@include elemLeft(135);
}
#PM_Settings_Content_NAOH_TO_H2O2 {	@include elemAutoWidth(140);
}
#PM_Settings_Content_NAOH_TO_H2O2 {	z-index: 39;
}
#PM_Settings_Content_NI_Write_NAOH_TO_H2O2 {	@include elemAutoHeight(30);
}
#PM_Settings_Content_NI_Write_NAOH_TO_H2O2 {	@include elemTop(256);
}
#PM_Settings_Content_NI_Write_NAOH_TO_H2O2 {	@include elemLeft(290);
}
#PM_Settings_Content_NI_Write_NAOH_TO_H2O2 {	@include elemAutoWidth(80);
}
#PM_Settings_Content_NI_Write_NAOH_TO_H2O2 {	z-index: 40;
}
#PM_Settings_Content_PB_Write_NAOH_TO_H2O2 {	@include elemAutoHeight(30);
}
#PM_Settings_Content_PB_Write_NAOH_TO_H2O2 {	@include elemTop(256);
}
#PM_Settings_Content_PB_Write_NAOH_TO_H2O2 {	@include elemLeft(390);
}
#PM_Settings_Content_PB_Write_NAOH_TO_H2O2 {	@include elemAutoWidth(60);
}
#PM_Settings_Content_PB_Write_NAOH_TO_H2O2 {	z-index: 41;
}
#PM_Settings_Content_TRI_TO_H2O2 {	@include elemAutoHeight(30);
}
#PM_Settings_Content_TRI_TO_H2O2 {	@include elemTop(315);
}
#PM_Settings_Content_TRI_TO_H2O2 {	@include elemLeft(135);
}
#PM_Settings_Content_TRI_TO_H2O2 {	@include elemAutoWidth(140);
}
#PM_Settings_Content_TRI_TO_H2O2 {	z-index: 42;
}
#PM_Settings_Content_NI_Write_TRI_TO_H2O2 {	@include elemAutoHeight(30);
}
#PM_Settings_Content_NI_Write_TRI_TO_H2O2 {	@include elemTop(315);
}
#PM_Settings_Content_NI_Write_TRI_TO_H2O2 {	@include elemLeft(290);
}
#PM_Settings_Content_NI_Write_TRI_TO_H2O2 {	@include elemAutoWidth(80);
}
#PM_Settings_Content_NI_Write_TRI_TO_H2O2 {	z-index: 43;
}
#PM_Settings_Content_PB_Write_TRI_TO_H2O2 {	@include elemAutoHeight(30);
}
#PM_Settings_Content_PB_Write_TRI_TO_H2O2 {	@include elemTop(315);
}
#PM_Settings_Content_PB_Write_TRI_TO_H2O2 {	@include elemLeft(390);
}
#PM_Settings_Content_PB_Write_TRI_TO_H2O2 {	@include elemAutoWidth(60);
}
#PM_Settings_Content_PB_Write_TRI_TO_H2O2 {	z-index: 44;
}
#PM_Settings_Content_NAOH_TO_TRI {	@include elemAutoHeight(30);
}
#PM_Settings_Content_NAOH_TO_TRI {	@include elemTop(373);
}
#PM_Settings_Content_NAOH_TO_TRI {	@include elemLeft(135);
}
#PM_Settings_Content_NAOH_TO_TRI {	@include elemAutoWidth(140);
}
#PM_Settings_Content_NAOH_TO_TRI {	z-index: 45;
}
#PM_Settings_Content_Rectangle11 {	@include elemTop(67);
}
#PM_Settings_Content_Rectangle11 {	@include elemLeft(40);
}
#PM_Settings_Content_Rectangle11 {	@include elemWidth(160);
}
#PM_Settings_Content_Rectangle11 {	@include elemHeight(60);
}
#PM_Settings_Content_Rectangle11 {	z-index: 2;
}
#PM_Settings_Content_Rectangle11 {	border-width: 2px;
}
#PM_Settings_Content_Rectangle11 {	background-color: rgba(192, 192, 192, 1);
}
#PM_Settings_Content_Rectangle13 {	@include elemTop(67);
}
#PM_Settings_Content_Rectangle13 {	@include elemLeft(280);
}
#PM_Settings_Content_Rectangle13 {	@include elemWidth(180);
}
#PM_Settings_Content_Rectangle13 {	@include elemHeight(60);
}
#PM_Settings_Content_Rectangle13 {	z-index: 0;
}
#PM_Settings_Content_Rectangle13 {	border-width: 2px;
}
#PM_Settings_Content_Rectangle13 {	background-color: rgba(169, 169, 169, 1);
}
#PM_Settings_Content_Rectangle12 {	@include elemTop(125);
}
#PM_Settings_Content_Rectangle12 {	@include elemLeft(40);
}
#PM_Settings_Content_Rectangle12 {	@include elemWidth(160);
}
#PM_Settings_Content_Rectangle12 {	@include elemHeight(60);
}
#PM_Settings_Content_Rectangle12 {	z-index: 18;
}
#PM_Settings_Content_Rectangle12 {	border-width: 2px;
}
#PM_Settings_Content_Rectangle12 {	background-color: rgba(192, 192, 192, 1);
}
#PM_Settings_Content_Rectangle14 {	@include elemTop(125);
}
#PM_Settings_Content_Rectangle14 {	@include elemLeft(280);
}
#PM_Settings_Content_Rectangle14 {	@include elemWidth(180);
}
#PM_Settings_Content_Rectangle14 {	@include elemHeight(60);
}
#PM_Settings_Content_Rectangle14 {	z-index: 31;
}
#PM_Settings_Content_Rectangle14 {	border-width: 2px;
}
#PM_Settings_Content_Rectangle14 {	background-color: rgba(169, 169, 169, 1);
}
#PM_Settings_Content_Rectangle15 {	@include elemTop(183);
}
#PM_Settings_Content_Rectangle15 {	@include elemLeft(40);
}
#PM_Settings_Content_Rectangle15 {	@include elemWidth(160);
}
#PM_Settings_Content_Rectangle15 {	@include elemHeight(60);
}
#PM_Settings_Content_Rectangle15 {	z-index: 20;
}
#PM_Settings_Content_Rectangle15 {	border-width: 2px;
}
#PM_Settings_Content_Rectangle15 {	background-color: rgba(192, 192, 192, 1);
}
#PM_Settings_Content_Rectangle16 {	@include elemTop(183);
}
#PM_Settings_Content_Rectangle16 {	@include elemLeft(280);
}
#PM_Settings_Content_Rectangle16 {	@include elemWidth(180);
}
#PM_Settings_Content_Rectangle16 {	@include elemHeight(60);
}
#PM_Settings_Content_Rectangle16 {	z-index: 30;
}
#PM_Settings_Content_Rectangle16 {	border-width: 2px;
}
#PM_Settings_Content_Rectangle16 {	background-color: rgba(169, 169, 169, 1);
}
#PM_Settings_Content_Rectangle17 {	@include elemTop(241);
}
#PM_Settings_Content_Rectangle17 {	@include elemLeft(40);
}
#PM_Settings_Content_Rectangle17 {	@include elemWidth(160);
}
#PM_Settings_Content_Rectangle17 {	@include elemHeight(60);
}
#PM_Settings_Content_Rectangle17 {	z-index: 22;
}
#PM_Settings_Content_Rectangle17 {	border-width: 2px;
}
#PM_Settings_Content_Rectangle17 {	background-color: rgba(192, 192, 192, 1);
}
#PM_Settings_Content_Rectangle18 {	@include elemTop(241);
}
#PM_Settings_Content_Rectangle18 {	@include elemLeft(280);
}
#PM_Settings_Content_Rectangle18 {	@include elemWidth(180);
}
#PM_Settings_Content_Rectangle18 {	@include elemHeight(60);
}
#PM_Settings_Content_Rectangle18 {	z-index: 28;
}
#PM_Settings_Content_Rectangle18 {	border-width: 2px;
}
#PM_Settings_Content_Rectangle18 {	background-color: rgba(169, 169, 169, 1);
}
#PM_Settings_Content_Rectangle19 {	@include elemTop(299);
}
#PM_Settings_Content_Rectangle19 {	@include elemLeft(40);
}
#PM_Settings_Content_Rectangle19 {	@include elemWidth(160);
}
#PM_Settings_Content_Rectangle19 {	@include elemHeight(60);
}
#PM_Settings_Content_Rectangle19 {	z-index: 24;
}
#PM_Settings_Content_Rectangle19 {	border-width: 2px;
}
#PM_Settings_Content_Rectangle19 {	background-color: rgba(192, 192, 192, 1);
}
#PM_Settings_Content_Rectangle20 {	@include elemTop(299);
}
#PM_Settings_Content_Rectangle20 {	@include elemLeft(280);
}
#PM_Settings_Content_Rectangle20 {	@include elemWidth(180);
}
#PM_Settings_Content_Rectangle20 {	@include elemHeight(60);
}
#PM_Settings_Content_Rectangle20 {	z-index: 29;
}
#PM_Settings_Content_Rectangle20 {	border-width: 2px;
}
#PM_Settings_Content_Rectangle20 {	background-color: rgba(169, 169, 169, 1);
}
#PM_Settings_Content_Rectangle21 {	@include elemTop(357);
}
#PM_Settings_Content_Rectangle21 {	@include elemLeft(40);
}
#PM_Settings_Content_Rectangle21 {	@include elemWidth(160);
}
#PM_Settings_Content_Rectangle21 {	@include elemHeight(60);
}
#PM_Settings_Content_Rectangle21 {	z-index: 26;
}
#PM_Settings_Content_Rectangle21 {	border-width: 2px;
}
#PM_Settings_Content_Rectangle21 {	background-color: rgba(192, 192, 192, 1);
}
#PM_Settings_Content_Rectangle23 {	@include elemTop(67);
}
#PM_Settings_Content_Rectangle23 {	@include elemLeft(198);
}
#PM_Settings_Content_Rectangle23 {	@include elemWidth(84);
}
#PM_Settings_Content_Rectangle23 {	@include elemHeight(60);
}
#PM_Settings_Content_Rectangle23 {	z-index: 1;
}
#PM_Settings_Content_Rectangle23 {	border-width: 2px;
}
#PM_Settings_Content_Rectangle23 {	background-color: rgba(211, 211, 211, 1);
}
#PM_Settings_Content_Rectangle24 {	@include elemTop(125);
}
#PM_Settings_Content_Rectangle24 {	@include elemLeft(198);
}
#PM_Settings_Content_Rectangle24 {	@include elemWidth(84);
}
#PM_Settings_Content_Rectangle24 {	@include elemHeight(60);
}
#PM_Settings_Content_Rectangle24 {	z-index: 13;
}
#PM_Settings_Content_Rectangle24 {	border-width: 2px;
}
#PM_Settings_Content_Rectangle24 {	background-color: rgba(211, 211, 211, 1);
}
#PM_Settings_Content_Rectangle25 {	@include elemTop(183);
}
#PM_Settings_Content_Rectangle25 {	@include elemLeft(198);
}
#PM_Settings_Content_Rectangle25 {	@include elemWidth(84);
}
#PM_Settings_Content_Rectangle25 {	@include elemHeight(60);
}
#PM_Settings_Content_Rectangle25 {	z-index: 14;
}
#PM_Settings_Content_Rectangle25 {	border-width: 2px;
}
#PM_Settings_Content_Rectangle25 {	background-color: rgba(211, 211, 211, 1);
}
#PM_Settings_Content_Rectangle26 {	@include elemTop(241);
}
#PM_Settings_Content_Rectangle26 {	@include elemLeft(198);
}
#PM_Settings_Content_Rectangle26 {	@include elemWidth(84);
}
#PM_Settings_Content_Rectangle26 {	@include elemHeight(60);
}
#PM_Settings_Content_Rectangle26 {	z-index: 15;
}
#PM_Settings_Content_Rectangle26 {	border-width: 2px;
}
#PM_Settings_Content_Rectangle26 {	background-color: rgba(211, 211, 211, 1);
}
#PM_Settings_Content_Rectangle27 {	@include elemTop(299);
}
#PM_Settings_Content_Rectangle27 {	@include elemLeft(198);
}
#PM_Settings_Content_Rectangle27 {	@include elemWidth(84);
}
#PM_Settings_Content_Rectangle27 {	@include elemHeight(60);
}
#PM_Settings_Content_Rectangle27 {	z-index: 16;
}
#PM_Settings_Content_Rectangle27 {	border-width: 2px;
}
#PM_Settings_Content_Rectangle27 {	background-color: rgba(211, 211, 211, 1);
}
#PM_Settings_Content_Rectangle28 {	@include elemTop(357);
}
#PM_Settings_Content_Rectangle28 {	@include elemLeft(198);
}
#PM_Settings_Content_Rectangle28 {	@include elemWidth(84);
}
#PM_Settings_Content_Rectangle28 {	@include elemHeight(60);
}
#PM_Settings_Content_Rectangle28 {	z-index: 17;
}
#PM_Settings_Content_Rectangle28 {	border-width: 2px;
}
#PM_Settings_Content_Rectangle28 {	background-color: rgba(211, 211, 211, 1);
}
#PM_Settings_Content_TextOutput27 {	@include elemTop(5);
}
#PM_Settings_Content_TextOutput27 {	@include elemLeft(130);
}
#PM_Settings_Content_TextOutput27 {	@include elemAutoWidth(240);
}
#PM_Settings_Content_TextOutput27 {	@include elemAutoHeight(60);
}
#PM_Settings_Content_TextOutput27 {	z-index: 46;
}
#PM_Settings_Content_TextOutput27 {	@include text-alignment-all('center');
}
#PM_Settings_Content_TextOutput27 {	font-size: 20px;
}
#PM_Settings_Content_TextOutput28 {	@include elemTop(440);
}
#PM_Settings_Content_TextOutput28 {	@include elemLeft(50);
}
#PM_Settings_Content_TextOutput28 {	@include elemAutoWidth(140);
}
#PM_Settings_Content_TextOutput28 {	@include elemAutoHeight(60);
}
#PM_Settings_Content_TextOutput28 {	z-index: 47;
}
#PM_Settings_Content_TextOutput28 {	@include text-alignment-all('center');
}
#PM_Settings_Content_TextOutput28 {	font-size: 16px;
}
#PM_Settings_Content_NAOH_CONC {	@include elemAutoHeight(30);
}
#PM_Settings_Content_NAOH_CONC {	@include elemTop(455);
}
#PM_Settings_Content_NAOH_CONC {	@include elemLeft(135);
}
#PM_Settings_Content_NAOH_CONC {	@include elemAutoWidth(140);
}
#PM_Settings_Content_NAOH_CONC {	z-index: 48;
}
#PM_Settings_Content_NI_Write_NAOH_CONC {	@include elemAutoHeight(30);
}
#PM_Settings_Content_NI_Write_NAOH_CONC {	@include elemTop(455);
}
#PM_Settings_Content_NI_Write_NAOH_CONC {	@include elemLeft(290);
}
#PM_Settings_Content_NI_Write_NAOH_CONC {	@include elemAutoWidth(80);
}
#PM_Settings_Content_NI_Write_NAOH_CONC {	z-index: 49;
}
#PM_Settings_Content_PB_Write_NAOH_CONC {	@include elemAutoHeight(30);
}
#PM_Settings_Content_PB_Write_NAOH_CONC {	@include elemTop(455);
}
#PM_Settings_Content_PB_Write_NAOH_CONC {	@include elemLeft(390);
}
#PM_Settings_Content_PB_Write_NAOH_CONC {	@include elemAutoWidth(60);
}
#PM_Settings_Content_PB_Write_NAOH_CONC {	z-index: 50;
}
#PM_Settings_Content_TextOutput29 {	@include elemTop(500);
}
#PM_Settings_Content_TextOutput29 {	@include elemLeft(50);
}
#PM_Settings_Content_TextOutput29 {	@include elemAutoWidth(140);
}
#PM_Settings_Content_TextOutput29 {	@include elemAutoHeight(60);
}
#PM_Settings_Content_TextOutput29 {	z-index: 51;
}
#PM_Settings_Content_TextOutput29 {	@include text-alignment-all('center');
}
#PM_Settings_Content_TextOutput29 {	font-size: 16px;
}
#PM_Settings_Content_HP_CONC {	@include elemAutoHeight(30);
}
#PM_Settings_Content_HP_CONC {	@include elemTop(513);
}
#PM_Settings_Content_HP_CONC {	@include elemLeft(135);
}
#PM_Settings_Content_HP_CONC {	@include elemAutoWidth(140);
}
#PM_Settings_Content_HP_CONC {	z-index: 52;
}
#PM_Settings_Content_NI_Write_HP_CONC {	@include elemAutoHeight(30);
}
#PM_Settings_Content_NI_Write_HP_CONC {	@include elemTop(513);
}
#PM_Settings_Content_NI_Write_HP_CONC {	@include elemLeft(290);
}
#PM_Settings_Content_NI_Write_HP_CONC {	@include elemAutoWidth(80);
}
#PM_Settings_Content_NI_Write_HP_CONC {	z-index: 53;
}
#PM_Settings_Content_PB_Write_HP_CONC {	@include elemAutoHeight(30);
}
#PM_Settings_Content_PB_Write_HP_CONC {	@include elemTop(513);
}
#PM_Settings_Content_PB_Write_HP_CONC {	@include elemLeft(390);
}
#PM_Settings_Content_PB_Write_HP_CONC {	@include elemAutoWidth(60);
}
#PM_Settings_Content_PB_Write_HP_CONC {	z-index: 54;
}
#PM_Settings_Content_Rectangle22 {	@include elemTop(440);
}
#PM_Settings_Content_Rectangle22 {	@include elemLeft(40);
}
#PM_Settings_Content_Rectangle22 {	@include elemWidth(160);
}
#PM_Settings_Content_Rectangle22 {	@include elemHeight(60);
}
#PM_Settings_Content_Rectangle22 {	z-index: 8;
}
#PM_Settings_Content_Rectangle22 {	border-width: 2px;
}
#PM_Settings_Content_Rectangle22 {	background-color: rgba(192, 192, 192, 1);
}
#PM_Settings_Content_Rectangle29 {	@include elemTop(440);
}
#PM_Settings_Content_Rectangle29 {	@include elemLeft(280);
}
#PM_Settings_Content_Rectangle29 {	@include elemWidth(180);
}
#PM_Settings_Content_Rectangle29 {	@include elemHeight(60);
}
#PM_Settings_Content_Rectangle29 {	z-index: 6;
}
#PM_Settings_Content_Rectangle29 {	border-width: 2px;
}
#PM_Settings_Content_Rectangle29 {	background-color: rgba(169, 169, 169, 1);
}
#PM_Settings_Content_Rectangle30 {	@include elemTop(440);
}
#PM_Settings_Content_Rectangle30 {	@include elemLeft(198);
}
#PM_Settings_Content_Rectangle30 {	@include elemWidth(84);
}
#PM_Settings_Content_Rectangle30 {	@include elemHeight(60);
}
#PM_Settings_Content_Rectangle30 {	z-index: 7;
}
#PM_Settings_Content_Rectangle30 {	border-width: 2px;
}
#PM_Settings_Content_Rectangle30 {	background-color: rgba(211, 211, 211, 1);
}
#PM_Settings_Content_Rectangle31 {	@include elemTop(498);
}
#PM_Settings_Content_Rectangle31 {	@include elemLeft(40);
}
#PM_Settings_Content_Rectangle31 {	@include elemWidth(160);
}
#PM_Settings_Content_Rectangle31 {	@include elemHeight(60);
}
#PM_Settings_Content_Rectangle31 {	z-index: 5;
}
#PM_Settings_Content_Rectangle31 {	border-width: 2px;
}
#PM_Settings_Content_Rectangle31 {	background-color: rgba(192, 192, 192, 1);
}
#PM_Settings_Content_Rectangle32 {	@include elemTop(498);
}
#PM_Settings_Content_Rectangle32 {	@include elemLeft(280);
}
#PM_Settings_Content_Rectangle32 {	@include elemWidth(180);
}
#PM_Settings_Content_Rectangle32 {	@include elemHeight(60);
}
#PM_Settings_Content_Rectangle32 {	z-index: 3;
}
#PM_Settings_Content_Rectangle32 {	border-width: 2px;
}
#PM_Settings_Content_Rectangle32 {	background-color: rgba(169, 169, 169, 1);
}
#PM_Settings_Content_Rectangle33 {	@include elemTop(498);
}
#PM_Settings_Content_Rectangle33 {	@include elemLeft(198);
}
#PM_Settings_Content_Rectangle33 {	@include elemWidth(84);
}
#PM_Settings_Content_Rectangle33 {	@include elemHeight(60);
}
#PM_Settings_Content_Rectangle33 {	z-index: 4;
}
#PM_Settings_Content_Rectangle33 {	border-width: 2px;
}
#PM_Settings_Content_Rectangle33 {	background-color: rgba(211, 211, 211, 1);
}
