@import "mixins.scss";
#Services_DirMan_Services_DirMan_Table_User {	@include elemTop(0);
}
#Services_DirMan_Services_DirMan_Table_User {	@include elemLeft(32);
}
#Services_DirMan_Services_DirMan_Table_User {	@include elemWidth(1082);
}
#Services_DirMan_Services_DirMan_Table_User {	@include elemHeight(290);
}
#Services_DirMan_Services_DirMan_Table_User {	z-index: 1;
}
#Services_DirMan_Services_DirMan_Table_User {	&:not(.disabled) {
		border-color: rgba(105, 105, 105, 1);
	}
}
#Services_DirMan_Services_DirMan_Table_User {	border-style: solid;
}
#Services_DirMan_Services_DirMan_Table_User {	border-width: 1px;
}
#Services_DirMan_Services_DirMan_Table_User {	&.breaseTable .horizontalOrientation .dataTables_scrollBody .tableCells tbody tr td:not(.override) {
		padding: 5px;
	}
}
#Services_DirMan_Services_DirMan_Table_User {	&.breaseTable .verticalOrientation .dataTables_scrollBody .tableCells tbody tr td:not(.override) {
		padding: 5px;
	}
}
#Services_DirMan_Services_DirMan_Table_User {	.tableCells tbody tr td:not(.override) {
		font-size: 12px;
	}
}
#Services_DirMan_Services_DirMan_Table_User {	.tableHeader div:not(.override) {
		font-size: 16px;
	}
}
#Services_DirMan_Services_DirMan_Table_User_TableItem_Number {	z-index: 1;
}
#Services_DirMan_Services_DirMan_Table_User_TableItem_Number {	&:not(.headerElement):not(.disabled).override {
		@include importantBoldText(false);
	}
}
#Services_DirMan_Services_DirMan_Table_User_TableItem_Number {	&:not(.headerElement).override.disabled {
		@include importantBoldText(false);
	}
}
#Services_DirMan_Services_DirMan_Table_User_TableItem_Dir {	z-index: 3;
}
#Services_DirMan_Services_DirMan_Table_User_TableItem_Dir {	&:not(.headerElement):not(.disabled).override {
		@include importantBoldText(false);
	}
}
#Services_DirMan_Services_DirMan_Table_User_TableItem_Dir {	&:not(.headerElement).override.disabled {
		@include importantBoldText(false);
	}
}
#Services_DirMan_Services_DirMan_Table_User_TableItem_Path {	z-index: 0;
}
#Services_DirMan_Services_DirMan_Table_User_TableItem_Path {	&:not(.headerElement):not(.disabled).override {
		@include importantBoldText(false);
	}
}
#Services_DirMan_Services_DirMan_Table_User_TableItem_Path {	&:not(.headerElement).override.disabled {
		@include importantBoldText(false);
	}
}
#Services_DirMan_Services_DirMan_Table_User_TableItem_Modified {	z-index: 2;
}
#Services_DirMan_Services_DirMan_Table_User_TableItem_Modified {	&:not(.headerElement):not(.disabled).override {
		@include importantBoldText(false);
	}
}
#Services_DirMan_Services_DirMan_Table_User_TableItem_Modified {	&:not(.headerElement).override.disabled {
		@include importantBoldText(false);
	}
}
#Services_DirMan_Services_DirMan_Table_User_TableItem_Bytes {	z-index: 4;
}
#Services_DirMan_Services_DirMan_Table_User_TableItem_Bytes {	&:not(.headerElement):not(.disabled).override {
		@include importantBoldText(false);
	}
}
#Services_DirMan_Services_DirMan_Table_User_TableItem_Bytes {	&:not(.headerElement).override.disabled {
		@include importantBoldText(false);
	}
}
#Services_DirMan_Services_DirMan_Label_User {	@include elemAutoHeight(30);
}
#Services_DirMan_Services_DirMan_Label_User {	@include elemTop(115);
}
#Services_DirMan_Services_DirMan_Label_User {	@include elemLeft(-103);
}
#Services_DirMan_Services_DirMan_Label_User {	@include elemAutoWidth(240);
}
#Services_DirMan_Services_DirMan_Label_User {	z-index: 2;
}
#Services_DirMan_Services_DirMan_Label_User {	@include text-alignment-all('center');
}
#Services_DirMan_Services_DirMan_Label_User {	@include rotate(270deg);
}
#Services_DirMan_Services_DirMan_Label_User {	font-size: 20px;
}
#Services_DirMan_Services_DirMan_Table_USB {	@include elemTop(341);
}
#Services_DirMan_Services_DirMan_Table_USB {	@include elemLeft(32);
}
#Services_DirMan_Services_DirMan_Table_USB {	@include elemWidth(1082);
}
#Services_DirMan_Services_DirMan_Table_USB {	@include elemHeight(260);
}
#Services_DirMan_Services_DirMan_Table_USB {	z-index: 3;
}
#Services_DirMan_Services_DirMan_Table_USB {	&:not(.disabled) {
		border-color: rgba(105, 105, 105, 1);
	}
}
#Services_DirMan_Services_DirMan_Table_USB {	border-style: solid;
}
#Services_DirMan_Services_DirMan_Table_USB {	border-width: 1px;
}
#Services_DirMan_Services_DirMan_Table_USB {	&.breaseTable .horizontalOrientation .dataTables_scrollBody .tableCells tbody tr td:not(.override) {
		padding: 5px;
	}
}
#Services_DirMan_Services_DirMan_Table_USB {	&.breaseTable .verticalOrientation .dataTables_scrollBody .tableCells tbody tr td:not(.override) {
		padding: 5px;
	}
}
#Services_DirMan_Services_DirMan_Table_USB {	.tableCells tbody tr td:not(.override) {
		font-size: 12px;
	}
}
#Services_DirMan_Services_DirMan_Table_USB {	.tableHeader div:not(.override) {
		font-size: 16px;
	}
}
#Services_DirMan_Services_DirMan_Table_USB_TableItem_Number {	z-index: 1;
}
#Services_DirMan_Services_DirMan_Table_USB_TableItem_Number {	&:not(.headerElement):not(.disabled).override {
		@include importantBoldText(false);
	}
}
#Services_DirMan_Services_DirMan_Table_USB_TableItem_Number {	&:not(.headerElement).override.disabled {
		@include importantBoldText(false);
	}
}
#Services_DirMan_Services_DirMan_Table_USB_TableItem_Dir {	z-index: 3;
}
#Services_DirMan_Services_DirMan_Table_USB_TableItem_Dir {	&:not(.headerElement):not(.disabled).override {
		@include importantBoldText(false);
	}
}
#Services_DirMan_Services_DirMan_Table_USB_TableItem_Dir {	&:not(.headerElement).override.disabled {
		@include importantBoldText(false);
	}
}
#Services_DirMan_Services_DirMan_Table_USB_TableItem_Path {	z-index: 0;
}
#Services_DirMan_Services_DirMan_Table_USB_TableItem_Path {	&:not(.headerElement):not(.disabled).override {
		@include importantBoldText(false);
	}
}
#Services_DirMan_Services_DirMan_Table_USB_TableItem_Path {	&:not(.headerElement).override.disabled {
		@include importantBoldText(false);
	}
}
#Services_DirMan_Services_DirMan_Table_USB_TableItem_Modified {	z-index: 2;
}
#Services_DirMan_Services_DirMan_Table_USB_TableItem_Modified {	&:not(.headerElement):not(.disabled).override {
		@include importantBoldText(false);
	}
}
#Services_DirMan_Services_DirMan_Table_USB_TableItem_Modified {	&:not(.headerElement).override.disabled {
		@include importantBoldText(false);
	}
}
#Services_DirMan_Services_DirMan_Table_USB_TableItem_Bytes {	z-index: 4;
}
#Services_DirMan_Services_DirMan_Table_USB_TableItem_Bytes {	&:not(.headerElement):not(.disabled).override {
		@include importantBoldText(false);
	}
}
#Services_DirMan_Services_DirMan_Table_USB_TableItem_Bytes {	&:not(.headerElement).override.disabled {
		@include importantBoldText(false);
	}
}
#Services_DirMan_Services_DirMan_Label_USB {	@include elemAutoHeight(30);
}
#Services_DirMan_Services_DirMan_Label_USB {	@include elemTop(456);
}
#Services_DirMan_Services_DirMan_Label_USB {	@include elemLeft(-78);
}
#Services_DirMan_Services_DirMan_Label_USB {	@include elemAutoWidth(191);
}
#Services_DirMan_Services_DirMan_Label_USB {	z-index: 4;
}
#Services_DirMan_Services_DirMan_Label_USB {	@include text-alignment-all('center');
}
#Services_DirMan_Services_DirMan_Label_USB {	@include rotate(270deg);
}
#Services_DirMan_Services_DirMan_Label_USB {	font-size: 20px;
}
#Services_DirMan_Services_DirMan_PushButton_Confirm {	@include elemTop(292);
}
#Services_DirMan_Services_DirMan_PushButton_Confirm {	@include elemLeft(853);
}
#Services_DirMan_Services_DirMan_PushButton_Confirm {	@include elemAutoWidth(130);
}
#Services_DirMan_Services_DirMan_PushButton_Confirm {	@include elemAutoHeight(48);
}
#Services_DirMan_Services_DirMan_PushButton_Confirm {	z-index: 5;
}
#Services_DirMan_Services_DirMan_PushButton_Confirm {	img {
		@include imageWidth(40);
	}
}
#Services_DirMan_Services_DirMan_PushButton_Confirm {	svg {
		@include imageWidth(40);
	}
}
#Services_DirMan_Services_DirMan_PushButton_Confirm {	&:not(.active):not(.disabled):not(.checked) svg {
		fill: rgba(0, 204, 0, 1);
	}
}
#Services_DirMan_Services_DirMan_PushButton_Confirm {	span {
		font-size: 14px;
	}
}
#Services_DirMan_Services_DirMan_PushButton_Cancel {	@include elemTop(292);
}
#Services_DirMan_Services_DirMan_PushButton_Cancel {	@include elemLeft(984);
}
#Services_DirMan_Services_DirMan_PushButton_Cancel {	@include elemAutoWidth(130);
}
#Services_DirMan_Services_DirMan_PushButton_Cancel {	@include elemAutoHeight(48);
}
#Services_DirMan_Services_DirMan_PushButton_Cancel {	z-index: 6;
}
#Services_DirMan_Services_DirMan_PushButton_Cancel {	img {
		@include imageWidth(40);
	}
}
#Services_DirMan_Services_DirMan_PushButton_Cancel {	svg {
		@include imageWidth(40);
	}
}
#Services_DirMan_Services_DirMan_PushButton_Cancel {	&:not(.active):not(.disabled):not(.checked) svg {
		fill: rgba(204, 0, 0, 1);
	}
}
#Services_DirMan_Services_DirMan_PushButton_Cancel {	span {
		font-size: 14px;
	}
}
#Services_DirMan_Services_DirMan_TextInput_ParString {	@include elemTop(296);
}
#Services_DirMan_Services_DirMan_TextInput_ParString {	@include elemLeft(431);
}
#Services_DirMan_Services_DirMan_TextInput_ParString {	@include elemAutoWidth(284);
}
#Services_DirMan_Services_DirMan_TextInput_ParString {	@include elemAutoHeight(40);
}
#Services_DirMan_Services_DirMan_TextInput_ParString {	z-index: 7;
}
#Services_DirMan_Services_DirMan_PushButton_Command {	@include elemTop(292);
}
#Services_DirMan_Services_DirMan_PushButton_Command {	@include elemLeft(722);
}
#Services_DirMan_Services_DirMan_PushButton_Command {	@include elemAutoWidth(130);
}
#Services_DirMan_Services_DirMan_PushButton_Command {	@include elemAutoHeight(48);
}
#Services_DirMan_Services_DirMan_PushButton_Command {	z-index: 8;
}
#Services_DirMan_Services_DirMan_PushButton_Command {	img {
		@include imageWidth(30);
	}
}
#Services_DirMan_Services_DirMan_PushButton_Command {	svg {
		@include imageWidth(30);
	}
}
#Services_DirMan_Services_DirMan_PushButton_Command {	span {
		font-size: 14px;
	}
}
#Services_DirMan_Services_DirMan_Label_Refreshing {	@include elemAutoHeight(30);
}
#Services_DirMan_Services_DirMan_Label_Refreshing {	@include elemTop(299);
}
#Services_DirMan_Services_DirMan_Label_Refreshing {	@include elemLeft(-6);
}
#Services_DirMan_Services_DirMan_Label_Refreshing {	@include elemAutoWidth(46);
}
#Services_DirMan_Services_DirMan_Label_Refreshing {	z-index: 9;
}
#Services_DirMan_Services_DirMan_Label_Refreshing {	@include text-alignment-all('center');
}
#Services_DirMan_Services_DirMan_Label_Refreshing {	@include rotate(270deg);
}
#Services_DirMan_Services_DirMan_Label_Refreshing {	font-size: 12px;
}
#Services_DirMan_Services_DirMan_DropDownBox_CommandSelect {	@include elemTop(296);
}
#Services_DirMan_Services_DirMan_DropDownBox_CommandSelect {	@include elemLeft(149);
}
#Services_DirMan_Services_DirMan_DropDownBox_CommandSelect {	&.DropDownBoxView {
		@include elemWidth(275);
	}
}
#Services_DirMan_Services_DirMan_DropDownBox_CommandSelect {	&.DropDownBoxView {
		@include elemHeight(40);
	}
}
#Services_DirMan_Services_DirMan_DropDownBox_CommandSelect {	z-index: 10;
}
#Services_DirMan_Services_DirMan_DropDownBox_CommandSelect {	& .TextView {
		@include text-alignment(center);
	}
}
#Services_DirMan_Services_DirMan_DropDownBox_CommandSelect_listBoxWrapper {	& .TextView {
		@include text-alignment(center);
	}
}
#Services_DirMan_Services_DirMan_DropDownBox_CommandSelect {	& .TextView {
		font-size: 14px;
	}
}
#Services_DirMan_Services_DirMan_DropDownBox_CommandSelect_listBoxWrapper {	& .TextView {
		font-size: 14px;
	}
}
#Services_DirMan_Services_DirMan_PushButton_Refresh {	@include elemTop(292);
}
#Services_DirMan_Services_DirMan_PushButton_Refresh {	@include elemLeft(31);
}
#Services_DirMan_Services_DirMan_PushButton_Refresh {	@include elemAutoWidth(110);
}
#Services_DirMan_Services_DirMan_PushButton_Refresh {	@include elemAutoHeight(48);
}
#Services_DirMan_Services_DirMan_PushButton_Refresh {	z-index: 0;
}
#Services_DirMan_Services_DirMan_PushButton_Refresh {	img {
		@include imageHeight(25);
	}
}
#Services_DirMan_Services_DirMan_PushButton_Refresh {	svg {
		@include imageHeight(25);
	}
}
#Services_DirMan_Services_DirMan_PushButton_Refresh {	img {
		@include imageWidth(25);
	}
}
#Services_DirMan_Services_DirMan_PushButton_Refresh {	svg {
		@include imageWidth(25);
	}
}
#Services_DirMan_Services_DirMan_PushButton_Refresh {	span {
		font-size: 14px;
	}
}
