@import "mixins.scss";
#HA_IO_Analog_Scaling_IO_Label {	@include elemTop(0);
}
#HA_IO_Analog_Scaling_IO_Label {	@include elemLeft(0);
}
#HA_IO_Analog_Scaling_IO_Label {	@include elemAutoWidth(120);
}
#HA_IO_Analog_Scaling_IO_Label {	@include elemAutoHeight(35);
}
#HA_IO_Analog_Scaling_IO_Label {	z-index: 0;
}
#HA_IO_Analog_Scaling_IO_Label {	@include text-alignment-all('right');
}
#HA_IO_Analog_Scaling_IO_Label {	font-size: 12px;
}
#HA_IO_Analog_Scaling_IO_Label {	@include font-weight-bold(true);
}
#HA_IO_Analog_Scaling_IO_NumericOutputRaw {	@include elemTop(0);
}
#HA_IO_Analog_Scaling_IO_NumericOutputRaw {	@include elemLeft(125);
}
#HA_IO_Analog_Scaling_IO_NumericOutputRaw {	@include elemAutoWidth(110);
}
#HA_IO_Analog_Scaling_IO_NumericOutputRaw {	@include elemAutoHeight(35);
}
#HA_IO_Analog_Scaling_IO_NumericOutputRaw {	z-index: 1;
}
#HA_IO_Analog_Scaling_IO_NumericOutputRaw {	input {
		@include text-alignment(center);
	}
}
#HA_IO_Analog_Scaling_IO_NumericOutputRaw {	input {
		font-size: 12px;
	}
}
#HA_IO_Analog_Scaling_IO_NumericOutputRaw {	.breaseNumericOutput_unit {
		font-size: 12px;
	}
}
#HA_IO_Analog_Scaling_IO_NumericOutputRaw {	padding: 0px 5px 0px 5px;
}
#HA_IO_Analog_Scaling_IO_NumericOutputApp {	@include elemTop(0);
}
#HA_IO_Analog_Scaling_IO_NumericOutputApp {	@include elemLeft(240);
}
#HA_IO_Analog_Scaling_IO_NumericOutputApp {	@include elemAutoWidth(105);
}
#HA_IO_Analog_Scaling_IO_NumericOutputApp {	@include elemAutoHeight(35);
}
#HA_IO_Analog_Scaling_IO_NumericOutputApp {	z-index: 2;
}
#HA_IO_Analog_Scaling_IO_NumericOutputApp {	input {
		@include text-alignment(center);
	}
}
#HA_IO_Analog_Scaling_IO_NumericOutputApp {	input {
		font-size: 12px;
	}
}
#HA_IO_Analog_Scaling_IO_NumericOutputApp {	.breaseNumericOutput_unit {
		font-size: 12px;
	}
}
#HA_IO_Analog_Scaling_IO_NumericOutputApp {	padding: 0px 5px 0px 5px;
}
#HA_IO_Analog_Scaling_IO_NumericInputSlope {	@include elemTop(0);
}
#HA_IO_Analog_Scaling_IO_NumericInputSlope {	@include elemLeft(350);
}
#HA_IO_Analog_Scaling_IO_NumericInputSlope {	@include elemAutoWidth(105);
}
#HA_IO_Analog_Scaling_IO_NumericInputSlope {	@include elemAutoHeight(35);
}
#HA_IO_Analog_Scaling_IO_NumericInputSlope {	z-index: 3;
}
#HA_IO_Analog_Scaling_IO_NumericInputSlope {	input {
		@include text-alignment(center);
	}
}
#HA_IO_Analog_Scaling_IO_NumericInputSlope {	input {
		font-size: 12px;
	}
}
#HA_IO_Analog_Scaling_IO_NumericInputSlope {	.breaseNumericInput_unit {
		font-size: 12px;
	}
}
#HA_IO_Analog_Scaling_IO_NumericInputSlope {	padding: 0px 5px 0px 5px;
}
#HA_IO_Analog_Scaling_IO_NumericInputIntercept {	@include elemTop(0);
}
#HA_IO_Analog_Scaling_IO_NumericInputIntercept {	@include elemLeft(460);
}
#HA_IO_Analog_Scaling_IO_NumericInputIntercept {	@include elemAutoWidth(105);
}
#HA_IO_Analog_Scaling_IO_NumericInputIntercept {	@include elemAutoHeight(35);
}
#HA_IO_Analog_Scaling_IO_NumericInputIntercept {	z-index: 4;
}
#HA_IO_Analog_Scaling_IO_NumericInputIntercept {	input {
		@include text-alignment(center);
	}
}
#HA_IO_Analog_Scaling_IO_NumericInputIntercept {	input {
		font-size: 12px;
	}
}
#HA_IO_Analog_Scaling_IO_NumericInputIntercept {	.breaseNumericInput_unit {
		font-size: 12px;
	}
}
#HA_IO_Analog_Scaling_IO_NumericInputIntercept {	padding: 0px 5px 0px 5px;
}
#HA_IO_Analog_Scaling_IO_NumericInputFilter {	@include elemTop(0);
}
#HA_IO_Analog_Scaling_IO_NumericInputFilter {	@include elemLeft(570);
}
#HA_IO_Analog_Scaling_IO_NumericInputFilter {	@include elemAutoWidth(105);
}
#HA_IO_Analog_Scaling_IO_NumericInputFilter {	@include elemAutoHeight(35);
}
#HA_IO_Analog_Scaling_IO_NumericInputFilter {	z-index: 5;
}
#HA_IO_Analog_Scaling_IO_NumericInputFilter {	input {
		@include text-alignment(center);
	}
}
#HA_IO_Analog_Scaling_IO_NumericInputFilter {	input {
		font-size: 12px;
	}
}
#HA_IO_Analog_Scaling_IO_NumericInputFilter {	.breaseNumericInput_unit {
		font-size: 12px;
	}
}
#HA_IO_Analog_Scaling_IO_NumericInputFilter {	padding: 0px 5px 0px 5px;
}
#HA_IO_Analog_Scaling_IO_NumericInputMin {	@include elemTop(0);
}
#HA_IO_Analog_Scaling_IO_NumericInputMin {	@include elemLeft(680);
}
#HA_IO_Analog_Scaling_IO_NumericInputMin {	@include elemAutoWidth(105);
}
#HA_IO_Analog_Scaling_IO_NumericInputMin {	@include elemAutoHeight(35);
}
#HA_IO_Analog_Scaling_IO_NumericInputMin {	z-index: 6;
}
#HA_IO_Analog_Scaling_IO_NumericInputMin {	input {
		@include text-alignment(center);
	}
}
#HA_IO_Analog_Scaling_IO_NumericInputMin {	input {
		font-size: 12px;
	}
}
#HA_IO_Analog_Scaling_IO_NumericInputMin {	.breaseNumericInput_unit {
		font-size: 12px;
	}
}
#HA_IO_Analog_Scaling_IO_NumericInputMin {	padding: 0px 5px 0px 5px;
}
#HA_IO_Analog_Scaling_IO_NumericInputMax {	@include elemTop(0);
}
#HA_IO_Analog_Scaling_IO_NumericInputMax {	@include elemLeft(790);
}
#HA_IO_Analog_Scaling_IO_NumericInputMax {	@include elemAutoWidth(105);
}
#HA_IO_Analog_Scaling_IO_NumericInputMax {	@include elemAutoHeight(35);
}
#HA_IO_Analog_Scaling_IO_NumericInputMax {	z-index: 7;
}
#HA_IO_Analog_Scaling_IO_NumericInputMax {	input {
		@include text-alignment(center);
	}
}
#HA_IO_Analog_Scaling_IO_NumericInputMax {	input {
		font-size: 12px;
	}
}
#HA_IO_Analog_Scaling_IO_NumericInputMax {	.breaseNumericInput_unit {
		font-size: 12px;
	}
}
#HA_IO_Analog_Scaling_IO_NumericInputMax {	padding: 0px 5px 0px 5px;
}
