@import "mixins.scss";
#HA_IO_Digital_Scaling_Labels_Label_IO {	@include elemTop(0);
}
#HA_IO_Digital_Scaling_Labels_Label_IO {	@include elemLeft(125);
}
#HA_IO_Digital_Scaling_Labels_Label_IO {	@include elemAutoWidth(30);
}
#HA_IO_Digital_Scaling_Labels_Label_IO {	@include elemAutoHeight(35);
}
#HA_IO_Digital_Scaling_Labels_Label_IO {	z-index: 100;
}
#HA_IO_Digital_Scaling_Labels_Label_IO {	@include text-alignment-all('center bottom');
}
#HA_IO_Digital_Scaling_Labels_Label_IO {	font-size: 12px;
}
#HA_IO_Digital_Scaling_Labels_Label_IO {	span {
		padding: 0px;
	}
}
#HA_IO_Digital_Scaling_Labels_Label_Filtered {	@include elemTop(0);
}
#HA_IO_Digital_Scaling_Labels_Label_Filtered {	@include elemLeft(154);
}
#HA_IO_Digital_Scaling_Labels_Label_Filtered {	@include elemAutoWidth(30);
}
#HA_IO_Digital_Scaling_Labels_Label_Filtered {	@include elemAutoHeight(35);
}
#HA_IO_Digital_Scaling_Labels_Label_Filtered {	z-index: 102;
}
#HA_IO_Digital_Scaling_Labels_Label_Filtered {	@include text-alignment-all('center bottom');
}
#HA_IO_Digital_Scaling_Labels_Label_Filtered {	font-size: 12px;
}
#HA_IO_Digital_Scaling_Labels_Label_Filtered {	span {
		padding: 0px;
	}
}
#HA_IO_Digital_Scaling_Labels_Label_Invert {	@include elemTop(0);
}
#HA_IO_Digital_Scaling_Labels_Label_Invert {	@include elemLeft(188);
}
#HA_IO_Digital_Scaling_Labels_Label_Invert {	@include elemAutoWidth(40);
}
#HA_IO_Digital_Scaling_Labels_Label_Invert {	@include elemAutoHeight(35);
}
#HA_IO_Digital_Scaling_Labels_Label_Invert {	z-index: 103;
}
#HA_IO_Digital_Scaling_Labels_Label_Invert {	@include text-alignment-all('center bottom');
}
#HA_IO_Digital_Scaling_Labels_Label_Invert {	font-size: 12px;
}
#HA_IO_Digital_Scaling_Labels_Label_Invert {	span {
		padding: 0px;
	}
}
#HA_IO_Digital_Scaling_Labels_Label_FilterOn {	@include elemTop(0);
}
#HA_IO_Digital_Scaling_Labels_Label_FilterOn {	@include elemLeft(237);
}
#HA_IO_Digital_Scaling_Labels_Label_FilterOn {	@include elemAutoWidth(100);
}
#HA_IO_Digital_Scaling_Labels_Label_FilterOn {	@include elemAutoHeight(35);
}
#HA_IO_Digital_Scaling_Labels_Label_FilterOn {	z-index: 104;
}
#HA_IO_Digital_Scaling_Labels_Label_FilterOn {	@include text-alignment-all('center bottom');
}
#HA_IO_Digital_Scaling_Labels_Label_FilterOn {	font-size: 12px;
}
#HA_IO_Digital_Scaling_Labels_Label_FilterOn {	span {
		padding: 0px;
	}
}
#HA_IO_Digital_Scaling_Labels_Label_FilterOff {	@include elemTop(0);
}
#HA_IO_Digital_Scaling_Labels_Label_FilterOff {	@include elemLeft(352);
}
#HA_IO_Digital_Scaling_Labels_Label_FilterOff {	@include elemAutoWidth(100);
}
#HA_IO_Digital_Scaling_Labels_Label_FilterOff {	@include elemAutoHeight(35);
}
#HA_IO_Digital_Scaling_Labels_Label_FilterOff {	z-index: 105;
}
#HA_IO_Digital_Scaling_Labels_Label_FilterOff {	@include text-alignment-all('center bottom');
}
#HA_IO_Digital_Scaling_Labels_Label_FilterOff {	font-size: 12px;
}
#HA_IO_Digital_Scaling_Labels_Label_FilterOff {	span {
		padding: 0px;
	}
}
#HA_IO_Digital_Scaling_Labels_Line_Underline {	z-index: 106;
}
