<?xml version="1.0" encoding="utf-8"?>
<SnippetDefinition xmlns="http://www.br-automation.com/iat2014/snippet/runtime/v1">
  <Snippet id="P201_STATUS" type="IndexText" formatItem="DOSE_Status.{0}" />
  <Snippet id="P202_STATUS" type="IndexText" formatItem="DOSE_Status.{0}" />
  <Snippet id="P203_STATUS" type="IndexText" formatItem="DOSE_Status.{0}" />
  <Snippet id="PM_STATUS" type="IndexText" formatItem="PM_Status.{0}" />
  <Snippet id="UNIT_STATUS" type="IndexText" formatItem="SKID_Status.{0}" />
</SnippetDefinition>