@import "mixins.scss";
@mixin widgets_brease_XYChart_Graph_base {
	&:not(.disabled) {
		color: #FF0000;
	}
	&.disabled {
		color: #DBDBDB;
	}
	border-width: 3px;

}

.widgets_brease_XYChart_Graph_style_default {
@include widgets_brease_XYChart_Graph_base
}
